<div class="pg-inner-row mb-40">
    <div class="pg-inner-col">
        <h4 class="m0">Payment Informations</h4>
    </div>
</div>

<div class="default-input-wrapper full-row">
    <div class="p-info-card">
        <h4>Payment Info<span>SDD12458D</span></h4>
        <h5>Billing Info</h5>
        <dl>
            <dt>Application No</dt>
            <dd>2019/25</dd>
        </dl>
        <dl>
            <dt>Payment Method</dt>
            <dd>online</dd>
        </dl>
        <div class="p-info-card-bottom">
            <span>LKR 1,000.00</span>
        </div>
    </div>

    <a href="#" class="pdf-link">Save PDF <i class="material-icons">vertical_align_bottom</i></a>
</div>
