<div class="page-header-default">
  <h2>{{'CITIZEN.CITI_EDIT_TIT'|translate}}</h2>
  <p>{{'CITIZEN.CITI_EDIT_TIT1'|translate}}<br />{{'CITIZEN.CITI_EDIT_TIT2'|translate}}</p>
  <a [routerLink]="['/dashboard']" class="phd-back-btn">
    <i class="material-icons">keyboard_backspace</i>
  </a>
</div>
<div class="page-content-wrapper">
  <div class="page-content-inner-wrapper">
    <mat-tab-group>
      <mat-tab label="{{'CITIZEN.APPL'|translate}}">
        <app-citizen-application></app-citizen-application>
      </mat-tab>
        <mat-tab label="{{'CITIZEN.PAYMENT_INFO'|translate}}">
        <app-citizen-payment-info></app-citizen-payment-info>
      </mat-tab>
      <mat-tab label="{{'CITIZEN.REMARK'|translate}}">
        <app-citizen-remark></app-citizen-remark>
      </mat-tab>
      <mat-tab label="{{'CITIZEN.SUP_DOCS'|translate}}">
        <app-citizen-supporting-doc-details></app-citizen-supporting-doc-details>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
