<!-- Header Home page -->
<!-- <ng-container *ngIf="appConfig?.header"> -->

  <!-- ###### Default Header ###### -->

  <div [ngClass]="isHome ? 'header transparent' : 'header default'">
    <div class="header-inner">
      <div class="header-left">
        <a class="logo">
          <img src="assets/images/logo-dark.png" alt="E-Land Logo" />
        </a>
      </div>
      <div class="header-right">
        <div class="navigation" [ngClass]="status ? 'active' : 'in-active'">
          <button class="mobile-nav-btn" (click)="clickEvent()">
            <i class="material-icons nav">reorder</i>
            <i class="material-icons close">close</i>
          </button>
          <ul>
            <li>
              <a href="#">News</a>
            </li>
            <li>
              <a href="#">Gallery</a>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
          </ul>
        </div>
        <div class="hr-button-wrapper">
          <div class="user-profile" [ngClass]="langDropdown ? 'active' : 'in-active'">
            <span class="user-title" (click)="clickLangDropdown()">{{selectedLanguage.label}} <i
              class="material-icons">arrow_drop_down</i></span>
            <ul class="up-dropdown">
              <li *ngFor="let language of languages">
                <a (click)="changeLanguage(language)" >{{language.label}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="appConfig?.user" class="hr-button-wrapper">
          <!-- <button mat-raised-button [routerLink]="['/login']">Login</button> -->
          <div class="user-profile" [ngClass]="dropdown ? 'active' : 'in-active'">
            <span class="user-title" (click)="clickDropdown()">{{userName}}<i
                class="material-icons">arrow_drop_down</i></span>
            <ul class="up-dropdown">
              <li>
                <a (click)="clickDropdown()" [routerLink]="['/edit-profile']">Edit Profile</a>
              </li>

              <!-- Public user Edit 
                  <li>
                      <a href="" [routerLink]="['/edit-public-profile']">Edit Profile</a>
                  </li> -->

              <li>
                <a (click)="logout(); clickDropdown();">Logout</a>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="!appConfig?.user && !isLogin" class="hr-button-wrapper">
          <button mat-raised-button [routerLink]="['/login']">Login</button>
        </div>
      </div>
    </div>
  </div>
<!-- </ng-container> -->