<!-- Header Home page -->
<!-- <ng-container *ngIf="appConfig?.header"> -->

<!-- ###### Default Header ###### -->

<div [ngClass]="isHome ? 'header transparent' : 'header default'">
  <div class="header-inner">
    <div class="header-left">
      <a class="logo">
        <img src="assets/images/logo-dark.png" alt="E-Land Logo"/>
      </a>
    </div>
    <div class="header-right">
      <div *ngIf="!isHome" class="navigation" [ngClass]="status ? 'active' : 'in-active'">
        <button class="mobile-nav-btn" (click)="clickEvent()">
          <i class="material-icons nav">reorder</i>
          <i class="material-icons close">close</i>
        </button>
        <!-- <ul>
          <li>
            <a>News</a>
          </li>
          <li>
            <a>Gallery</a>
          </li>
          <li>
            <a>Services</a>
          </li>
          <li>
            <a>About</a>
          </li>
        </ul> -->
      </div>
      <div class="hr-button-wrapper" *ngIf="!isHome">
        <div class="user-profile" [ngClass]="langDropdown ? 'active' : 'in-active'">
            <span class="user-title" (click)="clickLangDropdown()">{{selectedLanguage.label}} <i
              class="material-icons">arrow_drop_down</i></span>
          <ul class="up-dropdown">
            <li *ngFor="let language of languages">
              <a style="cursor: pointer;" (click)="changeLanguage(language)">{{language.label}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="userDetails" class="hr-button-wrapper">
        <div class="user-profile" [ngClass]="dropdown ? 'active' : 'in-active'">
            <span class="user-title" style="cursor: pointer;" (click)="clickDropdown()">
              {{userDetails?.nameEng}}
              <i class="material-icons">arrow_drop_down</i>
            </span>
          <ul class="up-dropdown">
            <li *ngIf="userDetails.type === USER_TYPE.NOTARY && userDetails.userStatus === COMMON_STATUS.ACTIVE">
              <a style="cursor: pointer;" (click)="clickDropdown()" [routerLink]="['/edit-profile']">Edit Profile</a>
            </li>
            <li>
              <a style="cursor: pointer;" (click)="logout(); clickDropdown();">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="!userDetails && !isLogin" class="hr-button-wrapper">
        <button mat-raised-button [routerLink]="['/login']">Login</button>
      </div>
    </div>
  </div>
</div>
<!-- </ng-container> -->
