<div class="page-content-wrapper" >
  <div class="page-content-inner-wrapper">

    <div class="pg-inner-row mb-20">
      <h5 class="mb-20"><i class="material-icons">description</i>
        APPLICATION FOR CHANGING THE JUDICIAL ZONE
      </h5>
      <!--<div class="separator">&nbsp;</div>-->
    </div>
    <form [formGroup]="requestForm" class="form pb-5">


      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'CHG_LANDREG.NOTARY_NAME'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput formControlName="notaryName"  [readonly]="true">
              </mat-form-field>

            </div>
          </div>
        </div>


      </div>
      <div class="pg-inner-row mb-20">
      <div class="pg-inner-col-12">
        <div class="default-input-wrapper full-row">
          <label> {{'CHG_LANDREG.REASON'|translate}}</label>
          <div class="default-input-feild">
            <mat-form-field appearance="outline" >
              <textarea matInput rows="5" formControlName="reason"   [readonly]="true" ></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      </div>

      <div class="separator">&nbsp;</div>

      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'CHG_LANDREG.NOTARY_ID'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput formControlName="notaryId"  [readonly]="true">
              </mat-form-field>

            </div>
          </div>
        </div>

        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'CHG_LANDREG.NEW_LAN_REG'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput formControlName="newLandregistry"  [readonly]="true">
              </mat-form-field>

            </div>
          </div>
        </div>

      </div>
      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'CHG_LANDREG.PER_ADD'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput formControlName="address"  [readonly]="true">
              </mat-form-field>

            </div>
          </div>
        </div>

      </div>



    </form>
  </div>
</div>
