<div class="header transparent">
    <div class="header-left">
        <a href="#" class="logo">
            <img src="../../assets/images/logo.svg" alt="E-Land Logo" />
        </a>
    </div>
    <div class="header-right">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">News</a>
                </li>
                <li>
                    <a href="#">Gallery</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
        <div class="hr-button-wrapper">
            <button mat-raised-button class="color-blue">Login</button>
        </div>          
    </div>
</div>

<!-- <div class="header default">
    2
</div>

<div class="header user-profile">
    3
</div> -->