<div class="fc-component-wrapper">
  <div class="fc-component-content">
    <div class="fc-component-inner-col" >
      <form *ngIf="users.length < 1" name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

        <mat-card>
          <mat-card-header>
            <mat-card-title id="title">{{'FORGOT_PSWD.TITLE'|translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row" id="row1">
              <mat-label>{{'FORGOT_PSWD.TITLE2'|translate}}</mat-label>
            </div>
            <div class="row" id="row2">
              <mat-radio-group formControlName="type" class="form-control">
                <mat-radio-button class="example-margin" [value]="UserType.NOTARY">{{'FORGOT_PSWD.NOTARY'|translate}}</mat-radio-button>
                <mat-radio-button class="example-margin" [value]="UserType.CITIZEN">{{'FORGOT_PSWD.CITIZEN'|translate}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <br>
            <div class="row">
              <mat-form-field appearance="outline">
                <input matInput formControlName="email" placeholder="Email">
                <mat-icon matSuffix style="color: #A7A6A6;">mail</mat-icon>
                <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                  {{'FORGOT_PSWD.VALID_EMAIL'|translate}}
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                  {{'FORGOT_PSWD.VALID_EMAIL'|translate}}
                </mat-error>
              </mat-form-field>
              <mat-error>
                {{message}}
              </mat-error>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button aria-label="SEND RESET LINK"
                    [disabled]="forgotPasswordForm.invalid" (click)="verifyEmail()">
              <mat-icon>
                <mat-spinner diameter="20" *ngIf="processing"></mat-spinner>
              </mat-icon>
              {{'FORGOT_PSWD.BUTTON1'|translate}}
            </button>
            <a class="link pl-5" style="margin-left: 20px" [routerLink]="'/login'">{{'FORGOT_PSWD.BUTTON2'|translate}}</a>
          </mat-card-actions>
        </mat-card>
      </form>

      <mat-card *ngIf="users.length > 1">
        <mat-card-header>
          <mat-card-title> {{'FORGOT_PSWD.TITLE3'|translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card *ngFor="let user of users" (click)="selectUser(user.username)">
            <mat-card-subtitle>{{user.username}}</mat-card-subtitle>
            <span>{{user.userroleCode}}</span>
          </mat-card>
        </mat-card-content>
        <mat-card-actions>
          <a class="link pl-5" (click)="resetUser()"> {{'FORGOT_PSWD.BACK'|translate}}</a>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="processing && users.length > 0">
        <mat-card-header>
          <mat-card-title>Sending email....</mat-card-title>
        </mat-card-header>
        <mat-card-content style="text-align: -webkit-center">
          <mat-spinner color="accent" diameter="100"></mat-spinner>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
