
<form class="form-horizontal"  [formGroup]="notaryForm" >
      <div *ngIf="editable" class="pg-inner-row mb-20">
        <div class="right">
          <div class="default-input-wrapper m0 rac-col">
            <label>{{'CHANGE_NAME.LANGUAGE'|translate}} <span class="redtxt">*</span></label>
            <div class="default-input-feild">
              <section class="example-section">
                <mat-checkbox class="pr-3" disabled="true" [checked]="true" (change)="addLanguageList(3)">{{'CHANGE_NAME.ENGLISH'|translate}}</mat-checkbox>
                <mat-checkbox class="pr-3" (change)="addLanguageList(1)">{{'CHANGE_NAME.SINHALA'|translate}}</mat-checkbox>
                <mat-checkbox class="pr-3" (change)="addLanguageList(2)">{{'CHANGE_NAME.TAMIL'|translate}}</mat-checkbox>
              </section>
            </div>
          </div>
        </div>
      </div>

      <div class="default-input-wrapper full-row">
        <label>{{'CHANGE_NAME.NAME_TITLE'|translate}} <span class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <select matNativeControl required  formControlName="title"  class="form-control">
              <option value="0" disabled>{{'CHANGE_NAME.SELECT_TITLE'|translate}}</option>
              <option *ngFor="let title of nameTitles"
                      [value]="title.nameTitleId"
              >
                {{title.titleEng|listTranslate:title.titleSin:title.titleTam}}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
      <div class="default-input-wrapper full-row">
        <label>{{'CHANGE_NAME.NWI_E'|translate}} <span class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput class="form-control" formControlName="newInitialNameInEnglish">
          </mat-form-field>
        </div>
      </div>
      <div class="default-input-wrapper full-row">
        <label>{{'CHANGE_NAME.FULL_NAME_E'|translate}}<span class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput class="form-control" formControlName="newFullNameInEnglish">
          </mat-form-field>
        </div>
      </div>
      <div class="default-input-wrapper full-row">
        <label>{{'CHANGE_NAME.NWI_S'|translate}} <span *ngIf="isSinhala" class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput class="form-control" formControlName="newInitialNameInSinhala">
          </mat-form-field>
        </div>
      </div>
      <div class="default-input-wrapper full-row">
        <label>{{'CHANGE_NAME.FULL_NAME_S'|translate}}<span *ngIf="isSinhala" class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput class="form-control" formControlName="newFullNameInSinhala">
          </mat-form-field>
        </div>
      </div>
      <div class="default-input-wrapper full-row">
        <label>{{'CHANGE_NAME.NWI_T'|translate}} <span *ngIf="isTamil" class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput class="form-control" formControlName="newInitialNameInTamil">
          </mat-form-field>
        </div>
      </div>
      <div class="default-input-wrapper full-row">
        <label>{{'CHANGE_NAME.FULL_NAME_T'|translate}} <span *ngIf="isTamil" class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput class="form-control" formControlName="newFullNameInTamil">
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="editable">
        <div class="separator mt-30">&nbsp;</div>

        <div class="pg-inner-row mb-20 upload-col-3">
        <div class="pg-inner-col-3" *ngFor="let doc of docList">
          <div class="default-input-wrapper full-row">
            <label
            >{{doc.description|listTranslate:doc.descriptionSin:doc.descriptionTam}}
              <span *ngIf="doc.required">*</span></label>
            <file-upload-input (response)="setFiles($event, doc.docTypeId)"></file-upload-input>
          </div>
        </div>
      </div>

      </div>
      <div class="pg-inner-col float-right">
        <button *ngIf="editable" mat-raised-button class="lg-button float-right" (click)="onFormSubmit()">{{'CHANGE_NAME.CHG_DETAILS'|translate}}</button>
      </div>
</form>
