<!-- CONTENT -->
<div class="content p-24">

  <div class="mb-24" style="text-align: -webkit-center">
    <div style="width: 400px; text-align: center;margin-top: 50px">
      <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

        <mat-card>
          <mat-card-header>
            <mat-card-title *ngIf="!tokenExpired" style="margin-left: 80px">Reset Your Password</mat-card-title>
          </mat-card-header>
          <mat-card-content *ngIf="!tokenExpired">
            <mat-form-field appearance="outline">
              <input matInput type="password" formControlName="password" placeholder="New Password">
              <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
              <mat-error *ngIf="forgotPasswordForm.get('password').hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
              <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
              <mat-error *ngIf="forgotPasswordForm.get('confirmPassword').errors.ConfirmPassword">
                Passsword and ConfirmPassword didn't match
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-content *ngIf="tokenExpired">
            <h1 style="color: red;">Your Session is Expired!</h1>
          </mat-card-content>
          <mat-card-actions *ngIf="!tokenExpired">
            <button mat-raised-button class="submit-button" color="accent" aria-label="SEND RESET LINK"
                    [disabled]="forgotPasswordForm.get('confirmPassword').errors.ConfirmPassword"
                    (click)="resetPassword()">
              <mat-icon>
                <mat-spinner diameter="20" *ngIf="processing"></mat-spinner>
              </mat-icon>
              Reset
            </button>
            <a class="link pl-5" [routerLink]="'/login'">Go back to login</a>
          </mat-card-actions>
        </mat-card>
      </form>

    </div>
  </div>
