<div id="payment" class="page-layout simple fullwidth" fxLayout="column">
<div  class="row">
  <mat-card class="mb-10 mt-10 ml-10 mr-10 mat-elevation-z5" *ngFor="let doc of supportingDocuments; let i = index">
    <mat-card-header>
      <mat-card-title>
        {{doc.name}}
      </mat-card-title>
    </mat-card-header>
    
    <div class="pg-inner-row mb-20">
      <div class="pg-inner-col">
        <ngx-image-viewer
        [src]="doc.pages"
        [config]="{
          btnIcons: {
            zoomIn: 'open_with',
            zoomOut: 'fa fa-minus',
            rotateClockwise: 'fa fa-repeat',
            rotateCounterClockwise: 'fa fa-undo',
            next: 'fa fa-arrow-right',
            prev: 'fa fa-arrow-left',
            fullscreen: 'material-icons open_with'
          },
          btnShow: {
            zoomIn: true,
            zoomOut: true,
            rotateClockwise: false,
            rotateCounterClockwise: false,
            next: true,
            prev: true
          }
        }"
      >
      </ngx-image-viewer>
      </div>
    </div>
  </mat-card>

    <div *ngIf="isEdit" class="pg-inner-row mt-40 mb-20 upload-col-3">
      <div class="pg-inner-col-3" *ngFor="let doc of workflowStageDocTypes">
        <div class="default-input-wrapper full-row">
          <label
          >{{doc.description}}
            <span *ngIf="doc.required">*</span></label>
          <file-upload-input (response)="setFiles($event, doc.docTypeId, doc.required)"></file-upload-input>
        </div>
      </div>
    </div>
</div>

<div class="pg-inner-col float-right" *ngIf="isEdit">
  <button [disabled]="uploadedDocs.length == 0" mat-raised-button class="button float-right" type="button" (click)="updateCitizenSupportingDocs()">Update</button>
</div>

</div>

