<div class="default-input-wrapper full-row">
<table class="table">
  <thead>
  <tr >
    <th  style="min-width: 40%">Application No</th>
    <th  style="min-width: 50%">Payment Method</th>
    <th  style="min-width: 50%">Amount</th>
    <th  style="min-width: 10%">Payment ID</th>
    <th  style="min-width: 50%">Payment Date</th>
    <th  style="min-width: 50%">Status</th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let item of paymentDetails; let i=index">
    <td  style="min-width: 40%">{{item.applicationNo}}</td>
    <td  style="min-width: 50%">{{item.paymentType}}</td>
    <td  style="min-width: 50%">{{item.amount}}</td>
    <td  style="min-width: 10%">{{item.paymentId}}</td>
    <td  style="min-width: 50%">{{item.paymentDate}}</td>
    <td  style="min-width: 50%">{{item.status}}</td>
  </tr>
  </tbody>
</table>
</div>
