<div class="page-header-default">
  <h2>{{'NOTARY.NOTARY_EDIT_PROFILE'|translate}}</h2>
  <p>{{'NOTARY.NOTARY_EDIT_PROFILE_FILL_INFO'|translate}}</p>
  <a style="cursor: pointer" (click)="onBack.emit(true)" class="phd-back-btn">
    <i class="material-icons">keyboard_backspace</i>
  </a>
</div>
<div class="page-content-wrapper">
  <div class="page-content-inner-wrapper">
    <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event,$event)">
      <mat-tab label="{{'NOTARY.NOTARY_APPLICATION'|translate}}">
        <app-last-remark
          *ngIf="workflowStage === NewNotaryRegistrationWorkflowStage.NOTARY_REGISTRATION_DVC_REJECTED"
          [requestId]="notaryRequestId"
          [workflow]="Workflow.NOTARY_REGISTRATION"></app-last-remark>
        <app-notary-application *ngIf="requestId" [requestDetailId]="requestId"
                                (onLoadDetails)="onLoadedApplicationDetails($event)"
                                (notaryDetail)="getApplicationDetails($event)"></app-notary-application>
      </mat-tab>
      <mat-tab label="{{'NOTARY.NOTARY_SUPPORTING_DOCS'|translate}}">
        <app-supporting-doc-detail *ngIf="requestId" [requestDocuments]="requestId"
                                   [id]="requestId?.requestId"
                                   [workflow]="NewNotaryRegistrationWorkflowStage.NOTARY_REGISTRATION_INITIALIZED"
                                   [enableDocUpload]="workFlowStage == NewNotaryRegistrationWorkflowStage.NOTARY_REGISTRATION_DVC_REJECTED"
                                   (supportDocs)="getSupportingDocs($event)"></app-supporting-doc-detail>
      </mat-tab>
      <mat-tab label="{{'NOTARY.NOTARY_PAYMENT_INFO'|translate}}">
        <app-notary-payment-info *ngIf="requestId"
                                 [requestDetailPayment]="requestId"
                                 (notaryPayment)="onNotaryPayment($event)"
                                 [addPayment]="workflowStage === NewNotaryRegistrationWorkflowStage.NOTARY_REGISTRATION_DVC_REJECTED"></app-notary-payment-info>
      </mat-tab>
      <mat-tab label="{{'NOTARY.NOTARY_REMARK'|translate}}">
        <app-notary-remark *ngIf="requestId" [requestRemarks]="requestId"></app-notary-remark>
      </mat-tab>

    </mat-tab-group>
    <div *ngIf="workFlowStage == NewNotaryRegistrationWorkflowStage.NOTARY_REGISTRATION_DVC_REJECTED">
      <hr/>
      <button [disabled]="!disabled"
              [hidden]="selectedIndex==2 || selectedIndex==3"
              mat-raised-button class="button"
              (click)="onFormSubmit()">
        <mat-icon class="material-icons"
                  title="Save Changes">save
        </mat-icon>
        {{'BUTTONS.SAVE_CHANGES_BUTTON'|translate}}
      </button>
    </div>
  </div>
</div>
