<div class="page-header-default">
  <h2>Notary Edit Profile</h2>
  <p>Please fill in the following information to<br />register in the system</p>
  <a href="" class="phd-back-btn">
    <i class="material-icons">keyboard_backspace</i>
  </a>
</div>
<div class="page-content-wrapper">
  <div class="page-content-inner-wrapper">
    <mat-tab-group (selectedTabChange)="tabClick($event)">
      <mat-tab label="Application" >
        <app-notary-application></app-notary-application>
      </mat-tab>
      <mat-tab label="Payment Info">
        <app-notary-payment-info></app-notary-payment-info>
      </mat-tab>
      <mat-tab label="Remark" >
        <app-notary-remark></app-notary-remark>
      </mat-tab>
      <mat-tab label="Supporting Documents" id="supportingDocs">
        <app-supporting-doc-detail></app-supporting-doc-detail>
      </mat-tab>
    </mat-tab-group>
  </div>
  <button mat-raised-button class="lg-button" [disabled]="disabled" style="margin-left: 1180px;margin-top: 30px" (click)="onFormSubmit()">Submit</button>
</div>
