<div class="hc-component-wrapper payment">
    <div class="hc-component-img" style="background-image: url('assets/images/temp_img_004.jpg')"></div>
    <div class="hc-component-content">
        <div class="pce-container">
            <form [formGroup]="onlinePaymentForm">
                <div class="default-input-wrapper full-row mb-30">
                    <label>Service Code</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput class="form-control" formControlName="serviceCode" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="default-input-wrapper full-row mb-30" *ngIf="showPaymentResult">
                    <label> Transaction Status </label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput class="form-control" formControlName="paymentStatusMsg" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="default-input-wrapper full-row mb-30">
                    <label>Transaction Ref No</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput class="form-control" formControlName="transactionRef" />
                        </mat-form-field>
                    </div>
                </div>



                <div class="default-input-wrapper full-row mb-30">
                    <label>Amount</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput class="form-control" formControlName="applicationAmount" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="default-input-wrapper full-row mb-30" *ngIf="showPaymentResult">
                    <label>Total Amount</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput class="form-control" formControlName="totalFee" />
                        </mat-form-field>
                    </div>
                </div>

                <input type="hidden" *ngIf="showEncryptedPaymentRequest"
                name="clientPaymentRequest"
                formControlName="encryptedPaymentRequest"
                />

            </form>
        </div>
        <div class="hc-component-bottom">
            <span class="bt-line">&nbsp;</span>
            <button mat-raised-button class="lg-button green" (click)="ConfirmPayment()">{{showPaymentResult?'Continue':'Pay'}}</button>
          </div>
    </div>
</div>
