<div class="page-header-default">
    <h2>GRID</h2>
</div>
<div class="page-content-wrapper">
    <div class="page-content-inner-wrapper">

        <h5 class="uw-title"><span>Grid Views</span></h5>

        <div class="default-input-wrapper full-row">
            <label>Label:</label>
            <div class="default-input-feild">
                <mat-form-field appearance="outline">
                    <input matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="pg-inner-row mb-20">
            <div class="pg-inner-col">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="pg-inner-row mb-20">
            <div class="pg-inner-col-3">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-3">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-3">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="pg-inner-row mb-20">
            <div class="pg-inner-col-4">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-4">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-4">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-4">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="pg-inner-row mb-20">
            <div class="pg-inner-col-5">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-5">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-5">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-5">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-5">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="pg-inner-row mb-20">
            <div class="pg-inner-col-6">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-6">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-6">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-6">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-6">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="pg-inner-col-6">
                <div class="default-input-wrapper full-row">
                    <label>Label:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>


        <div class="clear">&nbsp;</div>

        <div class="separator">&nbsp;</div>

        <div class="default-input-wrapper full-row">
            <button mat-raised-button class="lg-button mr-10 mb-10">Button</button>
            <button mat-raised-button class="lg-button green mr-10 mb-10">Button</button>
            <button mat-raised-button class="mr-10 mb-10">Button</button>
            <button mat-raised-button class="green mr-10 mb-10">Button</button>
            <button mat-raised-button class="red mr-10 mb-10">Button</button>
            <button mat-raised-button class="orange mb-10">Button</button>
        </div>

    </div>
</div>