<div class="default-input-feild">
  <div [class]="invalid?'drag-drop-error drag-drop':'drag-drop'">
    <div [class]="invalid?'drag-drop-inner':'drag-drop-inner'">
      <button type="button" [class]="'f-uploader'" (click)="onClick($event)">
        <div *ngIf="!imageSrc"><i class="material-icons">cloud_upload</i> Upload Single (image / PDF)</div>
        <img [src]="imageSrc" *ngIf="imageSrc" style="height: 30px; width:50px">
        <input
          #fileUpload
          type="file"
          [class]="'input_fileupload--hidden'"
          accept="image/jpg,image/png,image/jpeg,application/pdf"
          (change)="onFileSelected($event)"
        />
      </button>
      <div [class]="'uploaded-file'" *ngFor="let file of files; let i = index">
        <span>{{ file.name }}</span>
        <button type="button" color="warn" (click)="removeFile(i)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <mat-error *ngIf="!document && errorMsg">{{errorMsg}}</mat-error>
  </div>
</div>
