<div class="row">
  <mat-card class="mb-10 mt-10 ml-10 mr-10 mat-elevation-z5" *ngFor="let doc of docData; let i = index">
    <mat-card-header>
      <mat-card-title>{{doc.description| listTranslate: doc.descriptionSin: doc.descriptionTam}}</mat-card-title>
    </mat-card-header>
    <div class="pg-inner-row mb-20">
      <div class="pg-inner-col">
        <ngx-image-viewer
          [src]="doc.pages"
          [config]="{
            btnShow: {
              zoomIn: true,
              zoomOut: true,
              rotateClockwise: false,
              rotateCounterClockwise: false,
              next: true,
              prev: true
            }
          }"
        >
        </ngx-image-viewer>
      </div>
    </div>
  </mat-card>
</div>

<div class="row">
  <div *ngIf="isEdit">
    <div class="default-input-wrapper full-row" *ngFor="let document of workflowDocuments">
      <label>{{document.description| listTranslate: document.descriptionSin: document.descriptionTam}}
      </label>
      <file-upload-input (response)="setFiles($event, document.docTypeId, document.required)"></file-upload-input>
    </div>
  </div>
</div>

<div *ngIf="isEdit" class="pg-inner-col float-right mt-10">
  <button mat-raised-button [disabled]="isDocUpdating" class="button float-right" type="button" (click)="onDocsUpdate()">
    {{'BUTTONS.DOCUMENT_UPLOAD_BUTTON'| translate}}
    <mat-spinner *ngIf="isDocUpdating" [diameter]="16" class="spinner-inline"></mat-spinner>
  </button>
</div>