<div class="pg-inner-row mb-40">
    <div class="pg-inner-col">
        <h4 class="m0">History</h4>
    </div>
</div>

<div class="default-input-wrapper full-row">
    <div class="h-application-col">
        <h4><span>Application 2330</span></h4>
        
        <ul>
            <li>
                <div class="ha-info-row">
                    <div class="ha-info-col">
                        Application passed to Invidilator No01
                    </div>
                    <div class="ha-info-col">
                        Application submission
                    </div>
                    <div class="ha-info-col">
                        Lorem Ipsum
                    </div>
                    <div class="ha-info-col">
                            <button mat-raised-button class="green">Passed</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="ha-info-row">
                    <div class="ha-info-col">
                        Application passed to Invidilator No01
                    </div>
                    <div class="ha-info-col">
                        Application submission
                    </div>
                    <div class="ha-info-col">
                        Lorem Ipsum
                    </div>
                    <div class="ha-info-col">
                            <button mat-raised-button class="green">Passed</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="ha-info-row">
                    <div class="ha-info-col">
                        Application passed to Invidilator No01
                    </div>
                    <div class="ha-info-col">
                        Application submission
                    </div>
                    <div class="ha-info-col">
                        Lorem Ipsum
                    </div>
                    <div class="ha-info-col">
                            <button mat-raised-button class="green">Passed</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="ha-info-row">
                    <div class="ha-info-col">
                        Application passed to Invidilator No01
                    </div>
                    <div class="ha-info-col">
                        Application submission
                    </div>
                    <div class="ha-info-col">
                        Lorem Ipsum
                    </div>
                    <div class="ha-info-col">
                            <button mat-raised-button class="green">Passed</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="h-application-col">
        <h4><span>Application 4330</span></h4>
        
        <ul>
            <li>
                <div class="ha-info-row">
                    <div class="ha-info-col">
                        Application passed to Invidilator No01
                    </div>
                    <div class="ha-info-col">
                        Application submission
                    </div>
                    <div class="ha-info-col">
                        Lorem Ipsum
                    </div>
                    <div class="ha-info-col">
                            <button mat-raised-button class="green">Passed</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="ha-info-row">
                    <div class="ha-info-col">
                        Application passed to Invidilator No01
                    </div>
                    <div class="ha-info-col">
                        Application submission
                    </div>
                    <div class="ha-info-col">
                        Lorem Ipsum
                    </div>
                    <div class="ha-info-col">
                            <button mat-raised-button class="green">Passed</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="ha-info-row">
                    <div class="ha-info-col">
                        Application passed to Invidilator No01
                    </div>
                    <div class="ha-info-col">
                        Application submission
                    </div>
                    <div class="ha-info-col">
                        Lorem Ipsum
                    </div>
                    <div class="ha-info-col">
                            <button mat-raised-button class="green">Passed</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="ha-info-row">
                    <div class="ha-info-col">
                        Application passed to Invidilator No01
                    </div>
                    <div class="ha-info-col">
                        Application submission
                    </div>
                    <div class="ha-info-col">
                        Lorem Ipsum
                    </div>
                    <div class="ha-info-col">
                            <button mat-raised-button class="green">Passed</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
