<form *ngIf="!isPayment">
  <div class="pg-inner-row mb-40">
    <div class="pg-inner-col">
      <h5 class="m0">Payment Information</h5>
    </div>
  </div>
  <div class="default-input-wrapper full-row" id="payment-table">
    <div class="p-24">
      <div
        class="mb-24"
        fxLayout="column"
        fxLayoutAlign="start"
        fxLayout.gt-md="row">
        <app-payment-table [paymentDetails]="paymentDetails"></app-payment-table>
      </div>
    </div>
  </div>
  <div *ngIf="action!=ActionMode.VIEW && addPayment" class="pg-inner-col right">
    <button mat-raised-button class="button" (click)="continuePayments()">Add Payment</button>
    <!--<a href="#" class="pdf-link">Save PDF <i class="material-icons">vertical_align_bottom</i></a>-->
  </div>

</form>
<div *ngIf="isPayment" class="container">
  <app-payment (response)="getPaymentData($event)"
               (paymentMethodResponse)="getPaymentData($event)"
               [applicationFeeCode]="applicationFeeCode"
               [hasFrontCounterPayment]="hasFrontCounterPayment"
               [isDocumentCollect]="isDocumentCollect"
               [workflowCode]="workflow"
               (back)="onBack($event)"></app-payment>
</div>
