<form *ngIf="!isPayment">
  <div class="default-input-wrapper full-row" id="payment-table">
    <div class="p-24">
      <div
        class="mb-24"
        fxLayout="column"
        fxLayoutAlign="start"
        fxLayout.gt-md="row">
        <app-payment-table [paymentDetails]="paymentDetails"></app-payment-table>
      </div>
    </div>
  </div>
  <div *ngIf="action!=ActionMode.VIEW && addPayment" class="pg-inner-col float-right">
    <button mat-raised-button class="button float-right" (click)="continuePayments()">{{'PAYMENT.ADD_PAYMENT'| translate}}</button>
  </div>

</form>
<div *ngIf="isPayment" class="container">
  <app-payment (response)="getPaymentData($event)"
               (paymentMethodResponse)="addOnlinePayment($event)"
               [applicationFeeCode]="applicationFeeCode"
               [returnUrl]="returnUrl"
               [statusOnlinePayment]="statusOnlinePayment"
               [hasFrontCounterPayment]="hasFrontCounterPayment"
               [isDocumentCollect]="isDocumentCollect"
               [workflowCode]="workflow"
               (back)="onBack($event)"
               [userType]="userType"
               [userId]="userId"
               [workflowStageCode]="workflowStage"
               >
              </app-payment>
</div>
