<div class="page-header-default">
  <h2> Change Land Registry Request</h2>
  <p></p>
  <a href="#" (click)="goBack()" class="phd-back-btn">
    <i class="material-icons">keyboard_backspace</i>
  </a>
</div>
<div class="page-content-wrapper">
  <div class="page-content-inner-wrapper">
    <mat-tab-group>
      <mat-tab label="{{'EDIT_PROFILE.APPLICATION'|translate}}">
        <app-application1 [requestID]="id"></app-application1>
      </mat-tab>
      <!--<mat-tab label="Account Details">-->
      <!--<app-notary-clerk></app-notary-clerk>-->
      <!--</mat-tab>-->
    </mat-tab-group>
  </div>
</div>
