<div class="page-header-default" *ngIf="!isContinueToPayment">
  <h2>{{'CHG_LANDREG.TITLE1'|translate}} </h2>
  <p>{{'CHG_LANDREG.TITLE2'|translate}}<br />{{'CHG_LANDREG.TITLE3'|translate}}</p>
  <a href="#" (click)="goBack()" class="phd-back-btn">
    <i class="material-icons">keyboard_backspace</i>
  </a>
</div>
<div class="page-content-wrapper" *ngIf="!(isContinue)">
  <div class="page-content-inner-wrapper">

    <div class="pg-inner-row mb-20">
      <h5 class="mb-20"><i class="material-icons">description</i>
        {{'CHG_LANDREG.TITLE4'|translate}}
      </h5>
      <div class="separator">&nbsp;</div>
    </div>
    <form [formGroup]="landRegistryChangeForm" class="form pb-5">



      <label>{{'CHG_LANDREG.TITLE5'|translate}} </label>
      <div>&nbsp;</div>

      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col label">
          <label>{{'CHG_LANDREG.LANDREG'|translate}}<span class="redtxt">*</span></label></div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <div class="default-input-feild">
              <mat-select name="landRegistry" formControlName="landRegistry" class="form-control"
                          placeholder="{{'CHG_JUD_ZONE.SELECT_LAND'|translate}}">
                <mat-option *ngFor="let reg of landRegistrySelect" [value]="reg.landRegistryId">{{ reg.name |listTranslate:reg.nameSinhala:reg.nameTamil}}
                </mat-option>
              </mat-select>

              <div *ngIf="landRegistry.invalid && (landRegistry.touched || landRegistry.dirty)"
                   class="invalid-feedback">
                <mat-error *ngIf="landRegistry.errors.required" class="errors">{{'CHG_JUD_ZONE.FILL_REQUIRED'|translate}}</mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="default-input-wrapper full-row">
        <label>{{'CHG_LANDREG.REASON'|translate}}(255 Characters Only)<span class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline" >
            <textarea matInput rows="5" maxlength="255" formControlName="reason" required="true">

            </textarea>
            <div *ngIf="reason.touched && reason.invalid">
              <mat-error *ngIf="reason.errors.required">
                {{'CHG_LANDREG.REASONREQ'|translate}}
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>



      <div class="separator">&nbsp;</div>

      <div class="pg-inner-row mb-20 upload-col-3">
        <ng-container *ngFor="let document of workflowStageDocTypes">
          <div class="pg-inner-col-3">
            <div class="default-input-wrapper full-row">
              <label>{{document.description|listTranslate: document.descriptionSin: document.descriptionTam}}
                <span *ngIf="document.required == true">*</span>
              </label>
              <file-upload-input (response)="setFiles($event,document.docTypeId, document.required)"></file-upload-input>
            </div>
          </div>
        </ng-container>

      </div>
      <!--<div class="pg-inner-row mb-20 upload-col-3">-->
        <!--<div class="pg-inner-col-3" *ngFor="let doc of docList">-->
          <!--<div class="default-input-wrapper full-row">-->
            <!--<label>{{doc.description|listTranslate:doc.descriptionSin:doc.descriptionTam}}-->
              <!--<span *ngIf="doc.required">*</span></label>-->
            <!--<file-upload-input (response)="setFiles($event, doc.docTypeId, doc.required)"></file-upload-input>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div class="pg-inner-col right" *ngIf="!isPaymentSuccess">
        <button  mat-raised-button class="lg-button" [disabled]="!(landRegistryChangeForm.valid && isRequiredDocsUpload)" (click)="continue()">
          {{'BUTTONS.SUBMIT_BUTTON'|translate}}
        </button>
      </div>


    </form>
  </div>
</div>

<!--<div class="page-content-wrapper" *ngIf="isContinue">-->
  <!--<div class="page-content-inner-wrapper">-->
    <!--<app-payment (response)="onPaymentResponse($event)"-->
                 <!--(paymentMethodResponse) = paymentMethodResponse($event)-->
                 <!--[statusOnlinePayment] = "statusOnlinePayment"-->
                 <!--[returnUrl]="returnURl"-->
                 <!--(back)="onBack($event)"-->
                 <!--[applicationFeeCode]="Parameters.LANDREG_CHG_REQ_FEE"-->
                 <!--[isDocumentCollect]="false"-->
                 <!--[workflowCode]="WorkflowCode.LANDREGISTRY_CHANGE_REQUEST_INITIATED"-->
                 <!--[userType]="userType"-->
                 <!--[userId]="userId">-->

    <!--</app-payment>-->
  <!--</div>-->
<!--</div>-->
