<div class="pg-inner-row">
    <div class="default-input-wrapper full-row">
        <dl class="profile-image-uploader">
            <dt>
                <div class="pic-wrapper">
                    <img src="assets/images/profile-pic.png" />
                </div>
            </dt>
            <dd>
                <div class="default-input-feild">
                    <button mat-raised-button class="f-uploader">
                        <i class="material-icons">cloud_upload</i> Upload
                    </button>
                    <span>Image has to be a passport size</span>
                </div>
            </dd>
        </dl>
    </div>
</div>

<div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">Username</label>
    <div class="default-input-feild">
        <mat-form-field appearance="outline">
            <input matInput value="YohaniGamage" disabled>
            <mat-icon matSuffix style="color: #3bc57b;">done</mat-icon>
        </mat-form-field>
    </div>
</div>
<div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">Current Password <span>*</span></label>
    <div class="default-input-feild">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Current Password">
        </mat-form-field>
    </div>
</div>
<div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">New Password <span>*</span></label>
    <div class="default-input-feild">
        <mat-form-field appearance="outline">
            <input matInput placeholder="New Password">
        </mat-form-field>
    </div>
</div>
<div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">Confirm New Password <span>*</span></label>
    <div class="default-input-feild">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Confirm New Password">
        </mat-form-field>
    </div>
</div>

<div class="pg-inner-row mb-0 mt-20">
    <div class="pg-inner-col right">
        <button mat-raised-button class="lg-button no-bg">Cancel</button>
        <button mat-raised-button class="lg-button">Update</button>
    </div>
</div>