<div class="page-header-default">
    <h2>APPLICATION FOR CHANGING THE NAME OF THE NOTARY LICENCE</h2>
    <p>Please fill in the following information to<br />register in the system</p>
    <a href="" class="phd-back-btn">
        <i class="material-icons">keyboard_backspace</i>
    </a>
</div>
<form class="form-horizontal">
    <div class="page-content-wrapper">
        <div class="page-content-inner-wrapper">

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <h5 class="mb-20"><i class="material-icons">description</i>
                        APPLICATION FOR CHANGING THE NAME OF THE NOTARY LICENCE
                    </h5>
                    <div class="separator">&nbsp;</div>
                </div>
            </div>


            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <mat-radio-group>
                        <mat-radio-button value="Mr">Mr.</mat-radio-button>
                        <mat-radio-button value="Mrs">Mrs.</mat-radio-button>
                        <mat-radio-button value="Miss">Miss</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="pg-inner-col right">
                    <div class="default-input-wrapper m0 rac-col">
                        <label>Language:<span class="redtxt">*</span></label>
                        <div class="default-input-feild">
                            <mat-radio-group class="form-control">
                                <mat-radio-button value="1">Sinhala</mat-radio-button>
                                <mat-radio-button value="2">English</mat-radio-button>
                                <mat-radio-button class="example-margin" value="3">Tamil</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
            </div>

            <div class="default-input-wrapper full-row">
                <label>Old name - Full (English):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>Old name - Full (Sinhala):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>Old name - Full (Tamil):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>New name - Full (English):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>New name - Full (Sinhala):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>New name - Full (Tamil):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>

            <div class="default-input-wrapper full-row">
                <label>If Notarial Warrant is sought for Tamil language, state herin full name and address in the same language::</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                            <textarea matInput rows="5"  class="form-control"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Date of Birth:</label>
                        <div class="default-input-feild date-feild">
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker">
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button (click)="picker.open()">
                                <i class="material-icons">calendar_today</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>National Identity Card No:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Contact No. (Residential):</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Mobile:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Email:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col"></div>
            </div>

            <div class="separator">&nbsp;</div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>High Court Zone:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <select matNativeControl required>
                                    <option value="">Select</option>
                                    <option value="option-1">Option 01</option>
                                    <option value="option-2">Option 02</option>
                                    <option value="option-3">Option 03</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Divisional Secretariat Division:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <select matNativeControl required>
                                    <option value="">Select</option>
                                    <option value="option-1">Option 01</option>
                                    <option value="option-2">Option 02</option>
                                    <option value="option-3">Option 03</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Land Registry:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <select matNativeControl required>
                                    <option value="">Select</option>
                                    <option value="option-1">Option 01</option>
                                    <option value="option-2">Option 02</option>
                                    <option value="option-3">Option 03</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Grama Niladhari Division:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <select matNativeControl required>
                                    <option value="">Select</option>
                                    <option value="option-1">Option 01</option>
                                    <option value="option-2">Option 02</option>
                                    <option value="option-3">Option 03</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>The day you were enrolled as an Attorney at LAW of the Supreme Court of the Democratic Socialist Republic of Sri Lanka</label>
                        <div class="default-input-feild date-feild">
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker2">
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button (click)="picker.open()">
                                <i class="material-icons">calendar_today</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>The day you have passed the subject of conveyancing:</label>
                        <div class="default-input-feild date-feild">
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker3">
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button (click)="picker.open()">
                                <i class="material-icons">calendar_today</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separator">&nbsp;</div>

            <div class="default-input-wrapper full-row mb-30">
                <label>The medium you have passed the subject of convayancing:</label>
                <div class="default-input-feild">
                    <section class="example-section">
                        <mat-checkbox class="example-margin">Sinhala</mat-checkbox>
                        <mat-checkbox class="example-margin">English</mat-checkbox>
                        <mat-checkbox class="example-margin">Tamil</mat-checkbox>
                    </section>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Originals of Sinhala/Tamil/English notarial warrants </label>
                        <div class="default-input-feild">
                            <button mat-raised-button class="f-uploader">
                                <i class="material-icons">cloud_upload</i> Upload
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Date:</label>
                        <div class="default-input-feild date-feild">
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker4">
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button (click)="picker.open()">
                                <i class="material-icons">calendar_today</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="separator">&nbsp;</div>

            <div class="pg-inner-row mb-0">
                <div class="pg-inner-col"></div>
                <div class="pg-inner-col right">
                    <button mat-raised-button class="lg-button">Submit</button>
                </div>
            </div>

        </div>
    </div>
</form>