<div class="hm-section-1">
    <div class="hm-section-1-inner">
        <div class="default-container">
            <div class="col-half">
                <div class="card-custom">
                    <div class="cc-icon">
                        <img src="../../../assets/images/icons/notary-services.png" alt="" />
                    </div>
                    <h4>Notary Services</h4>
                    <ul>
                        <li>New Registration</li>
                        <li>Name Change</li>
                        <li>Renewal</li>
                        <li>Region Change</li>
                        <li>Language Change</li>
                    </ul>
                    <div class="clear">&nbsp;</div>
                    <button mat-raised-button [routerLink]="['/notary-registration']">Get Started</button>
                </div>
            </div>
            <div class="col-half">
                <div class="card-custom">
                    <div class="cc-icon">
                        <img src="../../../assets/images/icons/public-services.png" alt="" />
                    </div>
                    <h4>Public Services</h4>
                    <ul>
                        <li>Search for Folio</li>
                        <li>Search for Deeds</li>
                        <li>Obtain Extract of Folio</li>
                        <li>Obtain Extract of Deeds</li>
                    </ul>
                    <div class="clear">&nbsp;</div>
                    <button mat-raised-button [routerLink]="['/user-registration']">Get Started</button>
                </div>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
</div>

<div class="hm-section-2">
    <div class="default-container">
        <h4>Services</h4>
        <p>Lorem ipsum dolor sit amet, dolor justo mollis et, sed a odio sit lacinia, lectus interdum sapien, maecenas morbi torquent porttitor semper molestie. Nibh ac justo, commodo consequat malesuada vitae amet, donec maecenas perspiciatis pede, sit sit vel, id at lacus commodo tincidunt et.</p>
    </div>
</div>

<div class="hm-section-3">
    <div class="default-container">
        <div class="hm-section-3-inner">
            <h4>Services</h4>
            <p>Lorem ipsum dolor sit amet, dolor justo mollis et, sed a odio sit lacinia, lectus interdum sapien, maecenas morbi torquent porttitor semper molestie. Nibh ac justo, commodo consequat malesuada vitae amet, donec maecenas perspiciatis pede, sit sit vel, id at lacus commodo tincidunt et.</p>
            <h4>Lorem ipsum dolor</h4>
            <p>Lorem ipsum dolor sit amet, dolor justo mollis et, sed a odio sit lacinia, lectus interdum sapien, maecenas morbi torquent porttitor semper molestie. Nibh ac justo, commodo consequat malesuada vitae amet, donec maecenas perspiciatis pede, sit sit vel, id at lacus commodo tincidunt et. Ligula ac libero aliquam at, semper ultrices laboris aliquam metus varius, dictum molestie pretium lacinia est imperdiet, adipiscing mi nunc, egestas justo litora dui.</p>
            <span class="dcc-icon">
                <img src="../../../assets/images/icons/icon_004.png">
            </span>
        </div>
    </div>
    <div class="fx-bg-image">
        <img src="../../../assets/images/temp_img_001.png">
    </div>
</div>

<div class="hm-section-4">
    <div class="hms-left-image" style="background-image: url('../../../assets/images/temp_img_002.jpg');">
        <img src="../../../assets/images/logo.svg" alt="logo" />
    </div>
    <div class="hms-right-content">
        <h4>E-Land</h4>
        <p>Lorem ipsum dolor sit amet, vel vehicula tempor. Sed et accumsan pede turpis euismod, sem nunc, metus litora ultrices aenean tristique scelerisque wisi, curae wisi etiam. Pellentesque rutrum voluptatem, viverra mauris risus dolor aliquet suspendisse donec, quis elit diam, vestibulum vitae augue eget eget nec pellentesque. Id condimentum tempore turpis fermentum ut ut. Bibendum morbi tincidunt dolor quisque nec, arcu sed orci tellus erat sit mauris, a consectetuer conubia ut tempus orci magna, justo montes est maecenas nec quam. Nulla mi lorem diam, platea non vivamus ullamcorper orci et.</p>
        <p>Netus a urna placerat, purus dapibus curabitur sed etiam mauris, alias in pellentesque, phasellus orci. Vitae nullam. Pellentesque proin vestibulum quisque montes sit quia, ornare quis, integer duis pede temporibus. Mi quis aliquam pulvinar mauris vel ligula. Vel nec pede vitae sagittis iaculis, sit in non posuere hymenaeos amet orci.</p>
    </div>
</div>

<div class="hm-section-5">
    <div class="nss-wrapper">
        <div class="nss-left">
            <span>Not Registered? Create an account now</span>
        </div>
        <div class="nss-right">
            <button mat-raised-button>Registor</button>
        </div>
    </div>
</div>