<ng-container>
    <div class="landing-header">
        <div class="header-banner-wrapper">
            <div class="header-banner-image" style="background-image: url('assets/images/main_banner.jpg')">
                &nbsp;
            </div>
            <div class="lh-content-wrapper">
                <h1>
                  Get things <span>done,</span><br />
                    <span>quick</span> and <span>easy</span>
                </h1>
                <p>
                  Convenient access to land registers, registration information,
                  notary and public portal
                </p>
                <button mat-raised-button class="theme-light">Get Started</button>
            </div>
        </div>
    </div>
</ng-container>


<div class="hm-section-1">
    <div class="hm-section-1-inner">
        <div class="default-container">
            <div class="col-half">
                <div class="card-custom">
                    <div class="cc-icon">
                        <img src="assets/images/icons/notary-services.png" alt="" />
                    </div>
                    <h4>{{'HOME_PAGE.NOTARY_SERVICES'|translate}}</h4>
                    <ul>
                        <li>{{'HOME_PAGE.NEW_REG'|translate}}</li>
                        <li>{{'HOME_PAGE.RCHG'|translate}}</li>
                        <li>{{'HOME_PAGE.LCHG'|translate}}</li>
                        <li>{{'HOME_PAGE.NAME_CHG'|translate}}</li>
                    </ul>
                    <div class="clear">&nbsp;</div>
                    <button mat-raised-button [routerLink]="['/notary-registration']">{{'HOME_PAGE.GETSTART'|translate}}</button>
                </div>
            </div>
            <div class="col-half">
                <div class="card-custom">
                    <div class="cc-icon">
                        <img src="assets/images/icons/public-services.png" alt="" />
                    </div>
                    <h4>{{'HOME_PAGE.PUBLIC_SERVICES'|translate}}</h4>
                    <ul>
                        <li>{{'HOME_PAGE.PUBLIC_REG'|translate}}</li>
                        <li>{{'HOME_PAGE.SEARCH_FOL'|translate}}</li>
                        <li>{{'HOME_PAGE.OBT_EXTR_FOL'|translate}}</li>
                        <li>{{'HOME_PAGE.OBT_EXTR_DEED'|translate}}</li>
                    </ul>
                    <div class="clear">&nbsp;</div>
                    <button mat-raised-button [routerLink]="['/user-registration']">{{'HOME_PAGE.GETSTART'|translate}}</button>
                </div>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    </div>
</div>

<div class="hm-section-2">
    <div class="default-container">
        <h4>Services</h4>
        <p>To ensure convenient access to land registers, registration information, facilitate managing of land information while ensuring the safety of documents by providing a speedy, convenient and economical services</p>
    </div>
</div>

<div class="hm-section-3">
    <div class="default-container">
        <div class="hm-section-3-inner">
            <h4>Services</h4>
            <p>The following e-services are offered through the eLand public portal</p>
          <ul>
            <li>Request for new notary registration</li>
            <li>Request  to obtain the notary license in a different language</li>
            <li>Request to change the new judicial division of a notary</li>
            <li>Request to change the name of a notary in the license</li>
            <li>Search folios</li>
            <li>Search deeds</li>
            <li>Request to obtain extract of folios</li>
            <li>Request to obtain extract of deed</li>
          </ul>
           <span class="dcc-icon">
                <img src="assets/images/icons/icon_004.png">
            </span>
        </div>
    </div>
    <div class="fx-bg-image">
        <img src="assets/images/temp_img_001.png">
    </div>
</div>

<div class="hm-section-4">
    <div class="hms-left-image" style="background-image: url('assets/images/temp_img_002.jpg');">
        <img src="assets/images/logo.svg" alt="logo" />
    </div>
    <div class="hms-right-content">
        <h4>E-Land</h4>
        <p>The objective of e-Land is to provide a solution to ensure convenient access to land registers, registration information, facilitate managing of land information while ensuring the safety of documents by providing a speedy, convenient and economical service to general public. </p>
    </div>
</div>

<div class="hm-section-5">
    <div class="nss-wrapper">
    </div>
</div>
