<h5 class="mb-10">Application information</h5>
<div class="separator">&nbsp;</div>
<form class="wf-form-wp" [formGroup]="searchRequestForm">

  <div class="pg-inner-row mb-20">
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>Land Registry:<span class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <select matNativeControl
                    required
                    (change)="onChangeLandRegistry($event.target.value)"
                    class="form-control"
                    formControlName="landRegistryId">
              <option value="">--Select--</option>
              <option *ngFor="let item of landRegistries" [value]="item.landRegistryId">{{item.nameEng}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>Doc type:<span class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <select matNativeControl
                    required
                    class="form-control"
                    (change)="onChangeRequestType()"
                    formControlName="requestType">
              <option [value]="SearchRequestType.FOLIO_DOCUMENT">Folio Document</option>
              <option [value]="SearchRequestType.DEED_DOCUMENT">Deed Document</option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="pg-inner-row mb-20">
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>Name of the Notary who attested by the deed:<span class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput
                   class="form-control"
                   formControlName="attestedByNotaryName">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>District or station where he practiced at that time:</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput
                   class="form-control"
                   formControlName="practicedLocation">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="pg-inner-row mb-20">
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>Deed No:<span class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput
                   class="form-control"
                   formControlName="numberOfTheDeed">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>Nature of the deed:</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput
                   class="form-control"
                   formControlName="natureOfTheDeed">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <span *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="mb-10" style="display: block;">Date or probable period</span>

  <div *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="pg-inner-row mb-20">
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>From:</label>
        <div class="default-input-feild date-feild">
          <mat-form-field appearance="outline">
            <input matInput readonly
                   [matDatepicker]="picker"
                   placeholder="Choose a date"
                   formControlName="probablePeriodFrom">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button (click)="picker.open()">
            <i class="material-icons">calendar_today</i>
          </button>
        </div>
      </div>
    </div>
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>To:</label>
        <div class="default-input-feild date-feild">
          <mat-form-field appearance="outline">
            <input matInput readonly
                   [matDatepicker]="picker2"
                   placeholder="Choose a date"
                   formControlName="probablePeriodTo">
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button (click)="picker2.open()">
            <i class="material-icons">calendar_today</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="pg-inner-row mb-20">
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>Name of the granter / Transferor:</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput
                   class="form-control" formControlName="nameOfTheGranter">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>Name of the grantee / transferee:</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput
                   class="form-control" formControlName="nameOfTheGrantee">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="pg-inner-row mb-20">
    <div class="pg-inner-col" *ngIf="requestType==SearchRequestType.FOLIO_DOCUMENT">
      <div class="default-input-wrapper full-row">
        <label>Name of the land:</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput
                   class="form-control" formControlName="nameOfTheLand">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>Extent:</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput
                   class="form-control" formControlName="extent">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="pg-inner-row mb-20">
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>Korale:</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <select matNativeControl
                    class="form-control"
                    (change)="onChangeKorale($event.target.value)"
                    formControlName="koraleId">
              <option value="">--Select--</option>
              <option *ngFor="let item of korales" [value]="item.koraleId">{{item.descriptionEng}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>Pattu:</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <select matNativeControl
                    class="form-control"
                    formControlName="paththuId">
              <option value="">--Select--</option>
              <option *ngFor="let item of paththuwas" [value]="item.paththuwaId">{{item.descriptionEng}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="pg-inner-row mb-20">
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>DS Division:</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <select matNativeControl
                    class="form-control"
                    (change)="onChangeDsDivision($event.target.value)"
                    formControlName="dsDivisionId">
              <option value="">--Select--</option>
              <option *ngFor="let item of dsDivisions" [value]="item.dsDivisionId">{{item.description}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>GN Division:</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <select matNativeControl
                    class="form-control"
                    (change)="onChangeGnDivision($event.target.value)"
                    formControlName="gnDivisionId">
              <option value="">--Select--</option>
              <option *ngFor="let item of gnDivisions" [value]="item.gnDivisionId">{{item.description}}</option>
            </select>
            <mat-error *ngIf="gnDivisions?.length==0">Please select Ds Division</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="pg-inner-row mb-20">
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>Village:</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <select matNativeControl
                    class="form-control"
                    formControlName="villageId">
              <option value="">--Select--</option>
              <option *ngFor="let item of villages" [value]="item.villageId">{{item.description}}</option>
            </select>
            <mat-error
              *ngIf="form.get('villageId').untouched">
              Please select Gn Division
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pg-inner-col">
      <div *ngIf="requestType==SearchRequestType.FOLIO_DOCUMENT" class="default-input-wrapper full-row">
        <label>Reason for Search:<span
          class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput
                   class="form-control" formControlName="searchReasonId"/>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="default-input-wrapper full-row">
        <label>Reason for search of deed as: <span class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <select matNativeControl
                    class="form-control" formControlName="searchReasonId">
              <option value="">--Select--</option>
              <option *ngFor="let item of searchReasons" [value]="item.searchReasonId">{{item.descriptionEng}}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="requestType==SearchRequestType.FOLIO_DOCUMENT">
    <span class="mb-10" style="display: block;">Registers required for search</span>
    <div class="separator">&nbsp;</div>

    <div class="pg-inner-row mb-20">
      <div class="pg-inner-col">
        <div class="default-input-wrapper full-row">
          <label>LR Division: <span class="redtxt">*</span></label>
          <div class="default-input-feild">
            <mat-form-field appearance="outline">
              <select matNativeControl
                      class="form-control"
                      formControlName="lrDivisionId">
                <option value="">--Select--</option>
                <option *ngFor="let item of lrDivisions" [value]="item.landRegistryDivisionId">
                  {{item.divisionCode+' - '+item.description}}
                </option>
              </select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="pg-inner-col">
        <div class="default-input-wrapper full-row">
          <label>Volume: <span class="redtxt">*</span></label>
          <div class="default-input-feild">
            <mat-form-field appearance="outline">
              <input matInput type="number"
                     min="1"
                     class="form-control" formControlName="volume">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="pg-inner-row mb-20">
      <div class="pg-inner-col">
        <div class="default-input-wrapper full-row">
          <label>Folio No: <span class="redtxt">*</span></label>
          <div class="default-input-feild">
            <mat-form-field appearance="outline">
              <input matInput
                     type="number"
                     min="1"
                     class="form-control" formControlName="folioNo">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="pg-inner-col">
        <div class="default-input-wrapper full-row">
          <label>No. of Years: <span class="redtxt">*</span></label>
          <div class="default-input-feild">
            <mat-form-field appearance="outline">
              <input matInput
                     type="number"
                     min="1"
                     class="form-control" formControlName="noOfYears">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="folioStatus" class="pg-inner-row mb-10">
      <div class="pg-inner-col">
        <mat-chip-list>
          <mat-chip [selected]="true"
                    [color]="folioStatus?.code==FolioStatus.AVAILABLE?
                                                      'primary':(folioStatus.code==FolioStatus.NOT_AVAILABLE?'accent':'warn')">
            {{folioStatus?.desc}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div *ngIf="false">
      <div class="pg-inner-row mb-10">
        <div class="pg-inner-col float-right ">
          <button [disabled]="folioStatus" mat-raised-button
                  (click)="onClickSearch()"
                  class="button float-right">Search
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div *ngIf="action!=ActionMode.VIEW" class="pg-inner-row mb-0">
  <div class="pg-inner-col float-right">
    <button mat-raised-button
            (click)="onClickSaveChanges()"
            class="button float-right">Apply Changes
    </button>
  </div>
</div>
