<div class="pg-inner-row mb-20">
<table class="table mat-elevation-z4">
  <thead>
  <tr>
    <th></th>
    <th>{{'NOTARY.DS_DIVISION'| translate}}</th>
    <th>{{'NOTARY.GN_DIVISION'| translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dsDiv of dsGnDivisions; let i=index">
    <td style="width: 100px;text-align: center">{{i+1}}</td>
    <td style="width: 400px;text-align: center">
      {{dsDiv.dsDivisionDescription | listTranslate: dsDiv.dsDivisionDescriptionSin: dsDiv.dsDivisionDescriptionTam}}</td>
    <td style="width: 500px;text-align: center">
      <span class="gn-div"
        *ngFor="let gnDiv of dsDiv.gnDivisions">{{gnDiv.description| listTranslate: gnDiv.descriptionSinhala: gnDiv.descriptionTamil}}</span>
    </td>
  </tr>
  </tbody>
</table>
</div>



