<div class="page-header-default">
    <h2>Request for leave</h2>
    <p>Please fill in the following information to<br />register in the system</p>
    <a href="" class="phd-back-btn">
        <i class="material-icons">keyboard_backspace</i>
    </a>
</div>
<form class="form-horizontal">
    <div class="page-content-wrapper">
        <div class="page-content-inner-wrapper">

            <h5 class="uw-title"><span>Application</span></h5>


            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col"></div>
                <div class="pg-inner-col right">
                    <div class="default-input-wrapper m0 rac-col">
                        <label>Language:<span class="redtxt">*</span></label>
                        <div class="default-input-feild">
                            <mat-radio-group class="form-control">
                                <mat-radio-button value="1">Sinhala</mat-radio-button>
                                <mat-radio-button value="2">English</mat-radio-button>
                                <mat-radio-button class="example-margin" value="3">Tamil</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
            </div>

            <div class="default-input-wrapper full-row">
                <label>Notary Name:</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>
            
            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>National Identity Card No:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Notary ID:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Telephone Number:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Email:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Land Registry:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <select matNativeControl required>
                                    <option value="">Select</option>
                                    <option value="option-1">Option 01</option>
                                    <option value="option-2">Option 02</option>
                                    <option value="option-3">Option 03</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col"></div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Leave Period (From)</label>
                        <div class="default-input-feild date-feild">
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker4">
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button (click)="picker.open()">
                                <i class="material-icons">calendar_today</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Leave Period (To)</label>
                        <div class="default-input-feild date-feild">
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker4">
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button (click)="picker.open()">
                                <i class="material-icons">calendar_today</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="default-input-wrapper full-row">
                <label>Leave Reason:</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <textarea matInput rows="5"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="default-input-wrapper full-row">
                <label>Upload relevant documents (if any)</label>
                <div class="default-input-feild">
                    <div class="drag-drop">
                        <div class="drag-drop-inner">
                            <i class="material-icons">cloud_upload</i> Upload
                        </div>
                    </div>
                </div>
            </div>


            <div class="separator">&nbsp;</div>

            <div class="pg-inner-row mb-0">
                <div class="pg-inner-col">
                    <div class="f-captcha">
                        <img src="../../../../assets/images/captcha.jpg" />
                    </div>
                </div>
                <div class="pg-inner-col right">
                    <button mat-raised-button class="lg-button">Submit</button>
                </div>
            </div>

        </div>
    </div>
</form>