<div class="page-header-default">
  <h2>Request for leave</h2>
  <p>Please fill in the following information to<br />register in the system</p>
  <a href="" class="phd-back-btn">
    <i class="material-icons">keyboard_backspace</i>
  </a>
</div>
<form class="form-horizontal">
  <div class="page-content-wrapper">
    <div class="page-content-inner-wrapper">

      <h5 class="uw-title"><span>Application</span></h5>

      <form [formGroup]="notaryLeaveRequestForm">

        <div class="pg-inner-row mb-20">
          <div class="pg-inner-col">
            <div class="default-input-wrapper full-row">
              <label>Leave Period (From)</label>
              <div class="default-input-feild date-feild">
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="pickerFrom" formControlName="fromDate" class="form-control">
                  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                  <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>
                <div *ngIf="FormControls.fromDate.touched && FormControls.fromDate.errors" class="invalid-feedback">
                  <mat-error *ngIf="FormControls.fromDate.errors.required" class="errors">From date is required
                  </mat-error>
                </div>

              </div>
            </div>
          </div>
          <div class="pg-inner-col">
            <div class="default-input-wrapper full-row">
              <label>Leave Period (To)</label>
              <div class="default-input-feild date-feild">
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="pickerTo" formControlName="toDate" class="form-control">
                  <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                  <mat-datepicker #pickerTo></mat-datepicker>
                </mat-form-field>
                <div *ngIf="FormControls.toDate.touched && FormControls.toDate.errors" class="invalid-feedback">
                  <mat-error *ngIf="FormControls.toDate.errors.required" class="errors">To date is required</mat-error>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="default-input-wrapper full-row">
          <label>Leave Reason:</label>
          <div class="default-input-feild">
            <mat-form-field appearance="outline">
              <textarea matInput rows="5" formControlName="reason"></textarea>
            </mat-form-field>
            <div *ngIf="FormControls.reason.touched && FormControls.reason.errors" class="invalid-feedback">
              <mat-error *ngIf="FormControls.reason.errors.required" class="errors">Reason for leave Required
              </mat-error>
            </div>
          </div>
        </div>

        <div class="default-input-wrapper full-row" *ngFor="let doc of workflowStageDocTypes">
          <label>{{doc.description}} (if any)</label>
          <div class="default-input-feild">
            <div class="drag-drop">
              <file-upload-input (response)="setFiles($event, doc.docTypeId)"></file-upload-input>
            </div>
          </div>
        </div>

      </form>


      <div class="separator">&nbsp;</div>

      <div class="pg-inner-row mb-0">
        <div class="pg-inner-col">
          <div class="f-captcha">
            <img src="assets/images/captcha.jpg" />
          </div>
        </div>
        <div class="pg-inner-col right">
          <button mat-raised-button class="lg-button" [disabled]="!notaryLeaveRequestForm.valid"
            (click)="makeLeaveRequest()">Submit</button>
        </div>
      </div>

    </div>
  </div>
</form>