<table fxFlex="1 1 auto" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="Workflow Stage">
    <th width="" mat-header-cell *matHeaderCellDef>{{'COMMON.REQUEST_STATUS'|translate}}</th>
    <td mat-cell *matCellDef="let row"> {{row.workflowStage|listTranslate:row.workflowStageSin:row.workflowStageTam}}</td>
  </ng-container>

  <ng-container matColumnDef="Remark">
    <th width="" mat-header-cell *matHeaderCellDef>{{'COMMON.REMARK'|translate}}</th>
    <td mat-cell *matCellDef="let row"> {{row.remark}}</td>
  </ng-container>

  <ng-container matColumnDef="Created Time">
    <th width="" mat-header-cell *matHeaderCellDef>{{'COMMON.REMARK_DATE_TIME'|translate}}</th>
    <td mat-cell *matCellDef="let row"> {{row.createdTime}}</td>
  </ng-container>

  <ng-container matColumnDef="Created User">
    <th width="" mat-header-cell *matHeaderCellDef>{{'COMMON.REMARK_BY'|translate}}</th>
    <td mat-cell *matCellDef="let row"> {{row.createdUser}}</td>
  </ng-container>

  <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

