<button type="button" class="close" aria-label="Close" [mat-dialog-close]>
    <span aria-hidden="true">&times;</span>
</button>
<ng-container *ngIf="!showTransaction">
    <mat-tab-group>
        <mat-tab *ngIf="uiController.isFolioHeader" label="Folio Details">
            <app-folio-header></app-folio-header>
        </mat-tab>
        <mat-tab *ngIf="uiController.isUnit" label="Unit Details">
            <app-unit></app-unit>
        </mat-tab>
        <mat-tab *ngIf="uiController.isProperty" label="Property Details">
            <app-property></app-property>
        </mat-tab>
        <mat-tab *ngIf="uiController.isExtent" label="Extent Details">
            <app-extent></app-extent>
        </mat-tab>
    </mat-tab-group>
    <button type="button" (click)="toggleTransactionView()" mat-raised-button style="top: 330px; right: 12px;">
        View Transactions
    </button>
</ng-container>
<ng-container *ngIf="showTransaction">
    <div class="pg-inner-row">
        <div>
            <!-- <mat-card [class.active]="0 == selectedTransaction" style="margin: 10px; cursor:pointer" (click)="selectTransaction(0)">Transaction 1</mat-card>
        <mat-card [class.active]="1 == selectedTransaction" style="margin: 10px; cursor: pointer;" (click)="selectTransaction(1)">Transaction 2</mat-card> -->
        </div>
        <div>
            <app-transaction-view [uiController]="uiController"></app-transaction-view>
        </div>
    </div>
    <button type="button" (click)="toggleTransactionView()" mat-raised-button style="top: 330px; right: 12px;">
        Back
    </button>
</ng-container>