<button type="button" class="close" aria-label="Close" [mat-dialog-close]>
    <span aria-hidden="true">&times;</span>
</button>
<ng-container *ngIf="!showTransaction">
    <mat-tab-group [selectedIndex]="0">
        <mat-tab *ngIf="uiController.isFolioHeader" label="{{ 'COMMON.FOLIO_NEW' | translate }}">
            <app-folio-header *ngIf="!loading && folioDto" [folioDto]="folioDto" [uiController]="uiController"
                [folioController]="folioController" [divisionalSecretaries]="divisionalSecretaries"
                [gramaniladhariDivisions]="gramaniladhariDivisions" [landRegistryDivisions]="landRegistryDivisions"
                [localAuthorities]="localAuthorities" [districts]="districts" [provinces]="provinces"
                [landRegistries]="landRegistries">
            </app-folio-header>
        </mat-tab>
        <mat-tab *ngIf="!loading"
            label="{{ uiController.isCarriedOver ? ('COMMON.BROUGHT_FORWARD' | translate) : ('COMMON.CROSS_REFERENCE' | translate) }}">
            <app-cross-note [referenceFolioList]="folioDto?.broughtForwardFolios" [uiController]="uiController"
                [landRegistries]="landRegistries" [newFolioDto]="folioDto" [selectedLrDivision]="selectedLrDivision">
            </app-cross-note>
        </mat-tab>
        <mat-tab *ngIf="uiController.isUnit" label="{{ 'UNIT_DETAILS.TAB_TITLE' | translate }}">
            <app-unit *ngIf="!loading && folioDto" [uiController]="uiController" [unitDto]="unitDto"></app-unit>
        </mat-tab>
        <mat-tab *ngIf="
        uiController.isProperty &&
        folioDto.folioTypeId != documentType.EXPRESS_TRUST &&
        folioDto.folioTypeId != documentType.NORMAL_TRUST
      " label="{{ 'PROPERTY_DETAILS.TITLE' | translate }}">
            <app-property *ngIf="!loading && folioDto" [uiController]="uiController" [propertyDto]="propertyDto"
                [folioDto]="folioDto" [villages]="villages">
            </app-property>
        </mat-tab>
        <mat-tab label="{{ 'BOUNDARIES.NAME' | translate }}" *ngIf="
          uiController.isBoundary &&
          propertyDto.isLand == 1 &&
          folioDto.folioTypeId != documentType.EXPRESS_TRUST &&
          folioDto.folioTypeId != documentType.NORMAL_TRUST
        " [disabled]="false">
            <app-boundary [uiController]="uiController" [boundaryDto]="boundaryDto">
            </app-boundary>
        </mat-tab>
        <mat-tab *ngIf="
        uiController.isExtent &&
        propertyDto.isLand == 1 &&
        folioDto.folioTypeId != documentType.EXPRESS_TRUST &&
        folioDto.folioTypeId != documentType.NORMAL_TRUST
      " label="{{ 'EXTENT_DETAILS.TAB_TITLE' | translate }}">
            <app-extent *ngIf="!loading && folioDto" [uiController]="uiController" [extentDto]="extentDto"></app-extent>
        </mat-tab>
    </mat-tab-group>
    <button *ngIf="!loading && folioDto" type="button" (click)="toggleTransactionView()" mat-raised-button>
        {{ 'TRANSACTION.VIEW' | translate }}
    </button>
</ng-container>
<ng-container *ngIf="showTransaction">
    <div class="pg-inner-row">
        <div>
            <!-- <mat-card [class.active]="0 == selectedTransaction" style="margin: 10px; cursor:pointer" (click)="selectTransaction(0)">Transaction 1</mat-card>
        <mat-card [class.active]="1 == selectedTransaction" style="margin: 10px; cursor: pointer;" (click)="selectTransaction(1)">Transaction 2</mat-card> -->
        </div>
        <div>

            <div class="row">
                <div class="col-md-2 bg-light p-2" *ngIf="folioDto?.transactions.length > 1">
                    <h5>{{ 'TRANSACTION.LIST' | translate }}</h5>
                    <div style="position: relative; height: 80%; overflow: auto; display: block;">
                        <table class="table" style="margin-bottom: 0rem">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transaction of folioDto?.transactions; index as i" [ngClass]="{
                            'bg-primary': selectedTransaction === i,
                            '': selectedTransaction !== i
                          }">
                                    <td style="width: 50px; vertical-align:middle" (click)="viewTransaction(i)">
                                        {{ 'TRANSACTION.TEXT' | translate }} {{ i + 1 }}
                                    </td>
                                    <td style="width: 50px; vertical-align:middle">
                                        <!-- <button
                              *ngIf="!uiController.isReadOnly"
                              type="button"
                              class="btn"
                              (click)="removeTransaction(i)"
                            >
                              <mat-icon class="material-icons" title="Delete" color="warn"
                                >delete</mat-icon
                              >
                            </button> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div [ngClass]="{
                    'col-md-10': folioDto?.transactions.length > 1,
                    'col-md-12': folioDto?.transactions.length <= 1
                  }">
                    <app-transaction-view [transactionDto]="folioDto" [uiController]="uiController"></app-transaction-view>
                </div>
            </div>
        </div>
    </div>
    <button type="button" (click)="toggleTransactionView()" mat-raised-button>
        {{ 'BUTTONS.BACK_BUTTON' | translate }}
    </button>
</ng-container>
