<div class="page-header-default">
  <h2>{{'SEARCH_DOC.TITLE2'|translate}}</h2>
  <p>.......</p>
  <a href="#" (click)="goBack()" class="phd-back-btn">
    <i class="material-icons">keyboard_backspace</i>
  </a>
</div>
<div class="page-content-wrapper">
  <div class="page-content-inner-wrapper">
    <div class="pg-inner-row mb-0">
      <mat-tab-group (selectedIndexChange)="getSelectedIndex($event);">
        <mat-tab label="{{'SEARCH_DOC.APPLICATION'|translate}}">
          <app-last-remark
            *ngIf="workflowStage==SearchWorkflowStages.SEARCH_REQ_RETURN_BY_ARL"
            [workflow]="workflow"
            [requestId]="requestId"></app-last-remark>
          <app-search-document-application
            [workflow]="workflow"
            [workflowStage]="workflowStage"
            [requestId]="requestId"
            [action]="action"
            (folioItem)="onChangeFolioItem($event)"
            (formData)="onChangeFormData($event)"
          ></app-search-document-application>
        </mat-tab>
        <mat-tab *ngIf="workflowStage==SearchWorkflowStages.SEARCH_REQ_APPROVAL_BY_ARL" label="Search Result">
          <app-search-document-result
            [requestId]="requestId"
            [workflowStageCode]="workflowStage"></app-search-document-result>
        </mat-tab>
        <mat-tab label="{{'SEARCH_DOC.PAY_INFO'|translate}}">
          <app-notary-payment-info
            [workflow]="workflow"
            [id]="requestId"
            [action]="action"
            [addPayment]="false"
            [hasFrontCounterPayment]="false"
            [isDocumentCollect]="false"
            (paymentResponse)="onPaymentResponse($event)"
          ></app-notary-payment-info>
        </mat-tab>
        <mat-tab label="{{'SEARCH_DOC.HISTORY'|translate}}">
          <app-notary-remark
            [workflow]="workflow"
            [id]="requestId"
          ></app-notary-remark>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngIf="action!=ActionMode.VIEW" class="pg-inner-row mb-10">
    <div class="separator">&nbsp;</div>
      <div class="pg-inner-col float-right">
        <button mat-raised-button
                (click)="onClickSaveChanges()"
                class="button green float-right">{{'BUTTONS.SAVE_CHANGES_BUTTON'|translate}}
        </button>
      </div>
    </div>
  </div>
</div>

