<form  class="form-horizontal" [formGroup]="paymentMethodForm">
<div class="hc-component-wrapper payment">
    <div class="hc-component-img" style="background-image: url('../../../assets/images/temp_img_004.jpg')"></div>
    <div class="hc-component-content">
        <div class="pce-container">
            <!-- Bank Transfer Infomations -->
            <div class="payment-info-wrapper">
                <div class="default-input-wrapper full-row">
                    <label>Bank: <span class="redtxt">*</span></label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <select matNativeControl  formControlName="bank" class="form-control" (change)="getBankBranch($event.target.value)">
                                <option value="">Select</option>
                                <option *ngFor="let bank of banks" [value]="bank.bankId">{{bank.bankName}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
              <div class="default-input-wrapper full-row">
                <label>Bank Branch: <span class="redtxt">*</span></label>
                <div class="default-input-feild">
                  <mat-form-field appearance="outline">
                    <select matNativeControl  formControlName="branch" class="form-control">
                      <option value="">Select</option>
                      <option *ngFor="let branch of branchs" [value]="branch.bankBranchId">{{ branch.description }}</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
                <div class="default-input-wrapper full-row">
                    <label>Date: <span class="redtxt">*</span></label>
                    <div class="default-input-feild date-feild">
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="picker" formControlName="date" class="form-control">
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <button mat-raised-button (click)="picker.open()">
                            <i class="material-icons">calendar_today</i>
                        </button>
                    </div>
                </div>
                <div class="default-input-wrapper full-row">
                    <label>Reference No: <span class="redtxt">*</span></label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline" >
                            <input matInput formControlName="referenceNo" class="form-control">
                        </mat-form-field>
                    </div>
                </div>
                <div class="default-input-wrapper full-row">
                    <label>Bank Receipt: <span class="redtxt">*</span></label>
                    <div class="default-input-feild">
                      <file-upload-input (change)="onChangeFileInput($event)"></file-upload-input>
                      <mat-error *ngIf="false">Please add bank receipt.</mat-error>
                    </div>
                </div>
            </div>

        </div>

        <div class="hc-component-bottom">
            <span class="bt-line">&nbsp;</span>
            <button mat-raised-button class="lg-button green" (click)="savePayment()">Continue</button>
        </div>
    </div>
</div>
</form>
