<form class="form-horizontal" [formGroup]="paymentMethodForm">
  <div class="hc-component-wrapper payment">
    <div class="hc-component-img" style="background-image: url('assets/images/temp_img_004.jpg')"></div>
    <div class="hc-component-content">
      <div class="pce-container">
        <!-- Bank Transfer Infomations -->
        <div class="payment-info-wrapper">
          <div class="default-input-wrapper full-row">
            <label>{{'PAYMENT.OTHER_METHOD.BANK'|translate}}<span class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <select matNativeControl formControlName="bank" class="form-control"
                        (change)="onChangeBank($event.target.value)">
                  <option value="">{{'PAYMENT.OTHER_METHOD.SELECT'|translate}}</option>
                  <option *ngFor="let bank of banks" [value]="bank.bankId">{{bank.bankName |listTranslate:
                    bank.bankNameSin: bank.bankNameTam}}
                  </option>
                </select>
              </mat-form-field>
                <mat-error *ngIf="bank.invalid && (bank.touched || bank.dirty)">
                  {{'VALIDATION.BANK_TRANSFER_OR_DEPOSIT.REQUIRED_BANK_ERR'|translate}}
                </mat-error>
            </div>
          </div>
          <div class="default-input-wrapper full-row">
            <label>{{'PAYMENT.OTHER_METHOD.BANK_BRANCH'|translate}} <span class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <select matNativeControl formControlName="branch" class="form-control">
                  <option value="">{{'PAYMENT.OTHER_METHOD.SELECT'|translate}}</option>
                  <option *ngFor="let branch of branches" [value]="branch.bankBranchId">{{ branch.description
                    |listTranslate: branch.descriptionSin: branch.descriptionTam }}
                  </option>
                </select>
              </mat-form-field>
              <mat-error *ngIf="branch.invalid && (branch.touched || branch.dirty)">
                {{'VALIDATION.BANK_TRANSFER_OR_DEPOSIT.REQUIRED_BRANCH_ERR'|translate}}
              </mat-error>
            </div>
          </div>
          <div class="default-input-wrapper full-row">
            <label>{{'PAYMENT.OTHER_METHOD.DATE'|translate}} <span class="redtxt">*</span></label>
            <div class="default-input-feild date-feild">
              <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker" [max]="toDay" readonly
                       formControlName="date" class="form-control">
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
                <mat-error *ngIf="date.invalid && (date.touched || date.dirty)">
                  {{'VALIDATION.BANK_TRANSFER_OR_DEPOSIT.REQUIRED_DATE_ERR'|translate}}
                </mat-error>
              <button mat-raised-button (click)="picker.open()">
                <i class="material-icons">calendar_today</i>
              </button>
            </div>
          </div>
          <div class="default-input-wrapper full-row">
            <label>{{'PAYMENT.OTHER_METHOD.REF_NO'|translate}} <span class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput formControlName="referenceNo" class="form-control">
              </mat-form-field>
              <div *ngIf="referenceNo.invalid && (referenceNo.touched || referenceNo.dirty)">
                <mat-error *ngIf="referenceNo.errors.maxlength">
                  {{'VALIDATION.MAX_LENGTH_25_ERR'|translate}}
                </mat-error>
                <mat-error *ngIf="referenceNo.errors.required">
                  {{'VALIDATION.BANK_TRANSFER_OR_DEPOSIT.REQUIRED_REFERENCE_NO_ERR'|translate}}
                </mat-error>
              </div>
            </div>
          </div>
          <div class="default-input-wrapper full-row">
            <label>{{'PAYMENT.OTHER_METHOD.BANK_RECPT'|translate}}<span class="redtxt">*</span></label>
            <div class="default-input-feild">
              <file-upload-input (response)="onChangeFileInput($event)"></file-upload-input>
              <mat-error *ngIf="files.length==0 && isButtonClick">{{'PAYMENT.OTHER_METHOD.PLZ_BANK_RECPT'|translate}}
              </mat-error>
            </div>
          </div>
        </div>
      </div>

      <div class="hc-component-bottom">
        <span class="bt-line">&nbsp;</span>
        <button mat-raised-button class="button"
                (click)="onBack()">{{'PAYMENT.BACK'|translate}}</button>
        <button [disabled]="showSpinner" mat-raised-button class="button green ml-10" (click)="savePayment()">
          {{'PAYMENT.OTHER_METHOD.SUBMIT'|translate}}
          <mat-spinner [diameter]="16" *ngIf="showSpinner" class="spinner-inline"></mat-spinner>
        </button>
      </div>
    </div>
  </div>
</form>
