<div class="pg-inner-row mb-40">
    <div class="pg-inner-col">
        <h4 class="m0">{{'EDIT_PROFILE.TITLE1'|translate}}</h4>
    </div>
</div>

<h5 class="uw-title"><span>{{'EDIT_PROFILE.TITLE2'|translate}}</span></h5>

<form [formGroup]="requestForm" class="form pb-5">
  <div class="pg-inner-row mb-20">
    <div class="pg-inner-col-3">
      <div class="default-input-wrapper full-row">
        <label>{{'EDIT_PROFILE.FULLNAME_E'|translate}}</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline" >
            <textarea matInput rows="5" matInput formControlName="fNameEng" readonly class="form-control"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pg-inner-col-3">
      <div class="default-input-wrapper full-row">
        <label>{{'EDIT_PROFILE.FULLNAME_S'|translate}}</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <textarea matInput rows="5" formControlName="fNameSin" readonly class="form-control"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pg-inner-col-3">
      <div class="default-input-wrapper full-row">
        <label>{{'EDIT_PROFILE.FULLNAME_T'|translate}}</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <textarea matInput rows="5" formControlName="fNameTam" readonly class="form-control"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>


<div class="pg-inner-row mb-20">
    <div class="pg-inner-col-3">
        <div class="default-input-wrapper full-row">
            <label>{{'EDIT_PROFILE.PER_ADD_E'|translate}}</label>
            <div class="default-input-feild">
                <mat-form-field appearance="outline">
                    <textarea matInput rows="5" formControlName="perAddEng" maxlength="255" class="form-control"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="pg-inner-col-3">
        <div class="default-input-wrapper full-row">
            <label>{{'EDIT_PROFILE.PER_ADD_S'|translate}}</label>
            <div class="default-input-feild">
                <mat-form-field appearance="outline">
                    <textarea matInput rows="5" formControlName="perAddSin" maxlength="255" class="form-control"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="pg-inner-col-3">
        <div class="default-input-wrapper full-row">
            <label>{{'EDIT_PROFILE.PER_ADD_T'|translate}}</label>
            <div class="default-input-feild">
                <mat-form-field appearance="outline">
                    <textarea matInput rows="5" formControlName="perAddTam" maxlength="255" class="form-control"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<div class="pg-inner-row mb-20">
    <div class="pg-inner-col-3">
        <div class="default-input-wrapper full-row">
            <label>{{'EDIT_PROFILE.CUR_ADD_E'|translate}}</label>
            <div class="default-input-feild">
                <mat-form-field appearance="outline">
                    <textarea matInput rows="5" formControlName="curAddressEng" maxlength="255" class="form-control"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="pg-inner-col-3">
        <div class="default-input-wrapper full-row">
            <label>{{'EDIT_PROFILE.CUR_ADD_S'|translate}}</label>
            <div class="default-input-feild">
                <mat-form-field appearance="outline" >
                    <textarea matInput rows="5" formControlName="curAddressSin" maxlength="255" class="form-control"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="pg-inner-col-3">
        <div class="default-input-wrapper full-row">
            <label>{{'EDIT_PROFILE.CUR_ADD_T'|translate}}</label>
            <div class="default-input-feild">
                <mat-form-field appearance="outline">
                    <textarea matInput rows="5" formControlName="curAddressTam" maxlength="255" class="form-control"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>

<div class="pg-inner-row mb-20">
    <div class="pg-inner-col">
        <div class="default-input-wrapper full-row">
            <label>{{'EDIT_PROFILE.CONTACT'|translate}}</label>
            <div class="default-input-feild">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="contact" class="form-control">
                </mat-form-field>
              <div *ngIf="f.contact.errors" >
                <mat-error *ngIf="f.contact.errors.required" class="errors">
                  {{'EDIT_PROFILE.CONTACT_REQ'|translate}}
                </mat-error>
                <mat-error *ngIf="f.contact.errors.pattern" class="errors">{{'EDIT_PROFILE.VALID_CONTACT'|translate}}</mat-error>
              </div>
            </div>
        </div>
    </div>
    <div class="pg-inner-col">
        <div class="default-input-wrapper full-row">
            <label>{{'EDIT_PROFILE.MOBILE'|translate}}</label>
            <div class="default-input-feild">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="mobile" class="form-control">
                </mat-form-field>
              <div *ngIf="f.mobile.errors" >
                <mat-error *ngIf="f.mobile.errors.required" class="errors">
                  {{'EDIT_PROFILE.MOBILE_REQ'|translate}}
                </mat-error>
                <mat-error *ngIf="f.mobile.errors.pattern" class="errors">{{'EDIT_PROFILE.VALID_MOBILE'|translate}}</mat-error>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="pg-inner-row mb-20">
    <div class="pg-inner-col">
        <div class="default-input-wrapper full-row">
            <label>{{'EDIT_PROFILE.EMAIL'|translate}}</label>
            <div class="default-input-feild">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="email" class="form-control">
                </mat-form-field>
              <div *ngIf="f.email.errors" >
                <mat-error *ngIf="f.email.errors.required" class="errors">
                  {{'EDIT_PROFILE.EMAIL_REQ'|translate}}
                </mat-error>
                <mat-error *ngIf="f.email.errors.pattern" class="errors">{{'EDIT_PROFILE.VALID_EMAIL'|translate}}</mat-error>
              </div>
            </div>
        </div>
    </div>
    <div class="pg-inner-col"></div>
</div>

<div class="separator">&nbsp;</div>

<div class="pg-inner-row mb-20">
    <div class="pg-inner-col">
        <div class="default-input-wrapper full-row">
          <label>{{'EDIT_PROFILE.JUD_DIV'|translate}}</label>
            <div class="default-input-feild">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="judicial" class="form-control" readonly>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>{{'EDIT_PROFILE.LAND_REG'|translate}}</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput formControlName="lRegistry" class="form-control" readonly>
          </mat-form-field>
        </div>
      </div>
    </div>
</div>

  <div class="pg-inner-col right" >
    <button mat-raised-button class="lg-button" (click)="submitForm()" [disabled]="disableSubmit=== true">
      {{'BUTTONS.SUBMIT_BUTTON'|translate}}
    </button>
  </div>
</form>
