<div class="pg-inner-row mb-40">
  <div class="pg-inner-col">
    <h4 class="m0">Remark</h4>
  </div>
</div>

<div class="default-input-wrapper full-row">
  <div class="remark-col">
    <dl>
      <dt>Remarks for:</dt>
      <dd>Title</dd>
    </dl>
    <dl>
      <dt>Remark:</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit egestas leo pellentesque arcu congue. Bibendum sit nunc sed lectus odio tellus. Amet egestas orci pharetra eget. Feugiat congue pulvinar luctus faucibus gravida odio nulla ultricies. Morbi viverra aliquam id at nunc. Vel urna turpis non risus.</dd>
    </dl>
    <dl>
      <dt>Remarks by:</dt>
      <dd>Name</dd>
    </dl>
    <dl>
      <dt>Remarks date:</dt>
      <dd>07/11/2019 12:00PM</dd>
    </dl>
  </div>
</div>

<div id="notary_request_remark" class="page-layout simple fullwidth" fxLayout="column" id="remark-table">
  <div class="p-24">
    <div
      class="mb-24"
      fxLayout="column"
      fxLayoutAlign="start"
      fxLayout.gt-md="row"
    >
      <app-remrk-table></app-remrk-table>
    </div>
  </div>
</div>

