<div class="page-header-default">
  <h2>{{'CITIZEN.REGISTRATION'|translate}}</h2>
  <p>{{'CITIZEN.REGISTRATION1'|translate}}<br />{{'CITIZEN.REGISTRATION2'|translate}}</p>
  <a [routerLink]="['/home']" class="phd-back-btn">
    <i class="material-icons">keyboard_backspace</i>
  </a>
</div>
<div class="page-content-wrapper" *ngIf="!(isContinue)">
  <div class="page-content-inner-wrapper">
    <form [formGroup]="publicUserForm">
      <div class="default-input-wrapper full-row half-cols">
        <label>{{'CITIZEN.TITLE'|translate}}
          <span>*</span></label>
        <div class="default-input-feild gray">
            <mat-select placeholder="{{'CITIZEN.SELECT_LAND_REG'|translate}}" formControlName="nearestLr"
            >
                        <!--(selectionChange)="getCurrentLandRegistry(nearestLr.value)"-->
              <mat-option *ngFor="let landRegistry of landRegistriesDTOList" [value]="landRegistry.landRegistryId">{{landRegistry.name|listTranslate:landRegistry.nameSin:landRegistry.nameTam}}</mat-option>
            </mat-select>
            <mat-spinner [diameter]="16" *ngIf="!isLrLoaded" class="spinner-input"></mat-spinner>
          <div *ngIf="(FormControls.nearestLr.touched || FormControls.nearestLr.dirty) && FormControls.nearestLr.invalid"
                     class="invalid-feedback">
          <mat-error *ngIf="FormControls.nearestLr.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
        </div>
        </div>
      </div>

      <div class="default-input-wrapper full-row half-cols">
        <label>{{'CITIZEN.USER_TYPE'|translate}}<span>*</span></label>
        <div class="default-input-feild gray">
            <mat-select placeholder="{{'CITIZEN.SELECT'|translate}}" formControlName="type" required>
                        <!--(selectionChange)="getCurrentUserType(type.value)"-->
              <mat-option value="{{PublicUserType.CITIZEN}}">{{'CITIZEN.CITIZEN'|translate}}</mat-option>
              <mat-option value="{{PublicUserType.BANK}}">{{'CITIZEN.BANK'|translate}}</mat-option>
              <mat-option value="{{PublicUserType.LAWYER}}">{{'CITIZEN.LAWYER'|translate}}</mat-option>
              <mat-option value="{{PublicUserType.STATE}}">{{'CITIZEN.STATE'|translate}}</mat-option>
              <mat-option value="{{PublicUserType.OTHER}}">{{'CITIZEN.OTHER1'|translate}}</mat-option>
            </mat-select>
          <div *ngIf="(FormControls.type.touched || FormControls.type.dirty) && FormControls.type.invalid"
               class="invalid-feedback">
            <mat-error *ngIf="FormControls.type.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
          </div>
        </div>
      </div>

      <div class="separator mt-30">&nbsp;</div>

      <div *ngIf="publicUserType.value == PublicUserType.LAWYER" class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.LAW_FIRM_NAME'|translate}}<span>*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'CITIZEN.LAW_FIRM_NAME'|translate}}" formControlName="lawFirmName" />
          </mat-form-field>
          <div *ngIf="lawFirmName.invalid && (lawFirmName.dirty || lawFirmName.touched)">
            <mat-error *ngIf="lawFirmName.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
            <mat-error *ngIf="lawFirmName.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}</mat-error>
            <mat-error *ngIf="lawFirmName.errors.pattern" class="errors">{{'CITIZEN.VALID_NAME'| translate}}</mat-error>
          </div>
        </div>
      </div>

      <div class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.APPLICANT_NAME'|translate}} <span>*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'CITIZEN.APPLICANT_NAME'|translate}}" formControlName="nameEnglish" />
          </mat-form-field>
          <div *ngIf="(FormControls.nameEnglish.touched || FormControls.nameEnglish.dirty)  && FormControls.nameEnglish.invalid"
               class="invalid-feedback">
            <mat-error *ngIf="FormControls.nameEnglish.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
            <mat-error *ngIf="FormControls.nameEnglish.errors.pattern" class="errors">{{'CITIZEN.VALID_NAME'|translate}}</mat-error>
            <mat-error *ngIf="nameEnglish.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}</mat-error>
          </div>
        </div>
      </div>
      <div class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.APPLICANT_NAME_SIN'|translate}}</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'CITIZEN.APPLICANT_NAME_SIN'|translate}}" formControlName="nameSinhala" />
          </mat-form-field>
          <div *ngIf="nameSinhala.invalid && (nameSinhala.dirty || nameSinhala.touched)">
            <mat-error *ngIf="nameSinhala.errors.pattern" class="errors">{{'CITIZEN.VALID_NAME'|translate}}</mat-error>
            <mat-error *ngIf="nameSinhala.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}</mat-error>
          </div>
        </div>
      </div>
      <div class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.APPLICANT_NAME_TAM'|translate}}</label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'CITIZEN.APPLICANT_NAME_TAM'|translate}}" formControlName="nameTamil" />
          </mat-form-field>
          <div *ngIf="nameTamil.invalid && (nameTamil.dirty || nameTamil.touched)">
            <mat-error *ngIf="nameTamil.errors.pattern" class="errors">{{'CITIZEN.VALID_NAME'|translate}}</mat-error>
            <mat-error *ngIf="nameTamil.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}</mat-error>
          </div>
        </div>
      </div>

      <div class="default-input-wrapper full-row half-cols" *ngIf="type.value && type.value != PublicUserType.CITIZEN">
        <label class="mw-200">{{'CITIZEN.OFFICERS_DESIGNATION'|translate}}<span>*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'CITIZEN.OFFICERS_DESIGNATION'|translate}}"
              formControlName="officersDesignation" />
          </mat-form-field>
          <div *ngIf="officersDesignation.invalid && (officersDesignation.dirty || officersDesignation.touched)">
            <mat-error *ngIf="officersDesignation.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}
            </mat-error>
            <mat-error *ngIf="officersDesignation.errors.pattern" class="errors">
              {{'VALIDATION.DESIGNATION.DESIGNATION_ERR'| translate}}</mat-error>
            <mat-error *ngIf="officersDesignation.errors.maxlength" class="errors">
              {{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
          </div>
        </div>
      </div>

      <div *ngIf="publicUserType.value == PublicUserType.STATE" class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.STATE_INS_NAME'|translate}} <span>*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'CITIZEN.STATE_INS_NAME'|translate}}" formControlName="stateInstitutionName" />
          </mat-form-field>
          <div *ngIf="stateInstitutionName.invalid && (stateInstitutionName.dirty || stateInstitutionName.touched)">
            <mat-error *ngIf="stateInstitutionName.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
            <mat-error *ngIf="stateInstitutionName.errors.pattern" class="errors">{{'CITIZEN.VALID_NAME'| translate}}</mat-error>
            <mat-error *ngIf="stateInstitutionName.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
          </div>
        </div>
      </div>

      <div *ngIf="publicUserType.value == PublicUserType.OTHER" class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.OTHER_INS_NAME'|translate}} <span>*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'CITIZEN.OTHER_INS_NAME'|translate}}" formControlName="otherInstitutionName" />
          </mat-form-field>
          <div *ngIf="(FormControls.otherInstitutionName.touched || FormControls.otherInstitutionName.dirty) && FormControls.otherInstitutionName.invalid"
               class="invalid-feedback">
            <mat-error *ngIf="FormControls.otherInstitutionName.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
            <mat-error *ngIf="FormControls.otherInstitutionName.errors.pattern" class="errors">{{'CITIZEN.VALID_NAME'| translate}}</mat-error>
            <mat-error *ngIf="FormControls.otherInstitutionName.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
          </div>
        </div>
      </div>

      <div *ngIf="publicUserType.value == PublicUserType.BANK">
        <div class="default-input-wrapper full-row half-cols">
          <label class="mw-200">{{'CITIZEN.BANK_NAME'|translate}}<span>*</span></label>
          <div class="default-input-feild gray">

            <mat-select placeholder="{{'CITIZEN.SELECT_BANK'|translate}}" formControlName="bankName" required
            >
              <!--(selectionChange)="getCurrentBank($event)"-->
              <mat-option *ngFor="let bank of banks" [value]="bank.bankId">
                {{bank.bankName|listTranslate:bank.bankNameSin:bank.bankNameTam}}</mat-option>
            </mat-select>

            <div *ngIf="(FormControls.bankName.touched || FormControls.bankName.dirty) && FormControls.bankName.invalid" class="invalid-feedback">
              <mat-error *ngIf="FormControls.bankName.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}
              </mat-error>
            </div>
          </div>
        </div>

        <div class="default-input-wrapper full-row half-cols">
          <label class="mw-200">{{'CITIZEN.BANK_BRANCH'|translate}}<span>*</span></label>
          <div class="default-input-feild gray">

            <mat-select placeholder="{{'CITIZEN.SELECT_BANK_BRANCH'|translate}}" formControlName="bankBranch" required
            >
              <!--(selectionChange)="selectBranch(bankBranch.value)"-->
              <mat-option *ngFor="let bankBranch of bankBranches" [value]="bankBranch.id">
                {{bankBranch.description|listTranslate:bankBranch.descriptionSin:bankBranch.descriptionTam}}</mat-option>
            </mat-select>

            <div *ngIf="(bankBranch.touched || bankBranch.dirty) && bankBranch.invalid" class="invalid-feedback">
              <mat-error *ngIf="bankBranch.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}
              </mat-error>
            </div>
          </div>
        </div>
        </div>

      <div *ngIf="publicUserType.value != PublicUserType.OTHER">
        <div class="default-input-wrapper full-row half-cols">
          <label class="mw-200">{{'CITIZEN.ADDRESS'|translate}} <span>*</span></label>
          <div class="default-input-feild">
            <mat-form-field appearance="outline">
              <input matInput placeholder="{{'CITIZEN.ADDRESS_ENG'|translate}}" formControlName="address1" />
            </mat-form-field>
            <div *ngIf="(FormControls.address1.touched || FormControls.address1.dirty) && FormControls.address1.invalid"
                 class="invalid-feedback">
              <mat-error *ngIf="address1.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
              <mat-error *ngIf="address1.errors.pattern" class="errors">{{'CITIZEN.VALID_ADDRESS'|translate}}</mat-error>
              <mat-error *ngIf="address1.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
            </div>
          </div>
        </div>
        <div class="default-input-wrapper full-row half-cols">
          <label class="mw-200">{{'CITIZEN.ADDRESS_SIN'|translate}}</label>
          <div class="default-input-feild">
            <mat-form-field appearance="outline">
              <input matInput placeholder="{{'CITIZEN.ADDRESS_SIN'|translate}}" formControlName="address2" />
            </mat-form-field>
            <div *ngIf="address2.invalid && (address2.dirty || address2.touched)"
                 class="invalid-feedback">
              <mat-error *ngIf="address2.errors.pattern" class="errors">{{'CITIZEN.VALID_ADDRESS'|translate}}</mat-error>
              <mat-error *ngIf="address2.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
            </div>
          </div>
        </div>
        <div class="default-input-wrapper full-row half-cols">
          <label class="mw-200">{{'CITIZEN.ADDRESS_TAM'|translate}}</label>
          <div class="default-input-feild">
            <mat-form-field appearance="outline">
              <input matInput placeholder="{{'CITIZEN.ADDRESS_TAM'|translate}}" formControlName="address3" />
            </mat-form-field>
            <div *ngIf="address3.invalid && (address3.touched || address3.dirty)"
                 class="invalid-feedback">
              <mat-error *ngIf="address3.errors.pattern" class="errors">{{'CITIZEN.VALID_ADDRESS'|translate}}</mat-error>
              <mat-error *ngIf="address3.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
            </div>
          </div>
        </div>
      </div>

      <div class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.IDENT_TYPE'|translate}} <span>*</span></label>
        <div class="default-input-feild gray">

            <mat-select placeholder="{{'CITIZEN.SELECT_IDEN_TYP'|translate}}" formControlName="identificationType" matNativeControl required
            >
                        <!--(selectionChange)="getCurrentIdentificationType($event.value)"-->
              <mat-option value="{{identificationType.NIC}}" >{{'CITIZEN.NIC'|translate}}</mat-option>
              <mat-option value="{{identificationType.PASSPORT}}" >{{'CITIZEN.PASSPORT'|translate}}</mat-option>
              <mat-option value="{{identificationType.DRIVING_LICENSE}}" >{{'CITIZEN.DRIVING_LIC'|translate}}</mat-option>
            </mat-select>

          <div *ngIf="(FormControls.identificationType.touched || FormControls.identificationType.dirty) && FormControls.identificationType.invalid"
               class="invalid-feedback">
            <mat-error *ngIf="FormControls.identificationType.errors.required" class="errors">{{'CITIZEN.IDENT_TYP_REQ'|translate}}</mat-error>
          </div>
        </div>
      </div>
      <div class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.IDENTITY_NUMBER'|translate}}<span>*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'CITIZEN.IDNO'|translate}}" formControlName="identificationNo" />
          </mat-form-field>
          <div *ngIf="(FormControls.identificationNo.touched || FormControls.identificationNo.dirty) && FormControls.identificationNo.invalid"
               class="invalid-feedback">
            <mat-error *ngIf="FormControls.identificationNo.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
            <mat-error *ngIf="identificationNo.errors.maxlength || identificationNo.errors.pattern" class="errors">{{'CITIZEN.VALID_REF_NUM'|translate}}</mat-error>
          </div>
        </div>
      </div>

      <div class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.TEL1'|translate}} <span>*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'CITIZEN.TEL1'|translate}}" formControlName="primaryContact" />
          </mat-form-field>
          <div *ngIf="(FormControls.primaryContact.touched || FormControls.primaryContact.dirty) && FormControls.primaryContact.invalid"
               class="invalid-feedback">
            <mat-error *ngIf="FormControls.primaryContact.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
            <mat-error *ngIf="FormControls.primaryContact.errors.pattern" class="errors">{{'CITIZEN.VALID_TEL'|translate}}</mat-error>
          </div>
        </div>
      </div>
      <div class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.TEL2'|translate}}  </label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'CITIZEN.TEL2'|translate}}" formControlName="secondaryContact" />
          </mat-form-field>
          <div *ngIf="(FormControls.secondaryContact.touched || FormControls.secondaryContact.dirty) && FormControls.secondaryContact.invalid"
               class="invalid-feedback">
            <mat-error *ngIf="FormControls.secondaryContact.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
            <mat-error *ngIf="FormControls.secondaryContact.errors.pattern" class="errors">{{'CITIZEN.VALID_TEL'|translate}}</mat-error>
          </div>
        </div>
      </div>
      <div class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.EMAIL'|translate}} <span>*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput placeholder="{{'CITIZEN.EMAIL'|translate}}" formControlName="email" (focusout)="setUserName($event.target.value)" />
          </mat-form-field>
          <div *ngIf="(FormControls.email.touched || FormControls.email.dirty) && FormControls.email.invalid"
               class="invalid-feedback">
            <mat-error *ngIf="FormControls.email.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
            <mat-error *ngIf="FormControls.email.errors.pattern" class="errors">{{'CITIZEN.VALID_EMAIL'|translate}}</mat-error>
            <mat-error *ngIf="publicUserExist && (!email.errors.required) && (!email.errors.pattern)" class="errors">{{'CITIZEN.ALREADY_EMAIL'|translate}}</mat-error>
          </div>
        </div>
        <div class="din-info-col">{{'CITIZEN.NOTI_EMAIL'|translate}}</div>
      </div>
      <div class="default-input-wrapper full-row half-cols">
        <label class="mw-200">{{'CITIZEN.REASON_FOR_APP'|translate}}<span>*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <textarea matInput rows="5" placeholder="{{'CITIZEN.RSON'|translate}}" formControlName="reason"></textarea>
          </mat-form-field>
          <div *ngIf="reason.invalid && (reason.dirty || reason.touched)">
            <mat-error *ngIf="reason.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
            <mat-error *ngIf="reason.errors.pattern" class="errors">{{'VALIDATION.INVALID_REASON_ERR'| translate}}</mat-error>
            <mat-error *ngIf="reason.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
          </div>
        </div>
      </div>

      <div class="separator mt-30">&nbsp;</div>

      <div class="pg-inner-row mb-20 upload-col-3">
        <div class="pg-inner-col-3" *ngFor="let document of docList">
          <div class="default-input-wrapper full-row">
            <file-upload-input [document]="document"
                               [invalid]="document.invalid && document.selected"
                               (response)="setFiles($event,document)">
            </file-upload-input>
            <label>{{document.description|listTranslate: document.descriptionSin: document.descriptionTam}}
              <span *ngIf="document.required" class="redtxt"> *</span>
            </label>
            <mat-error *ngIf="!document.error && document.invalid && document.selected">Document required</mat-error>
            <mat-error *ngIf="document.error">{{document.errorMsg}}</mat-error>
          </div>
        </div>
      </div>

      <div class="separator">&nbsp;</div>

      <div class="pg-inner-row mb-0 pg-form-bottom-3-col">
        <div class="pg-inner-col">
          <re-captcha formControlName="recaptcha"></re-captcha>
        </div>
        <div class="pg-inner-col middle">
          <!--{{'CITIZEN.END1'|translate}}-->
          <!--<a href="#">{{'CITIZEN.END2'|translate}}</a> , <a href="#">{{'CITIZEN.END3'|translate}}</a> ,-->
          <!--and <a href="#">{{'CITIZEN.END4'|translate}}</a> .-->
        </div>

          <div class="pg-inner-col float-right">
            <mat-error *ngIf="errorMsg">{{errorMsg}}</mat-error>
            <button mat-raised-button class="lg-button float-right" [disabled]="recaptcha.invalid" (click)="continue()">
              {{'BUTTONS.CONTINUE_BUTTON'|translate}}
            </button>
          </div>

      </div>
    </form>
  </div>
</div>

<div class="page-content-wrapper" *ngIf="isContinue">
  <div class="page-content-inner-wrapper">
    <app-payment (response)="onPaymentResponse($event)"
                 (paymentMethodResponse) = paymentMethodResponse($event)
                 [statusOnlinePayment] = "statusOnlinePayment"
                 [isDocumentCollect]= "false"
                 [hasFrontCounterPayment]= "false"
                 [returnUrl]="returnURl"
                 (back)="onBack($event)"
                 [applicationFeeCode]="workflowPayment"
                 [isDocumentCollect]="true"
                 [workflowCode]="WorkflowCode.CITIZEN_REGISTRATION"
                 [workflowStageCode]="citizenDTO.workFlowStageCode"
                 [userType]="userType"
                 [userId]="userId">
      </app-payment>
  </div>
</div>
