<form class="form-horizontal" [formGroup]="paymentForm" *ngIf="!isContinueToPayment">
  <div class="hc-component-wrapper payment">
    <div class="hc-component-img" style="background-image: url('assets/images/payment.svg'); background-size: cover;">
    </div>
    <div class="hc-component-content">
      <div class="pce-container">
        <div *ngIf="isDocumentCollect" class="default-input-wrapper full-row mb-30">
          <label *ngIf="workflowCode!=Workflow.EXTRACT_REQUEST"><strong>{{'PAYMENT.LICENSE_ISSUE'|translate}}</strong>{{'PAYMENT.LICENSE_WAY'|translate}}</label>
          <label *ngIf="workflowCode==Workflow.EXTRACT_REQUEST"><strong>{{'PAYMENT.EXTRACT_ISSUE'|translate}}</strong>{{'PAYMENT.EXTRACT_WAY'|translate}}</label>
          <div class="default-input-feild">
            <mat-radio-group formControlName="licenseMethod" class="form-control"
              (change)="onChangeIssueMethod($event)">
              <mat-radio-button class="example-margin" [value]="DocumentIssueMethod.BY_HAND">{{'PAYMENT.BY_HAND'|translate}}</mat-radio-button>
              <mat-radio-button class="example-margin" [value]="DocumentIssueMethod.BY_POST_NORMAL">{{'PAYMENT.BY_POST_NO'|translate}}
              </mat-radio-button>
              <mat-radio-button class="example-margin" [value]="DocumentIssueMethod.BY_POST_REGISTERED">{{'PAYMENT.BY_POST_RE'|translate}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="default-input-wrapper full-row mb-30">
          <label><strong>{{'PAYMENT.PAYMENT'|translate}}</strong>{{'PAYMENT.PAYMENT_METHOD'|translate}}</label>
          <div class="default-input-feild">
            <mat-radio-group formControlName="paymentMethod" class="form-control"
              (change)="onChangePaymentMethod($event);">
              <!--(change)="setPaymentMethod(this.paymentForm.value.paymentMethod)"-->
              <mat-radio-button class="example-margin" [value]="PaymentMethod.ONLINE">{{'PAYMENT.ONLINE'|translate}}</mat-radio-button>
              <mat-radio-button class="example-margin" [value]="PaymentMethod.BANK_TRANSFER_OR_DIPOSIT">{{'PAYMENT.BANK_TR_DE'|translate}}
              </mat-radio-button>
              <!--<mat-radio-button class="example-margin" [value]="PaymentMethod.BANK_SLIP">Bank Slip</mat-radio-button>-->
              <mat-radio-button *ngIf="hasFrontCounterPayment" class="example-margin" [value]="PaymentMethod.FRONT_COUNTER">{{'PAYMENT.FRONT_COUNTER'|translate}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="default-input-wrapper full-row mb-0 t-right">
          <div class="payment-summary">
            <dl>
              <dt>{{'PAYMENT.AMOUNT'|translate}}</dt>
              <dd>{{applicationAmount}}(LKR)</dd>
            </dl>
            <dl *ngIf="isDocumentCollect">
              <dt>{{'PAYMENT.ISSUE'|translate}}</dt>
              <dd>{{issueAmount}}(LKR)</dd>
            </dl>
            <dl class="total">
              <dt>{{'PAYMENT.TOTAL'|translate}}</dt>
              <dd>{{totalAmount}}(LKR)</dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="hc-component-bottom">
        <span class="bt-line">&nbsp;</span>
        <button mat-raised-button class="button" (click)="onClickBack()">{{'PAYMENT.BACK'|translate}}</button>
        <button mat-raised-button class="button green ml-10" (click)="onClickContinue()">
          <div class="row">
            {{'PAYMENT.CONTINUE'|translate}}
            <mat-spinner [diameter]="16" *ngIf="showSpinner" class="spinner-inline"></mat-spinner>
          </div>
        </button>
      </div>
    </div>
  </div>
</form>

<app-online-method
 *ngIf="statusOnlinePayment && paymentMethod === PaymentMethod.ONLINE"
 [paymentAmount]="totalAmount"
 [transactionRef] = "paymentReference"
 [returnUrl] = "newReturnUrl"
 [workflowStageCode]= "workflowStageCode"
 [userType]="userType"
 [userId]="userId"
 >
 </app-online-method>
<app-payment-method
  *ngIf="isContinueToPayment && paymentMethod==PaymentMethod.BANK_TRANSFER_OR_DIPOSIT"
  (response)="onPaymentResponseFromBankSlip($event)"
  (back)="onBackFromBankSlip($event)"
  [paymentDTO]="paymentDTO"
></app-payment-method>
