<div class="dashboard-container" *ngIf="dashboardView && !requestView">
  <div class="dashboard-inner-container">
    <div class="db-left-col" style="background-image: url('assets/images/temp_img_005.jpg')">&nbsp;</div>
    <div class="db-right-col">
      <h2>{{'DASOBOARD.TITLE1'|translate}}</h2>
      <div class="db-card-full" *ngIf="user.type == userType.NOTARY && user.userStatus != CommonStatus.ACTIVE">
        <div class="db-card-header" style="background-image: url('assets/images/temp_img_006.jpg')">
        </div>
        <div class="db-card-content">
          <dl class="db-card-info">
            <dt>{{'DASOBOARD.NOTARY_CODE'|translate}}</dt>
            <dd>{{searchDetails?.notaryCode}}</dd>
          </dl>
          <dl class="db-card-info">
            <dt>{{'DASOBOARD.NOTARYID'|translate}}</dt>
            <dd>{{searchDetails?.notaryId}}</dd>
          </dl>
          <dl class="db-card-info">
            <dt>{{'DASOBOARD.STATUS'|translate}}</dt>
            <dd>
              <span
                [class]="user.userStatus === commonStatus.PENDING ?'status-pending': 'status-success'">
                {{getStatus()}}
              </span>

            </dd>
          </dl>
          <dl class="db-card-info">
            <dt>{{'DASOBOARD.NAME'|translate}}</dt>
            <dd>{{searchDetails?.name}}</dd>
          </dl>
          <dl class="db-card-info">
            <dt>{{'DASOBOARD.PAYMENT'|translate}}</dt>
            <dd>{{searchDetails?.paymentMethod}}</dd>
          </dl>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="db-card-bottom">
          <button mat-raised-button class="green" (click)="viewDetails()">View</button>
        </div>
      </div>
      <div class="db-card-full" *ngIf="user.type == userType.CITIZEN">
        <div class="db-card-header" style="background-image: url('assets/images/temp_img_006.jpg')">
        </div>
        <div class="db-card-content">
          <dl class="db-card-info">
            <dt>{{'DASOBOARD.CITIZENID'|translate}}</dt>
            <dd> {{searchDetails?.id}}</dd>
          </dl>
          <dl class="db-card-info">
            <dt>{{'DASOBOARD.STATUS'|translate}}</dt>
            <dd>
                <span class="{{searchDetails?.status === commonStatus.PENDING ? 'status-pending':
                              searchDetails?.status === commonStatus.INACTIVE? 'status-pending':
                              searchDetails?.status === commonStatus.REJECT? 'status-pending': 'status-success'}}">
                  {{searchDetails?.status === commonStatus.PENDING ? 'Pending Approval':
                                    searchDetails?.status === commonStatus.INACTIVE? 'Further Details Submission':
                                    searchDetails?.status === commonStatus.REJECT? 'Request Rejected': 'Approved' }}
                </span>
            </dd>
          </dl>
          <dl class="db-card-info">
            <dt>{{'DASOBOARD.NAME'|translate}}</dt>
            <dd> {{searchDetails?.name}}</dd>
          </dl>
          <div class="clear">&nbsp;</div>
        </div>
        <div class="db-card-bottom">
          <button mat-raised-button class="green" [routerLink]="['/view-citizen', getBase64(searchDetails?.status)]">{{'BUTTONS.VIEW_BUTTON'| translate}}</button>
        </div>
      </div>
      <div class="db-main-wp" *ngIf="user.userStatus === commonStatus.ACTIVE">
        <div class="db-link-tile c1" *ngIf="user.type == userType.NOTARY">
          <a [routerLink]="['/requests/'+getBase64(Workflow.JUDICIAL_ZONE_CHANGE)]">
            <span class="icon">
              <i class="material-icons">room</i>
            </span>
            <span class="title">{{'DASOBOARD.CHG_JUD_ZONE'|translate}}</span>
          </a>
        </div>
        <div class="db-link-tile c1" *ngIf="user.type == userType.NOTARY">
          <a [routerLink]="['/requests/'+getBase64(Workflow.CHANGE_LAND_REGISTRY)]">
            <span class="icon">
              <i class="material-icons">room</i>
            </span>
            <span class="title">{{'DASOBOARD.CHG_LAND_REG'|translate}}</span>
          </a>
        </div>
        <div class="db-link-tile c2" *ngIf="user.type == userType.NOTARY">
          <a [routerLink]="['/notary-requests/'+getBase64(Workflow.NOTARY_NAME_CHANGE)]">
            <span class="icon">
              <i class="material-icons">cached</i>
            </span>
            <span class="title">{{'DASOBOARD.CHG_NAME'|translate}}</span>
          </a>
        </div>
        <div class="db-link-tile c3" *ngIf="user.type == userType.NOTARY">
          <a [routerLink]="['/resignation', user.id]">
            <span class="icon">
              <i class="material-icons">label</i>
            </span>
            <span class="title">{{'DASOBOARD.CHG_RESIGNATION'|translate}}</span>
          </a>
        </div>
        <div class="db-link-tile c4" *ngIf="user.type == userType.NOTARY">
          <a [routerLink]="['/requests', getBase64(Workflow.LANGUAGE_CHANGE)]">
                        <span class="icon">
                            <i class="material-icons">speaker_notes</i>
                        </span>
            <span class="title">{{'DASOBOARD.CHG_LANG'|translate}}</span>
          </a>
        </div>
        <div class="db-link-tile c5" *ngIf="user.type == userType.NOTARY">
          <a [routerLink]="['/leave-request', user.id]">
            <span class="icon">
              <i class="material-icons">date_range</i>
            </span>
            <span class="title">{{'DASOBOARD.REQ_LEAVE'|translate}}</span>
          </a>
        </div>
        <div class="db-link-tile" *ngIf="user.type == userType.NOTARY">
          <a [routerLink]="['/applications']">
            <span class="icon">
              <i class="material-icons">insert_drive_file</i>
            </span>
            <span class="title">{{'DASOBOARD.APPLICATIONS'|translate}}</span>
          </a>
        </div>
        <div class="db-link-tile c1" *ngIf="user.type == userType.CITIZEN && user.userStatus == commonStatus.ACTIVE">
          <a [routerLink]="['/requests', getBase64(Workflow.FOLIO_REQUEST_CORRECTION)]">
            <span class="icon">
              <i class="material-icons"> edit </i>
            </span>
            <span class="title">{{'DASOBOARD.SECTION35'|translate}}</span>
          </a>
        </div>
        <div class="db-link-tile c1" *ngIf="user.userStatus == commonStatus.ACTIVE">
          <a [routerLink]="['/requests/'+getBase64(Workflow.SEARCH_REQUEST)]">
                        <span class="icon">
                          <i class="material-icons">search</i>
                        </span>
            <span class="title">{{'DASOBOARD.SEARCH'|translate}}</span>
          </a>
        </div>
        <div class="db-link-tile c4" *ngIf="user.userStatus == commonStatus.ACTIVE">
          <a [routerLink]="['/requests/'+getBase64(Workflow.EXTRACT_REQUEST)]">
            <span class="icon">
              <i class="material-icons">dns</i>
            </span>
            <span class="title">{{'DASOBOARD.EXTRACT'|translate}}</span>
          </a>
        </div>
        <div class="db-link-tile c3" *ngIf="user.type == userType.CITIZEN && user.userStatus == commonStatus.ACTIVE">
          <a [routerLink]="['/requests']">
            <span class="icon">
              <i class="material-icons">feedback</i>
            </span>
            <span class="title">{{'DASOBOARD.REQUESTS'|translate}}</span>
          </a>
        </div>
        <div class="db-link-tile c2" *ngIf="user.type == userType.CITIZEN && user.userStatus == commonStatus.ACTIVE">
          <a [routerLink]="['/request-for-correction']">
            <span class="icon">
              <i class="material-icons">label</i>
            </span>
            <span class="title">{{'DASOBOARD.REQUEST_FOR_CORRECTION'|translate}}</span>
          </a>
        </div>
        <!--<div class="db-link-tile c2">-->
          <!--<a *ngIf="!folioPending" (click)="viewFolio()">-->
            <!--<span class="icon">-->
              <!--<i class="material-icons">label</i>-->
            <!--</span>-->
            <!--<span class="title">Folio View</span>-->
          <!--</a>-->
          <!--<mat-spinner *ngIf="folioPending"></mat-spinner>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>

<div *ngIf="requestView && !dashboardView">
  <app-view-notary
    [notaryId]="notaryId"
    [notaryRequestId]="searchDetails.requestId"
    [workflowStage]="searchDetails.workflow"
    (onBack)="onBackNotaryView($event)"></app-view-notary>
</div>
