<div class="page-header-default">
  <h2>JUDICIAL ZONE CHANGING </h2>
  <a href="" class="phd-back-btn">
    <i class="material-icons">keyboard_backspace</i>
  </a>
</div>
<div class="page-content-wrapper">
  <div class="page-content-inner-wrapper">

    <div class="pg-inner-row mb-20">
      <div>
        <h5 class="mb-20"><i class="material-icons">description</i>
          REQUEST FOR CHANGING THE JUDICIAL ZONE
        </h5>
        <div class="separator">&nbsp;</div>
      </div>
    </div>

    <div class="pg-inner-row mb-20">

      <div class="pg-inner-col right">
        <div class="default-input-wrapper m0 rac-col">
          <div class="default-input-feild">
            <a routerLink="/change-judicial"><button mat-button class="button" >
              New
            </button></a>
          </div>
        </div>
      </div>
    </div>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">


      <!-- Position Column -->
      <ng-container matColumnDef="notaryRequestID">
        <th mat-header-cell mat-form-field  *matHeaderCellDef> Request Id </th>
        <td mat-cell *matCellDef="let element"> {{element.notaryRequestID}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="judicialZoneId">
        <th mat-header-cell *matHeaderCellDef> Judicial Zone </th>
        <td mat-cell *matCellDef="let element"> {{element.judicialZoneDescription}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="workflowDescription">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.workflowDescription}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element">
          <a  [routerLink]="['/change-judicial-request-view/'+workflowCode+'/'+element.notaryRequestID]"> <button mat-button color="accent" onclick="openDialog(element.notaryRequestID)">
            Select
          </button></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="mat-elevation-z8"  style="background-color: #c7c7c7;" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>



  </div>
</div>
