
<div id="notary_request_remark" class="page-layout simple fullwidth" fxLayout="column" id="remark-table">
  <div class="p-24">
    <div
      class="mb-24"
      fxLayout="column"
      fxLayoutAlign="start"
      fxLayout.gt-md="row"
    >

      <table fxFlex="1 1 auto" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Workflow Stage">
          <th mat-header-cell *matHeaderCellDef>{{'CITIZEN.WRK_STG'|translate}}</th>
          <td mat-cell *matCellDef="let row"> {{row.workflowStage}}</td>
        </ng-container>

        <ng-container matColumnDef="Remark">
          <th mat-header-cell *matHeaderCellDef>{{'CITIZEN.REMARK'|translate}}</th>
          <td mat-cell *matCellDef="let row"> {{row.remark}}</td>
        </ng-container>

        <ng-container matColumnDef="Created Time">
          <th mat-header-cell *matHeaderCellDef>{{'CITIZEN.CRTIME'|translate}}</th>
          <td mat-cell *matCellDef="let row"> {{row.createdTime}}</td>
        </ng-container>

        <ng-container matColumnDef="Created User">
          <th mat-header-cell *matHeaderCellDef>{{'CITIZEN.CRUSER'|translate}}</th>
          <td mat-cell *matCellDef="let row"> {{row.createdUser}}</td>
        </ng-container>

        <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>
  </div>
</div>

