<!-- <div class="footer">
    <div class="footer-inner">
        <div class="footer-col">
            <h5>Services</h5>
            <ul>
                <li><a href="#">Netus a urna placerat</a></li>
                <li><a href="#">Urna placerat</a></li>
                <li><a href="#">Vel vehicula</a></li>
                <li><a href="#">Condimentum</a></li>
                <li><a href="#">Leo ac fusce litora</a></li>
                <li><a href="#">Bibendum morbi</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h5>Platea massa</h5>
            <ul>
                <li><a href="#">Netus a urna placerat</a></li>
                <li><a href="#">Urna placerat</a></li>
                <li><a href="#">Vel vehicula</a></li>
                <li><a href="#">Condimentum</a></li>
                <li><a href="#">Leo ac fusce litora</a></li>
                <li><a href="#">Bibendum morbi</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h5>Proin egestas</h5>
            <ul>
                <li><a href="#">Netus a urna placerat</a></li>
                <li><a href="#">Urna placerat</a></li>
                <li><a href="#">Vel vehicula</a></li>
                <li><a href="#">Condimentum</a></li>
                <li><a href="#">Leo ac fusce litora</a></li>
                <li><a href="#">Bibendum morbi</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h5>Lorem ipsum</h5>
            <ul>
                <li><a href="#">Netus a urna placerat</a></li>
                <li><a href="#">Urna placerat</a></li>
                <li><a href="#">Vel vehicula</a></li>
                <li><a href="#">Condimentum</a></li>
                <li><a href="#">Leo ac fusce litora</a></li>
                <li><a href="#">Bibendum morbi</a></li>
            </ul>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
</div> -->
<div class="footer-bottom">
    &copy; 2019 All Rights Reserved.
</div>