<div class="page-header-default">
  <h2>{{'REQUEST_REGISTRATION.SECTION_35.NEW_REQUEST.TITLE'| translate}}</h2>
  <p *ngIf="showNewForm">{{'REQUEST_REGISTRATION.SECTION_35.NEW_REQUEST.SUB_TITLE'| translate}}</p>
  <a [routerLink]="['/requests', getBase64(workflow.FOLIO_REQUEST_CORRECTION)]" class="phd-back-btn">
    <i class="material-icons">keyboard_backspace</i>
  </a>
</div>
<app-new-correction-request *ngIf="showNewForm"></app-new-correction-request>
<app-request-for-correction-view *ngIf="!showNewForm"></app-request-for-correction-view>
