<div class="pg-inner-row mb-40">
    <div class="pg-inner-col">
        <h4 class="m0">Notary Clerk</h4>
    </div>
</div>

<div class="default-input-wrapper full-row">
    <label>Name:</label>
    <div class="default-input-feild">
        <mat-form-field appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>
</div>
<div class="default-input-wrapper full-row">
    <label>Address:</label>
    <div class="default-input-feild">
        <mat-form-field appearance="outline">
            <textarea matInput rows="5"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="default-input-wrapper full-row">
    <label>Email:</label>
    <div class="default-input-feild">
        <mat-form-field appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>
</div>
<div class="default-input-wrapper full-row">
    <label>Phone No:</label>
    <div class="default-input-feild">
        <mat-form-field appearance="outline">
            <input matInput>
        </mat-form-field>
    </div>
</div>