<div class="hc-component-wrapper payment">
    <div class="hc-component-img" style="background-image: url('../../../assets/images/temp_img_004.jpg')"></div>
    <div class="hc-component-content">
        <div class="pce-container">
            <div class="b-acc-info">
                <dl>
                    <dt>Bank Name</dt>
                    <dd>Bank of Ceylon</dd>
                </dl>
                <dl>
                    <dt>Account No</dt>
                    <dd>1234 5678 9012</dd>
                </dl>
                <dl class="total">
                    <dt>Total Amount</dt>
                    <dd><strong>Rs. 1100.00</strong></dd>
                </dl>
            </div>

            <!-- Bank Transfer Infomations -->
            <div class="payment-info-wrapper">
                <div class="default-input-wrapper full-row">
                    <label>Bank:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <select matNativeControl required>
                                <option value="">Select</option>
                                <option value="option-1">Option 01</option>
                                <option value="option-2">Option 02</option>
                                <option value="option-3">Option 03</option>
                            </select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="default-input-wrapper full-row">
                    <label>Date:</label>
                    <div class="default-input-feild date-feild">
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <button mat-raised-button (click)="picker.open()">
                            <i class="material-icons">calendar_today</i>
                        </button>
                    </div>
                </div>
                <div class="default-input-wrapper full-row">
                    <label>Reference No:</label>
                    <div class="default-input-feild">
                        <mat-form-field appearance="outline">
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="default-input-wrapper full-row">
                    <label>Bank slip:</label>
                    <div class="default-input-feild">
                        <div class="drag-drop">
                            <div class="drag-drop-inner">
                                <i class="material-icons">cloud_upload</i> Upload
                            </div>
                        </div>
                    </div>
                </div>        
            </div>

        </div>

        <div class="hc-component-bottom">
            <span class="bt-line">&nbsp;</span>
            <button mat-raised-button class="lg-button green" [routerLink]="['/login']">Continue</button>
        </div>
    </div>
</div>