<div class="page-header-default">
  <h2>{{headerText}} </h2>
  <a routerLink="/dashboard" class="phd-back-btn">
    <i class="material-icons">keyboard_backspace</i>
  </a>
</div>
<div class="page-content-wrapper">
  <div class="page-content-inner-wrapper">

    <div class="pg-inner-row mb-20">
      <div>
        <h5 class="mb-20"><i class="material-icons">description</i>
          {{titleText}}
        </h5>
        <div class="separator">&nbsp;</div>
      </div>
    </div>

    <div class="pg-inner-row mb-20">

      <div class="pg-inner-col right">
        <div class="default-input-wrapper m0 rac-col">
          <div class="default-input-feild">
            <a [routerLink]="newButtonURL" [state]="{previousUrl:previousUrl}">
              <button mat-button class="button">
                New
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">


      <!-- Position Column -->
      <ng-container matColumnDef="requestId">
        <th mat-header-cell mat-form-field *matHeaderCellDef> Request ID</th>
        <td mat-cell *matCellDef="let element">
          {{element.requestId}}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container *ngIf="Workflow.NOTARY_NAME_CHANGE==flag" matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Full Name</th>
        <td mat-cell *matCellDef="let element"> {{element.newFullNameEng}}</td>
      </ng-container>


      <!-- Name Column -->
      <ng-container *ngIf="Workflow.JUDICIAL_ZONE_CHANGE==flag" matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Judicial Zone</th>
        <td mat-cell *matCellDef="let element"> {{element.judicialZoneDescription}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container *ngIf="Workflow.CHANGE_LAND_REGISTRY==flag" matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Reason for change</th>
        <td mat-cell *matCellDef="let element"> {{element.reasonForChange}}</td>
      </ng-container>

      <!-- Name Column -->
      <!--<ng-container *ngIf="Workflow.CHANGE_LAND_REGISTRY==flag" matColumnDef="workflowDescription">-->
        <!--<th mat-header-cell *matHeaderCellDef> Land registry id</th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element.landRegistryId}}</td>-->
      <!--</ng-container>-->

      <!--<ng-container *ngIf="Workflow.CHANGE_LAND_REGISTRY==flag" matColumnDef="date">-->
        <!--<th mat-header-cell *matHeaderCellDef> New notary request id</th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element.notartRequestId}}</td>-->
      <!--</ng-container>-->

      <!-- Name Column -->
      <ng-container *ngIf="Workflow.SEARCH_REQUEST==flag || Workflow.EXTRACT_REQUEST==flag || Workflow.LANGUAGE_CHANGE == flag" matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Request Type</th>
        <td mat-cell *matCellDef="let element"> {{element.requestTypeDes}}</td>
      </ng-container>

      <!--section 35/folio no-->
      <ng-container *ngIf="Workflow.FOLIO_REQUEST_CORRECTION==flag" matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Folio No</th>
        <td mat-cell *matCellDef="let element"> {{element.folioNo}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container *ngIf="flag != Workflow.FOLIO_REQUEST_CORRECTION" matColumnDef="workflowDescription">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element"> {{element.workflowDescription}}</td>
      </ng-container>

      <!--section 35/day book no-->
      <ng-container *ngIf="flag == Workflow.FOLIO_REQUEST_CORRECTION" matColumnDef="workflowDescription">
        <th mat-header-cell *matHeaderCellDef> Day Book No</th>
        <td mat-cell *matCellDef="let element"> {{element.dayBookNo}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container *ngIf="flag != Workflow.FOLIO_REQUEST_CORRECTION" matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date</th>
        <td mat-cell *matCellDef="let element"> {{element.date| date:'longDate'}}</td>
      </ng-container>

      <!-- section 35/ nature of correction -->
      <ng-container *ngIf="flag == Workflow.FOLIO_REQUEST_CORRECTION" matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Nature of Correcton</th>
        <td mat-cell *matCellDef="let element"> {{element.natureOfCorrection}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element">
          <a
            [routerLink]="flag!=Workflow.JUDICIAL_ZONE_CHANGE?
            actionButtonURL+getBase64(element.workflowStageCode)+'/'+getBase64(element.requestId):
            actionButtonURL+getBase64(element.requestId)">
            <button mat-stroked-button color="accent">
              View
            </button>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="mat-elevation-z8" style="background-color: #c7c7c7;"
                   [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


  </div>
</div>
