    <app-last-remark *ngIf="enbleFormEdit" [workflow]="workflowCode" [requestId]="id"></app-last-remark>
    <form [formGroup]="requestForm" class="form pb-5">
      <div class="pg-inner-row mb-20">

        <div class="pg-inner-col right">
          <div class="default-input-wrapper m0 rac-col">
            <label>{{'CHG_JUD_ZONE.LANGUAGE'| translate}}</label>
            <div class="default-input-feild">
              <section class="example-section">
                <mat-checkbox class="example-margin" disabled="true" [checked]="isSinhala">{{'CHG_JUD_ZONE.SINHALA'| translate}}
                </mat-checkbox>
                <mat-checkbox class="example-margin" disabled="true" [checked]="isEnglish">{{'CHG_JUD_ZONE.ENGLISH'| translate}}
                </mat-checkbox>
                <mat-checkbox class="example-margin" disabled="true" [checked]="isTamil">{{'CHG_JUD_ZONE.TAMIL'| translate}}
                </mat-checkbox>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>

      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col-3">
          <div class="default-input-wrapper full-row">
            <label>{{'CHG_JUD_ZONE.PER_ADD_JUD_ENG'| translate}} <span *ngIf="isAddEngMandatory" class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline" >
                <textarea matInput rows="5" formControlName="addressEng" ></textarea>
              </mat-form-field>
              <div *ngIf="addressEng.invalid && (addressEng.touched || addressEng.dirty)">
                <mat-error *ngIf="addressEng.errors.required" class="error ">{{'CHG_JUD_ZONE.FILL_REQUIRED'| translate}}</mat-error>
                <mat-error *ngIf="addressEng.errors.maxlength" class="error ">{{'CHG_JUD_ZONE.VALID_ADDRESS'| translate}}</mat-error>
                <mat-error *ngIf="addressEng.errors.pattern" class="error">{{'CHG_JUD_ZONE.VALID_ADDRESS'| translate}}</mat-error>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-inner-col-3">
          <div class="default-input-wrapper full-row">
            <label>{{'CHG_JUD_ZONE.PER_ADD_JUD_SIN'| translate}} <span *ngIf="isAddSinMandatory " class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline" >
                <textarea matInput rows="5" formControlName="addressSin" ></textarea>
              </mat-form-field>
              <div *ngIf="addressSin.invalid && (addressSin.touched || addressSin.dirty)">
                <mat-error *ngIf="addressSin.errors.required" class="error ">{{'CHG_JUD_ZONE.FILL_REQUIRED'| translate}}</mat-error>
                <mat-error *ngIf="addressSin.errors.maxlength" class="error ">{{'CHG_JUD_ZONE.VALID_ADDRESS'| translate}}</mat-error>
                <mat-error *ngIf="addressSin.errors.pattern" class="error">{{'CHG_JUD_ZONE.VALID_ADDRESS'| translate}}</mat-error>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-inner-col-3">
          <div class="default-input-wrapper full-row">
            <label>{{'CHG_JUD_ZONE.PER_ADD_JUD_TAM'| translate}} &nbsp; &nbsp;<span *ngIf="isAddTamMandatory "
                class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline" >
                <textarea matInput rows="5" formControlName="addressTam" ></textarea>
              </mat-form-field>
              <div *ngIf="addressTam.invalid && (addressTam.touched || addressTam.dirty)">
                <mat-error *ngIf="addressTam.errors.required" class="error ">{{'CHG_JUD_ZONE.FILL_REQUIRED'| translate}}</mat-error>
                <mat-error *ngIf="addressTam.errors.maxlength" class="error ">{{'CHG_JUD_ZONE.VALID_ADDRESS'| translate}}</mat-error>
                <mat-error *ngIf="addressTam.errors.pattern" class="error">{{'CHG_JUD_ZONE.VALID_ADDRESS'| translate}}</mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>

      <label>{{'CHG_JUD_ZONE.DETAIL_JUD'| translate}} </label>
      <div>&nbsp;</div>
      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col label">
          <label>{{'EDIT_PROFILE.JUD_DIV'| translate}} <span class="redtxt">*</span></label></div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <div class="default-input-feild">
                <mat-select formControlName="judicialZoneId" (selectionChange)="onChangeJudicialZone(judicialZoneId.value)" class="form-control">
                  <mat-option *ngFor="let jud of judicialZone" [value]="jud.id">
                    {{ jud.nameEng| listTranslate: jud.nameSin: jud.nameTam}}
                  </mat-option>
                </mat-select>
                <div *ngIf="judicialZoneId.invalid && (judicialZoneId.touched || judicialZoneId.dirty)">
                  <mat-error *ngIf="judicialZoneId.errors.required" class="error">{{'VALIDATION.REQUIRED_FIELD_ERR'| translate}}</mat-error>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col label">
          <label>{{'CHG_LANDREG.LANDREG'| translate}} <span class="redtxt">*</span></label></div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <div class="default-input-feild">
                <mat-select name="landRegistry" formControlName="landRegistry" class="form-control" (selectionChange)="getDsDivisions(landRegistry.value)">
                  <mat-option *ngFor="let reg of landRegistries" [value]="reg.code">
                    {{ reg.description| listTranslate: reg.descriptionSin: reg.descriptionTam}}
                  </mat-option>
                </mat-select>
                <div *ngIf="landRegistry.invalid && (landRegistry.touched || landRegistry.dirty)">
                  <mat-error *ngIf="landRegistry.errors.required" class="error">{{'VALIDATION.REQUIRED_FIELD_ERR'| translate}}</mat-error>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pg-inner-row mb-20" *ngIf="enbleFormEdit">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.DS_DIV'| translate}}</label>
            <div class="default-input-feild">
              <mat-select class="form-control" formControlName="dsDivision"
                (selectionChange)="selectGsDivision($event.value)">
                <mat-option *ngFor="let gsDivision of gsDivisions" value="{{gsDivision.divisionId}}">
                  {{ gsDivision.description| listTranslate: gsDivision.descriptionSin: gsDivision.descriptionTam}}
                </mat-option>
              </mat-select>
              <div *ngIf="dsDivision.invalid && (dsDivision.touched || dsDivision.dirty)">
                <mat-error *ngIf="dsDivision.errors.required" class="error">{{'VALIDATION.REQUIRED_FIELD_ERR'| translate}}</mat-error>
              </div>
            </div>
          </div>
        </div>

        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.GN_DIV'| translate}}</label>
            <div class="default-input-feild">
              <mat-select multiple class="form-control" formControlName="gnDivision" (selectionChange)="selectGnDivision($event)">
                  <mat-option *ngFor="let gnDivision of gnDivisions" value="{{gnDivision.gnDivisionId}}">
                    {{ gnDivision.description| listTranslate: gnDivision.descriptionSin: gnDivision.descriptionTam}}
                  </mat-option>
              </mat-select>
              <div *ngIf="gnDivision.invalid && (gnDivision.touched || gnDivision.dirty)">
                <mat-error *ngIf="gnDivision.errors.required" class="error">{{'VALIDATION.REQUIRED_FIELD_ERR'| translate}}</mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pg-inner-row mb-20" *ngIf="!enbleFormEdit">
          <div class="default-input-wrapper full-row">
            <app-ds-gn-division-table [dsGnDivisions]="dsGnDivisions"></app-ds-gn-division-table>
          </div>
      </div>

      <div class="separator">&nbsp;</div>

      <div class="pg-inner-row mb-0 " *ngIf="enbleFormEdit">
        <div class="pg-inner-col">
          <!--<re-captcha formControlName="recaptcha"></re-captcha>-->
        </div>
        <!--<div class="pg-inner-col middle">-->
          <!--{{'CHG_JUD_ZONE.TITLE5'| translate}}-->
          <!--<a href="#">{{'CHG_JUD_ZONE.TITLE6'| translate}}</a>, <a href="#">{{'CHG_JUD_ZONE.TITLE7'| translate}}</a> {{'COMMON.AND'| translate}} <a-->
            <!--href="#">{{'CHG_JUD_ZONE.TITLE8'| translate}}</a>.-->
        <!--</div>-->
        <div class="pg-inner-col right float-right">
          <button [disabled]="!requestForm.valid || showSpinner" mat-raised-button class="button" type="button" (click)="submitForm()">
            {{'BUTTONS.UPDATE_BUTTON'| translate}}
          </button>
        </div>

      </div>
    </form>
