    <app-last-remark *ngIf="enbleFormEdit" [workflow]="workflowCode" [requestId]="id"></app-last-remark>
    <form [formGroup]="requestForm" class="form pb-5">
      <div class="pg-inner-row mb-20">

        <div class="pg-inner-col right">
          <div class="default-input-wrapper m0 rac-col">
            <label>Language:</label>
            <div class="default-input-feild">
              <section class="example-section">
                <mat-checkbox class="example-margin" disabled="true" [checked]="isSinhala">Sinhala</mat-checkbox>
                <mat-checkbox class="example-margin" disabled="true" [checked]="isEnglish">English</mat-checkbox>
                <mat-checkbox class="example-margin" disabled="true" [checked]="isTamil">Tamil</mat-checkbox>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>

      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col-3">
          <div class="default-input-wrapper full-row">
            <label>Permenent address in new judicial zone (English):</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline" >
                <textarea matInput rows="5" formControlName="addressEng" ></textarea>
              </mat-form-field>
              <div *ngIf="addressEng.invalid && (addressEng.touched || addressEng.dirty)">
                <mat-error *ngIf="addressEng.errors.required" class="error ">Please fill the required fields</mat-error>
                <mat-error *ngIf="addressEng.errors.maxlength" class="error ">Please enter valid permenent address (English)</mat-error>
                <mat-error *ngIf="addressEng.errors.pattern" class="error">Please enter valid permenent address (English)</mat-error>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-inner-col-3">
          <div class="default-input-wrapper full-row">
            <label>Permenent address in new judicial zone (Sinhala):</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline" >
                <textarea matInput rows="5" formControlName="addressSin" ></textarea>
              </mat-form-field>
              <div *ngIf="addressSin.invalid && (addressSin.touched || addressSin.dirty)">
                <mat-error *ngIf="addressSin.errors.required" class="error ">Please fill the required fields</mat-error>
                <mat-error *ngIf="addressSin.errors.maxlength" class="error ">Please enter valid permenent address (Sinhala)</mat-error>
                <mat-error *ngIf="addressSin.errors.pattern" class="error">Please enter valid permenent address (Sinhala)</mat-error>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-inner-col-3">
          <div class="default-input-wrapper full-row">
            <label>Permenent address in new judicial zone (Tamil): &nbsp; &nbsp;</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline" >
                <textarea matInput rows="5" formControlName="addressTam" ></textarea>
              </mat-form-field>
              <div *ngIf="addressTam.invalid && (addressTam.touched || addressTam.dirty)">
                <mat-error *ngIf="addressTam.errors.required" class="error ">Please fill the required fields</mat-error>
                <mat-error *ngIf="addressTam.errors.maxlength" class="error ">Please enter valid permenent address (Tamil)</mat-error>
                <mat-error *ngIf="addressTam.errors.pattern" class="error">Please enter valid permenent address (Tamil)</mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>

      <label>Please give the following details regarding new judicial zone </label>
      <div>&nbsp;</div>
      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col label">
          <label>Judicial Division:</label></div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <div class="default-input-feild">
                <mat-select formControlName="judicialZoneId" (selectionChange)="onChangeJudicialZone(judicialZoneId.value)" class="form-control">
                  <mat-option *ngFor="let jud of judicialZone" [value]="jud.judicialZoneId">{{ jud.nameEng }}
                  </mat-option>
                </mat-select>
                <div *ngIf="judicialZoneId.invalid && (judicialZoneId.touched || judicialZoneId.dirty)">
                  <mat-error *ngIf="judicialZoneId.errors.required" class="error">Please fill the required fields</mat-error>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col label">
          <label>Land Registry:</label></div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <div class="default-input-feild">
                <mat-select name="landRegistry" formControlName="landRegistry" class="form-control">
                  <mat-option *ngFor="let reg of landRegistries" [value]="reg.code">{{ reg.description }}
                  </mat-option>
                </mat-select>
                <div *ngIf="judicialZoneId.invalid && (judicialZoneId.touched || judicialZoneId.dirty)">
                  <mat-error *ngIf="judicialZoneId.errors.required" class="error">Please fill the required fields</mat-error>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pg-inner-row mb-20" *ngIf="enbleFormEdit">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>DS Division:</label>
            <div class="default-input-feild">
              <mat-select class="form-control" formControlName="dsDivision"
                (selectionChange)="selectGsDivision($event.value)">
                <mat-option *ngFor="let gsDivision of gsDivisions" value="{{gsDivision.divisionId}}">
                  {{ gsDivision.description }}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>

        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>GN Division:</label>
            <div class="default-input-feild">
              <mat-select multiple class="form-control" formControlName="gnDivision" (selectionChange)="selectGnDivision($event.value[$event.value.length -1])">                
                  <mat-option *ngFor="let gnDivision of gnDivisions" value="{{gnDivision.gnDivisionId}}">
                    {{ gnDivision.description }}
                  </mat-option>                
              </mat-select>
              <div *ngIf="gnDivision.invalid && (gnDivision.touched || gnDivision.dirty)">
                <mat-error *ngIf="gnDivision.errors.required" class="error">Please fill the required fields</mat-error>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pg-inner-row mb-20" *ngIf="!enbleFormEdit">
          <div class="default-input-wrapper full-row">
            <app-ds-gn-division-table [dsGnDivisions]="dsGnDivisions"></app-ds-gn-division-table>
          </div>
      </div>

      <div class="separator">&nbsp;</div>

      <div class="pg-inner-row mb-0 pg-form-bottom-3-col" *ngIf="enbleFormEdit">
        <div class="pg-inner-col">
          <re-captcha formControlName="recaptcha"></re-captcha>
        </div>
        <div class="pg-inner-col middle">
          By signing up, you agree to E-Land's
          <a href="#">Terms of Service</a> , <a href="#">Code of Conduct</a> ,
          and <a href="#">Privacy Policy</a> .
        </div>
        <div class="pg-inner-col right">
          <button [disabled]="!requestForm.valid || showSpinner" mat-raised-button class="lg-button" type="button" (click)="submitForm()">
            Update
          </button>
        </div>

      </div>
    </form>
