<div class="page-header-default">
    <h2>{{'LANGUAGE_CHANGE.TITLE1'|translate}}</h2>
    <a [routerLink]="['/requests',backUrl]" routerLinkActive="router-link-active"  class="phd-back-btn">
        <i class="material-icons">keyboard_backspace</i>
    </a>
</div>

    <div class="page-content-wrapper" *ngIf="!showPayment">
        <div class="page-content-inner-wrapper">
            <form class="form-horizontal" [formGroup]="languageChangForm">
            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <h5 class="mb-20"><i class="material-icons">description</i>
                      {{'LANGUAGE_CHANGE.TITLE4'|translate}}
                    </h5>
                    <div class="separator">&nbsp;</div>
                </div>
            </div>
            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                  <mat-form-field appearance="outline">
                    <select matNativeControl  formControlName="title"  class="form-control">
                      <option value="0" [disabled]="true">{{'LANGUAGE_CHANGE.SELECT'|translate}}</option>
                      <option *ngFor="let title of nameTitles"
                              [value]="title.nameTitleId"
                      >
                        {{title.titleEng|listTranslate:title.titleSin:title.titleTam}}
                      </option>

                    </select>
                  </mat-form-field>
                </div>
                <div class="pg-inner-col right">
                    <div class="default-input-wrapper m0 rac-col">
                        <label>{{'LANGUAGE_CHANGE.LANGUAGE'|translate}}<span class="redtxt">*</span></label>
                        <div class="default-input-feild">
                            <mat-checkbox formControlName="langSin" (change)="languageChange(langMode.SINHALA)">
                              {{'LANGUAGE_CHANGE.SINHALA'|translate}}
                            </mat-checkbox>
                            <mat-checkbox formControlName="langEng" (change)="languageChange(langMode.ENGLISH)">
                              {{'LANGUAGE_CHANGE.ENGLISH'|translate}}
                            </mat-checkbox>
                            <mat-checkbox formControlName="langTam" (change)="languageChange(langMode.TAMIL)">
                              {{'LANGUAGE_CHANGE.TAMIL'|translate}}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>

            <div class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.FULLNAME_E'|translate}}</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          class="form-control"
                          formControlName="fullNameEng"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.FULLNAME_S'|translate}}</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          class="form-control"
                          formControlName="fullNameSin"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.FULLNAME_T'|translate}}</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          class="form-control"
                          formControlName="fullNameTam"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.NAME_INI_E'|translate}}</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          class="form-control"
                          formControlName="nameWithInitEng"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.NAME_INI_S'|translate}}</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          class="form-control"
                          formControlName="nameWithInitSin"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.NAME_INI_T'|translate}}</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          class="form-control"
                          formControlName="nameWithInitTam"
                        />
                    </mat-form-field>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.PER_ADD_E'|translate}}</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea
                                  matInput
                                  rows="5"
                                  formControlName="addPermanentEng"
                                >
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.PER_ADD_S'|translate}}</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea
                                  matInput rows="5"
                                  formControlName="addPermanentSin"
                                >
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.PER_ADD_T'|translate}}</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea
                                  matInput
                                  rows="5"
                                  formControlName="addPermanentTam"
                                >
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.CUR_ADD_E'|translate}}</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea
                                  matInput
                                  rows="5"
                                  formControlName="addressEng"
                                >
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.CUR_ADD_S'|translate}}</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea
                                  matInput
                                  rows="5"
                                  formControlName="addressSin"
                                >
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.CUR_ADD_T'|translate}}</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea
                                  matInput
                                  rows="5"
                                  formControlName="addressTam"
                                >
                                </textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separator">&nbsp;</div>

            <!-- <div class="pg-inner-row mb-20">
              <div class="pg-inner-col">
                <div class="default-input-wrapper full-row">
                  <label>Starting Date of Notarial Work:</label>
                  <div class="default-input-feild date-feild">
                    <mat-form-field appearance="outline">
                      <input
                        matInput
                        [matDatepicker]="startDate"
                        formControlName="startingDate"
                      />
                      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                      <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                    <button mat-raised-button (click)="startDate.open()">
                      <i class="material-icons">calendar_today</i>
                    </button>
                  </div>
                </div>
              </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>In which year, you get the certificate of High Court lastly?</label>
                        <div class="default-input-feild ">
                            <mat-form-field appearance="outline">
                                <input
                                  matInput
                                  class="formControl"
                                  formControlName="highCourtCertificateYear"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div> -->
<!--
            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Name of the LR handed over duplicates currently?</label>
                        <div class="default-input-feild ">
                            <mat-form-field appearance="outline">
                                <input
                                  matInput
                                  class="formControl"
                                  formControlName="lrName"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Have you handed over all duplicate returns attested by you?</label>
                        <div class="default-input-feild ">
                            <mat-form-field appearance="outline">
                                <input
                                  matInput
                                  class="formControl"
                                  formControlName="returnAttestedStatus"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>If you have stopped stop Notarial Work temporarily, Please specify the period:</label>
                        <div class="default-input-feild ">
                            <mat-form-field appearance="outline">
                                <input
                                  matInput
                                  class="formControl"
                                  formControlName="unavailableTimePeriod"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col"></div>
            </div> -->

            <!-- <div class="separator">&nbsp;</div> -->

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row" *ngFor="let doc of supportingDocs">
                        <label> {{doc.description|listTranslate:doc.descriptionSin:doc.descriptionTam}} </label>
                        <file-upload-input (response)="setFiles($event,doc.docTypeId)"></file-upload-input>
                    </div>
                </div>
                <!-- <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Date:</label>
                        <div class="default-input-feild date-feild">
                            <mat-form-field appearance="outline">
                                <input
                                  matInput
                                  [matDatepicker]="date"
                                  formControlName="date"
                                />
                              <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                              <mat-datepicker #date></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button (click)="date.open()">
                                <i class="material-icons">calendar_today</i>
                            </button>
                        </div>
                    </div>
                </div> -->
            </div>

              <!--<div class="pg-inner-row mb-20 upload-col-3">-->
                <!--<ng-container *ngFor="let document of supportingDocs">-->
                  <!--<div class="pg-inner-col-3">-->
                    <!--<div class="default-input-wrapper full-row">-->
                      <!--<label>{{document.description|listTranslate:document.descriptionSin:document.descriptionTam}}-->
                        <!--<span *ngIf="document.required == true">*</span>-->
                      <!--</label>-->
                      <!--<file-upload-input (response)="setFiles($event,document.docTypeId, document.required)"></file-upload-input>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</ng-container>-->
              <!--</div>-->

            <div class="separator">&nbsp;</div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col"></div>
              <div class="pg-inner-col float-right ">
                    <button mat-raised-button class="lg-button float-right" [disabled]="!(isRequiredDocsUpload)" (click)="continue()"> {{'BUTTONS.CONTINUE_BUTTON'|translate}} </button>
                </div>
            </div>
        </form>
        </div>
    </div>
    <div class="page-content-wrapper" *ngIf="showPayment">
        <div class="page-content-inner-wrapper">
            <div>
                <app-payment
                (response)="getPaymentData($event)"
                (paymentMethodResponse) = paymentMethodResponse($event)
                [statusOnlinePayment] = "statusOnlinePayment"
                [returnUrl]="returnURl"
                (back)="onBack($event)"
                [applicationFeeCode]="parameters.NOTARY_REG_LANGUAGE_CHANGE"
                [hasFrontCounterPayment]="false"
                [isDocumentCollect]="true"
                [workflowCode]="workflowStage.LANGUAGE_CHANGE_REQUEST_INIT"
                [userType]="userType"
                [userId]="userId"
                ></app-payment>
            </div>
        </div>
    </div>
