<div class="page-header-default">
    <h2>APPLICATION FOR A WARRANT IN AN ADDITIONAL LANGUAGE</h2>
    <p>Please fill in the following information to<br />register in the system</p>
    <a href="" class="phd-back-btn">
        <i class="material-icons">keyboard_backspace</i>
    </a>
</div>
<form class="form-horizontal">
    <div class="page-content-wrapper">
        <div class="page-content-inner-wrapper">

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <h5 class="mb-20"><i class="material-icons">description</i>
                        APPLICATION TO OBTAIN A LICENSE IN AN ADDITIONAL LANGAUAGE
                    </h5>
                    <div class="separator">&nbsp;</div>
                </div>
            </div>


            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <mat-radio-group>
                        <mat-radio-button value="Mr">Mr.</mat-radio-button>
                        <mat-radio-button value="Mrs">Mrs.</mat-radio-button>
                        <mat-radio-button value="Miss">Miss</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="pg-inner-col right">
                    <div class="default-input-wrapper m0 rac-col">
                        <label>Language:<span class="redtxt">*</span></label>
                        <div class="default-input-feild">
                            <mat-radio-group class="form-control">
                                <mat-radio-button value="1">Sinhala</mat-radio-button>
                                <mat-radio-button value="2">English</mat-radio-button>
                                <mat-radio-button class="example-margin" value="3">Tamil</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
            </div>

            <div class="default-input-wrapper full-row">
                <label>Full Nmae (English):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>Full Name (Sinhala):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>Full Name (Tamil):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>Name with initials (English):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>Name with initials (Sinhala):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>Name with initials (Tamil):</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput class="form-control">
                    </mat-form-field>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>Permenent address (English):</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea matInput rows="5"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>Permenent address (Sinhala):</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea matInput rows="5"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>Permenent address (Tamil):</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea matInput rows="5"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>Current address (English):</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea matInput rows="5"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>Current address (Sinhala):</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea matInput rows="5"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>Current address (Tamil):</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea matInput rows="5"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="default-input-wrapper full-row">
                <label>If Notarial Warrant is sought for Tamil language, state herin full name and address in the same language:</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <textarea matInput rows="5"></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>National Identity Card No:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Email:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Contact No. (Residential):</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Mobile:</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separator">&nbsp;</div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Starting Date of Notarial Work:</label>
                        <div class="default-input-feild date-feild">
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker22">
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button (click)="picker.open()">
                                <i class="material-icons">calendar_today</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>In which year, you get the certificate of High Court lastly?</label>
                        <div class="default-input-feild ">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Name of the LR handed over duplicates currently?</label>
                        <div class="default-input-feild ">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Have you handed over all duplicate returns attested by you?</label>
                        <div class="default-input-feild ">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>If you have stopped stop Notarial Work temporarily, Please specify the period:</label>
                        <div class="default-input-feild ">
                            <mat-form-field appearance="outline">
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col"></div>
            </div>

            <span class="mb-20" style="display: block;">Please give the following details regarding new judicial zone</span>

            <div class="default-input-wrapper full-row half-cols">
                <label class="mw-200">Judicial Division:</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Applicant Name">
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row half-cols">
                <label class="mw-200">Land Registry:</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <select matNativeControl required>
                            <option value="">Select</option>
                            <option value="option-1">Option 01</option>
                            <option value="option-2">Option 02</option>
                            <option value="option-3">Option 03</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row half-cols">
                <label class="mw-200">Divisional Secretariat Division:</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <select matNativeControl required>
                            <option value="">Select</option>
                            <option value="option-1">Option 01</option>
                            <option value="option-2">Option 02</option>
                            <option value="option-3">Option 03</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>
            <div class="default-input-wrapper full-row half-cols">
                <label class="mw-200">Grama Niladhari Division:</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <select matNativeControl required>
                            <option value="">Select</option>
                            <option value="option-1">Option 01</option>
                            <option value="option-2">Option 02</option>
                            <option value="option-3">Option 03</option>
                        </select>
                    </mat-form-field>
                </div>
            </div>


            <div class="separator">&nbsp;</div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Copy of the Sinhala/Tamail/English Notarial Warrant</label>
                        <div class="default-input-feild">
                            <button mat-raised-button class="f-uploader">
                                <i class="material-icons">cloud_upload</i> Upload
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Date:</label>
                        <div class="default-input-feild date-feild">
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="picker4">
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                            <button mat-raised-button (click)="picker.open()">
                                <i class="material-icons">calendar_today</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Certified copy of Ordinary Level certificate</label>
                        <div class="default-input-feild">
                            <button mat-raised-button class="f-uploader">
                                <i class="material-icons">cloud_upload</i> Upload
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col"></div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <div class="default-input-wrapper full-row">
                        <label>Copu of the NIC</label>
                        <div class="default-input-feild">
                            <button mat-raised-button class="f-uploader">
                                <i class="material-icons">cloud_upload</i> Upload
                            </button>
                        </div>
                    </div>
                </div>
                <div class="pg-inner-col"></div>
            </div>


            <div class="separator">&nbsp;</div>

            <div class="pg-inner-row mb-0">
                <div class="pg-inner-col"></div>
                <div class="pg-inner-col right">
                    <button mat-raised-button class="lg-button">Submit</button>
                </div>
            </div>

        </div>
    </div>
</form>