<div class="page-header-default">
    <h2>{{'LANGUAGE_CHANGE.TITLE1'|translate}}</h2>
    <a [routerLink]="['/requests',backUrl]" routerLinkActive="router-link-active"  class="phd-back-btn">
        <i class="material-icons">keyboard_backspace</i>
    </a>
</div>

    <div class="page-content-wrapper" *ngIf="!showPayment">
        <div class="page-content-inner-wrapper">
            <form class="form-horizontal" [formGroup]="languageChangForm">
            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col">
                    <h5 class="mb-20"><i class="material-icons">description</i>
                      {{'LANGUAGE_CHANGE.TITLE4'|translate}}
                    </h5>
                    <div class="separator">&nbsp;</div>
                </div>
            </div>
            <div class="pg-inner-row mb-20">
              <div class="pg-inner-col right">
                <div class="default-input-wrapper m0 rac-col">
                  <label>{{'LANGUAGE_CHANGE.LANGUAGE'|translate}} <span class="redtxt">*</span></label>
                  <div class="default-input-feild">
                    <mat-checkbox formControlName="langSin"  (change)="languageSinChange($event)">
                      {{'LANGUAGE_CHANGE.SINHALA'|translate}}
                    </mat-checkbox>
                    <mat-checkbox formControlName="langEng" >
                      {{'LANGUAGE_CHANGE.ENGLISH'|translate}}
                    </mat-checkbox>
                    <mat-checkbox formControlName="langTam" (change)="languageTamChange($event)">
                      {{'LANGUAGE_CHANGE.TAMIL'|translate}}
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
            <div style="display: none" class="pg-inner-row mb-20">
              <div class="pg-inner-col">
                <mat-form-field appearance="outline">
                  <select matNativeControl  formControlName="title"  class="form-control">
                    <option value="0" [disabled]="true">{{'LANGUAGE_CHANGE.SELECT'|translate}}</option>
                    <option *ngFor="let title of nameTitles"
                            [value]="title.nameTitleId"
                    >
                      {{title.titleEng|listTranslate:title.titleSin:title.titleTam}}
                    </option>

                  </select>
                </mat-form-field>
              </div>
            </div>

            <div class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.FULLNAME_E'|translate}}</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input disabled
                          matInput
                          class="form-control"
                          formControlName="fullNameEng"
                        />
                    </mat-form-field>
                  <div *ngIf="fullNameEnglish.touched && fullNameEnglish.errors"
                       class="invalid-feedback">
                    <mat-error *ngIf="fullNameEnglish.errors.required" class="errors">
                      {{'CONTACT_DETAILS.FULL_NAME'|translate}} ({{'NOTIFICATION.ENG'|translate}})
                      {{'NOTARY.REQUIRED'|translate}}
                    </mat-error>
                    <mat-error *ngIf="fullNameEnglish.errors.pattern" class="errors">
                      {{'CONTACT_DETAILS.FULL_NAME'|translate}} ({{'NOTIFICATION.ENG'|translate}})
                      {{'NOTARY.INVALID'|translate}}
                    </mat-error>
                    <mat-error *ngIf="fullNameEnglish.errors.maxlength" class="errors">
                      {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                    </mat-error>
                  </div>
                </div>
            </div>
            <div *ngIf="langSinCheck" class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.FULLNAME_S'|translate}} <span class="redtxt">*</span></label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          class="form-control"
                          formControlName="fullNameSin"
                        />
                    </mat-form-field>
                  <div *ngIf="fullNameSinhala.touched && fullNameSinhala.errors"
                       class="invalid-feedback">
                    <mat-error *ngIf="fullNameSinhala.errors.required" class="errors">
                      {{'CONTACT_DETAILS.FULL_NAME'|translate}} ({{'NOTIFICATION.SIN'|translate}})
                      {{'NOTARY.REQUIRED'|translate}}
                    </mat-error>
                    <mat-error *ngIf="fullNameSinhala.errors.pattern" class="errors">
                      {{'CONTACT_DETAILS.FULL_NAME'|translate}} ({{'NOTIFICATION.SIN'|translate}})
                      {{'NOTARY.INVALID'|translate}}
                    </mat-error>
                    <mat-error *ngIf="fullNameSinhala.errors.maxlength" class="errors">
                      {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                    </mat-error>
                  </div>
                </div>
            </div>
            <div *ngIf="langTamCheck" class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.FULLNAME_T'|translate}} <span class="redtxt">*</span></label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          class="form-control"
                          formControlName="fullNameTam"
                        />
                    </mat-form-field>
                  <div *ngIf="fullNameTamil.touched && fullNameTamil.errors"
                       class="invalid-feedback">
                    <mat-error *ngIf="fullNameTamil.errors.required" class="errors">
                      {{'CONTACT_DETAILS.FULL_NAME'|translate}} ({{'NOTIFICATION.TAM'|translate}})
                      {{'NOTARY.REQUIRED'|translate}}
                    </mat-error>
                    <mat-error *ngIf="fullNameTamil.errors.pattern" class="errors">
                      {{'CONTACT_DETAILS.FULL_NAME'|translate}} ({{'NOTIFICATION.TAM'|translate}})
                      {{'NOTARY.INVALID'|translate}}
                    </mat-error>
                    <mat-error *ngIf="fullNameTamil.errors.maxlength" class="errors">
                      {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                    </mat-error>
                  </div>
                </div>
            </div>
            <div class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.NAME_INI_E'|translate}}</label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input disabled
                          matInput
                          class="form-control"
                          formControlName="nameWithInitEng"
                        />
                    </mat-form-field>
                  <div *ngIf="nameWithInitialsEnglish.touched && nameWithInitialsEnglish.errors"
                       class="invalid-feedback">
                    <mat-error *ngIf="nameWithInitialsEnglish.errors.required" class="errors">
                      {{'CONTACT_DETAILS.NAME_WITH_INIT'|translate}} ({{'NOTIFICATION.ENG'|translate}})
                      {{'NOTARY.REQUIRED'|translate}}
                    </mat-error>
                    <mat-error *ngIf="nameWithInitialsEnglish.errors.pattern" class="errors">
                      {{'CONTACT_DETAILS.NAME_WITH_INIT'|translate}} ({{'NOTIFICATION.ENG'|translate}})
                      {{'NOTARY.INVALID'|translate}}
                    </mat-error>
                    <mat-error *ngIf="nameWithInitialsEnglish.errors.maxlength" class="errors">
                      {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                    </mat-error>
                  </div>
                </div>
            </div>
            <div *ngIf="langSinCheck" class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.NAME_INI_S'|translate}} <span class="redtxt">*</span></label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          class="form-control"
                          formControlName="nameWithInitSin"
                        />
                    </mat-form-field>
                  <div *ngIf="nameWithInitialsSinhala.touched && nameWithInitialsSinhala.errors"
                       class="invalid-feedback">
                    <mat-error *ngIf="nameWithInitialsSinhala.errors.required" class="errors">
                      {{'CONTACT_DETAILS.NAME_WITH_INIT'|translate}} ({{'NOTIFICATION.SIN'|translate}})
                      {{'NOTARY.REQUIRED'|translate}}
                    </mat-error>
                    <mat-error *ngIf="nameWithInitialsSinhala.errors.pattern" class="errors">
                      {{'CONTACT_DETAILS.NAME_WITH_INIT'|translate}} ({{'NOTIFICATION.SIN'|translate}})
                      {{'NOTARY.INVALID'|translate}}
                    </mat-error>
                    <mat-error *ngIf="nameWithInitialsSinhala.errors.maxlength" class="errors">
                      {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                    </mat-error>
                  </div>
                </div>
            </div>
            <div *ngIf="langTamCheck" class="default-input-wrapper full-row">
                <label>{{'LANGUAGE_CHANGE.NAME_INI_T'|translate}} <span class="redtxt">*</span></label>
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input
                          matInput
                          class="form-control"
                          formControlName="nameWithInitTam"
                        />
                    </mat-form-field>
                  <div *ngIf="nameWithInitialsTamil.touched && nameWithInitialsTamil.errors"
                       class="invalid-feedback">
                    <mat-error *ngIf="nameWithInitialsTamil.errors.required" class="errors">
                      {{'CONTACT_DETAILS.NAME_WITH_INIT'|translate}} ({{'NOTIFICATION.TAM'|translate}})
                      {{'NOTARY.REQUIRED'|translate}}
                    </mat-error>
                    <mat-error *ngIf="nameWithInitialsTamil.errors.pattern" class="pattern">
                      {{'CONTACT_DETAILS.NAME_WITH_INIT'|translate}} ({{'NOTIFICATION.TAM'|translate}})
                      {{'NOTARY.INVALID'|translate}}
                    </mat-error>
                    <mat-error *ngIf="nameWithInitialsTamil.errors.maxlength" class="errors">
                      {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                    </mat-error>
                  </div>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.PER_ADD_E'|translate}}</label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea disabled
                                  matInput
                                  rows="5"
                                  formControlName="addPermanentEng"
                                >
                                </textarea>
                            </mat-form-field>
                          <div
                            *ngIf="permanentAddressEnglish.touched && permanentAddressEnglish.errors"
                            class="invalid-feedback">
                            <mat-error *ngIf="permanentAddressEnglish.errors.required" class="errors">
                              {{'CONTACT_DETAILS.PERMANENT_ADDRESS'|translate}} ({{'NOTIFICATION.ENG'|translate}})
                              {{'NOTARY.REQUIRED'|translate}}
                            </mat-error>
                            <mat-error *ngIf="permanentAddressEnglish.errors.pattern" class="errors">
                              {{'CONTACT_DETAILS.PERMANENT_ADDRESS'|translate}} ({{'NOTIFICATION.ENG'|translate}})
                              {{'NOTARY.INVALID'|translate}}
                            </mat-error>
                            <mat-error *ngIf="permanentAddressEnglish.errors.maxlength" class="errors">
                              {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                            </mat-error>
                          </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="langSinCheck" class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.PER_ADD_S'|translate}} <span class="redtxt">*</span></label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea
                                  matInput rows="5"
                                  formControlName="addPermanentSin"
                                >
                                </textarea>
                            </mat-form-field>
                          <div
                            *ngIf="permanentAddressSinhala.touched && permanentAddressSinhala.errors"
                            class="invalid-feedback">
                            <mat-error *ngIf="permanentAddressSinhala.errors.required" class="errors">
                              {{'CONTACT_DETAILS.PERMANENT_ADDRESS'|translate}} ({{'NOTIFICATION.SIN'|translate}})
                              {{'NOTARY.REQUIRED'|translate}}
                            </mat-error>
                            <mat-error *ngIf="permanentAddressSinhala.errors.pattern" class="errors">
                              {{'CONTACT_DETAILS.PERMANENT_ADDRESS'|translate}} ({{'NOTIFICATION.SIN'|translate}})
                              {{'NOTARY.INVALID'|translate}}
                            </mat-error>
                            <mat-error *ngIf="permanentAddressSinhala.errors.maxlength" class="errors">
                              {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                            </mat-error>
                          </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="langTamCheck" class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.PER_ADD_T'|translate}} <span class="redtxt">*</span></label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea
                                  matInput
                                  rows="5"
                                  formControlName="addPermanentTam"
                                >
                                </textarea>
                            </mat-form-field>
                          <div *ngIf="permanentAddressTamil.touched && permanentAddressTamil.errors"
                               class="invalid-feedback">
                            <mat-error *ngIf="permanentAddressTamil.errors.required" class="errors">
                              {{'CONTACT_DETAILS.PERMANENT_ADDRESS'|translate}} ({{'NOTIFICATION.TAM'|translate}})
                              {{'NOTARY.REQUIRED'|translate}}
                            </mat-error>
                            <mat-error *ngIf="permanentAddressTamil.errors.pattern" class="errors">
                              {{'CONTACT_DETAILS.PERMANENT_ADDRESS'|translate}} ({{'NOTIFICATION.TAM'|translate}})
                              {{'NOTARY.INVALID'|translate}}
                            </mat-error>
                            <mat-error *ngIf="permanentAddressTamil.errors.maxlength" class="errors">
                              {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                            </mat-error>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.CUR_ADD_E'|translate}} </label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea disabled
                                  matInput
                                  rows="5"
                                  formControlName="addressEng"
                                >
                                </textarea>
                            </mat-form-field>
                          <div *ngIf="currentAddressEnglish.touched && currentAddressEnglish.errors"
                               class="invalid-feedback">
                            <mat-error *ngIf="currentAddressEnglish.errors.required" class="errors">
                              {{'CONTACT_DETAILS.CURRENT_OFFICE_ADDRESS'|translate}} ({{'NOTIFICATION.ENG'|translate}})
                              {{'NOTARY.REQUIRED'|translate}}
                            </mat-error>
                            <mat-error *ngIf="currentAddressEnglish.errors.pattern" class="errors">
                              {{'CONTACT_DETAILS.CURRENT_OFFICE_ADDRESS'|translate}} ({{'NOTIFICATION.ENG'|translate}})
                              {{'NOTARY.INVALID'|translate}}
                            </mat-error>
                            <mat-error *ngIf="currentAddressEnglish.errors.maxlength" class="errors">
                              {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                            </mat-error>
                          </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="langSinCheck" class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.CUR_ADD_S'|translate}} <span class="redtxt">*</span></label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea
                                  matInput
                                  rows="5"
                                  formControlName="addressSin"
                                >
                                </textarea>
                            </mat-form-field>
                          <div *ngIf="currentAddressSinhala.touched && currentAddressSinhala.errors"
                               class="invalid-feedback">
                            <mat-error *ngIf="currentAddressSinhala.errors.required" class="errors">
                              {{'CONTACT_DETAILS.CURRENT_OFFICE_ADDRESS'|translate}} ({{'NOTIFICATION.SIN'|translate}})
                              {{'NOTARY.REQUIRED'|translate}}
                            </mat-error>
                            <mat-error *ngIf="currentAddressSinhala.errors.pattern" class="errors">
                              {{'CONTACT_DETAILS.CURRENT_OFFICE_ADDRESS'|translate}} ({{'NOTIFICATION.SIN'|translate}})
                              {{'NOTARY.INVALID'|translate}}
                            </mat-error>
                            <mat-error *ngIf="currentAddressSinhala.errors.maxlength" class="errors">
                              {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                            </mat-error>
                          </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="langTamCheck" class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                        <label>{{'LANGUAGE_CHANGE.CUR_ADD_T'|translate}} <span class="redtxt">*</span></label>
                        <div class="default-input-feild">
                            <mat-form-field appearance="outline">
                                <textarea
                                  matInput
                                  rows="5"
                                  formControlName="addressTam"
                                >
                                </textarea>
                            </mat-form-field>
                          <div *ngIf="currentAddressTamil.touched && currentAddressTamil.errors"
                               class="invalid-feedback">
                            <mat-error *ngIf="currentAddressTamil.errors.required" class="errors">
                              {{'CONTACT_DETAILS.CURRENT_OFFICE_ADDRESS'|translate}} ({{'NOTIFICATION.TAM'|translate}})
                              {{'NOTARY.REQUIRED'|translate}}
                            </mat-error>
                            <mat-error *ngIf="currentAddressTamil.errors.pattern" class="errors">
                              {{'CONTACT_DETAILS.CURRENT_OFFICE_ADDRESS'|translate}} ({{'NOTIFICATION.TAM'|translate}})
                              {{'NOTARY.INVALID'|translate}}
                            </mat-error>
                            <mat-error *ngIf="currentAddressTamil.errors.maxlength" class="errors">
                              {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}
                            </mat-error>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separator">&nbsp;</div>

              <div class="pg-inner-row mb-20 upload-col-3">
                <ng-container *ngFor="let document of supportingDocs">
                  <div class="pg-inner-col-3">
                    <div class="default-input-wrapper full-row">
                      <label>{{document.description|listTranslate:document.descriptionSin:document.descriptionTam}}
                        <span style="color: red">*</span>
                      </label>
                      <file-upload-input [document]="document"
                                         [invalid]="document.invalid && document.selected"
                                         (response)="setFiles($event,document)"></file-upload-input>
                      <mat-error *ngIf="!document.error && document.invalid && document.selected">Document required</mat-error>
                      <mat-error *ngIf="document.error">{{document.errorMsg}}</mat-error>
                    </div>
                  </div>
                </ng-container>
              </div>

            <div class="separator">&nbsp;</div>

            <div class="pg-inner-row mb-20">
                <div class="pg-inner-col"></div>
              <div class="pg-inner-col float-right ">
                <mat-error *ngIf="errorMsg">{{errorMsg}}</mat-error>
                    <button mat-raised-button class="lg-button float-right" (click)="continue()"> {{'BUTTONS.CONTINUE_BUTTON'|translate}} </button>
                </div>
            </div>
        </form>
        </div>
    </div>
    <div class="page-content-wrapper" *ngIf="showPayment">
        <div class="page-content-inner-wrapper">
            <div>
                <app-payment
                (response)="getPaymentData($event)"
                (paymentMethodResponse) = paymentMethodResponse($event)
                [statusOnlinePayment] = "statusOnlinePayment"
                [returnUrl]="returnURl"
                (back)="onBack($event)"
                [applicationFeeCode]="parameters.NOTARY_REG_LANGUAGE_CHANGE"
                [hasFrontCounterPayment]="false"
                [isDocumentCollect]="true"
                [workflowStageCode]="LanguageChangeWorkflowStages.LANGUAGE_CHANGE_REQUEST_INIT"
                [workflowCode]="Workflow.LANGUAGE_CHANGE"
                [userType]="userType"
                [userId]="userId"
                ></app-payment>
            </div>
        </div>
    </div>
