<form class="form-horizontal" [formGroup]="notaryForm">
<div class="pg-inner-row mb-40">
  <div class="pg-inner-col">
    <h4 class="m0">Notary Registration</h4>
  </div>
</div>

<h5 class="uw-title"><span>Application For A Notarial Warrant</span></h5>

<div class="pg-inner-row mb-20">
  <div class="pg-inner-col">
    <mat-radio-group formControlName="title"  class="form-control">
      <mat-radio-button value="Mr">Mr.</mat-radio-button>
      <mat-radio-button value="Mrs">Mrs.</mat-radio-button>
      <mat-radio-button value="Miss">Miss</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="pg-inner-col right">
    <div class="default-input-wrapper m0 rac-col">
      <label>Language:</label>
      <div class="default-input-feild">
        <mat-radio-group class="example-section" class="form-control" formControlName="languages">
          <mat-radio-button value="1">Sinhala</mat-radio-button>
          <mat-radio-button value="2">English</mat-radio-button>
          <mat-radio-button class="example-margin" value="3">Tamil</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</div>

<div class="default-input-wrapper full-row"  >
  <label>Full name (English):</label>
  <div class="default-input-feild">
    <mat-form-field appearance="outline">
      <input matInput formControlName="fullNameInEnglish"   class="form-control">
    </mat-form-field>
  </div>
</div>
<div class="default-input-wrapper full-row" >
  <label>Full name (Sinhala):</label>
  <div class="default-input-feild">
    <mat-form-field appearance="outline">
      <input matInput formControlName="fullNameInSinhala"   class="form-control">
    </mat-form-field>
  </div>
</div>
<div class="default-input-wrapper full-row" >
  <label>Full name (Tamil):</label>
  <div class="default-input-feild">
    <mat-form-field appearance="outline">
      <input matInput formControlName="fullNameInTamil"   class="form-control">
    </mat-form-field>
  </div>
</div>
<div class="default-input-wrapper full-row" >
  <label>Name with initials (English):</label>
  <div class="default-input-feild">
    <mat-form-field appearance="outline">
      <input matInput formControlName="englishNameWithInitials"   class="form-control" >
    </mat-form-field>
  </div>
</div>
<div class="default-input-wrapper full-row">
  <label>Name with initials (Sinhala):</label>
  <div class="default-input-feild">
    <mat-form-field appearance="outline">
      <input matInput formControlName="sinhalaNameWithInitials"   class="form-control" >
    </mat-form-field>
  </div>
</div>
<div class="default-input-wrapper full-row">
  <label>Name with initials (Tamil):</label>
  <div class="default-input-feild">
    <mat-form-field appearance="outline">
      <input matInput  formControlName="tamilNameWithInitials"   class="form-control">
    </mat-form-field>
  </div>
</div>

<div class="pg-inner-row mb-20">
  <div class="pg-inner-col-3">
    <div class="default-input-wrapper full-row">
      <label>Permenent address (English):</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <textarea matInput rows="5" formControlName="permenentAddressInEnglish"   class="form-control"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="pg-inner-col-3">
    <div class="default-input-wrapper full-row">
      <label>Permenent address (Sinhala):</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <textarea matInput rows="5" formControlName="permenentAddressInSinhala"  class="form-control"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="pg-inner-col-3">
    <div class="default-input-wrapper full-row">
      <label>Permenent address (Tamil):</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <textarea matInput rows="5" formControlName="permenentAddressInTamil"  class="form-control"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="pg-inner-row mb-20">
  <div class="pg-inner-col-3">
    <div class="default-input-wrapper full-row">
      <label>Current address (English):</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <textarea matInput rows="5" formControlName="currentAddressInEnglish"  class="form-control"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="pg-inner-col-3">
    <div class="default-input-wrapper full-row">
      <label>Current address (Sinhala):</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <textarea matInput rows="5" formControlName="currentAddressInSinhala"  class="form-control"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="pg-inner-col-3">
    <div class="default-input-wrapper full-row">
      <label>Current address (Tamil):</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <textarea matInput rows="5" formControlName="currentAddressInTamil"   class="form-control"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div class="pg-inner-row mb-20">
  <div class="pg-inner-col">
    <div class="default-input-wrapper full-row">
      <label>Date of Birth:</label>
      <div class="default-input-feild date-feild">
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" class="form-control" >
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button (click)="picker.open()">
          <i class="material-icons">calendar_today</i>
        </button>
      </div>
    </div>
  </div>
  <div class="pg-inner-col">
    <div class="default-input-wrapper full-row">
      <label>National Identity Card No:</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <input matInput formControlName="nic"  class="form-control" maxlength="12">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="pg-inner-row mb-20">
  <div class="pg-inner-col">
    <div class="default-input-wrapper full-row">
      <label>Contact No. (Residential):</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <input matInput formControlName="contactNo"  class="form-control" >
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="pg-inner-col">
    <div class="default-input-wrapper full-row">
      <label>Mobile:</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <input matInput formControlName="mobileNo"  class="form-control" >
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="pg-inner-row mb-20">
  <div class="pg-inner-col">
    <div class="default-input-wrapper full-row">
      <label>Email:</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <input matInput formControlName="email" class="form-control">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="pg-inner-col"></div>
</div>

<div class="separator">&nbsp;</div>

<div class="pg-inner-row mb-20">
  <div class="pg-inner-col">
    <div class="default-input-wrapper full-row">
      <label>Judicial Zone:</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <select matNativeControl required  formControlName="courtZone"  class="form-control">
            <option value="">Select</option>
            <option value="option-1">Option 01</option>
            <option value="option-2">Option 02</option>
            <option value="option-3">Option 03</option>
          </select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="pg-inner-col">
    <div class="default-input-wrapper full-row">
      <label>Divisional Secretariat Division:</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <select matNativeControl required  formControlName="secretariatDivision">
            <option value="">Select</option>
            <option value="option-1">Option 01</option>
            <option value="option-2">Option 02</option>
            <option value="option-3">Option 03</option>
          </select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="pg-inner-row mb-20">
  <div class="pg-inner-col">
    <div class="default-input-wrapper full-row">
      <label>Land Registry:</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <select matNativeControl required formControlName="landRegistry" class="form-control" >
            <option value="">Select</option>
            <option value="option-1">Option 01</option>
            <option value="option-2">Option 02</option>
            <option value="option-3">Option 03</option>
          </select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="pg-inner-col">
    <div class="default-input-wrapper full-row">
      <label>Grama Niladhari Division:</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <select matNativeControl required formControlName="gramaNiladhariDivision">
            <option value="">Select</option>
            <option value="option-1">Option 01</option>
            <option value="option-2">Option 02</option>
            <option value="option-3">Option 03</option>
          </select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="pg-inner-row mb-20">
  <div class="pg-inner-col">
    <div class="default-input-wrapper full-row">
      <label>The day you were enrolled as an Attorney at LAW of the Supreme Court of the Democratic Socialist Republic of Sri Lanka</label>
      <div class="default-input-feild date-feild">
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker2" formControlName="enrolledDate"  class="form-control">
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button (click)="picker.open()">
          <i class="material-icons">calendar_today</i>
        </button>
      </div>
    </div>
  </div>
  <div class="pg-inner-col">
    <div class="default-input-wrapper full-row">
      <label style="min-height: 50px;">The day you have passed the subject of conveyancing:</label>
      <div class="default-input-feild date-feild">
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker3"  formControlName="passedDate"  class="form-control">
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button (click)="picker.open()">
          <i class="material-icons">calendar_today</i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="default-input-wrapper full-row mb-30">
  <label>The medium you have passed the subject of convayancing:</label>
  <div class="default-input-feild">
    <mat-radio-group   formControlName="medium" class="form-control">
      <mat-radio-button  value="1">Sinhala</mat-radio-button>
      <mat-radio-button  value="2">English</mat-radio-button>
      <mat-radio-button  value="3">Tamil</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<div class="default-input-wrapper full-row">
  <label>True copy of the certificate of admission and enrolled as an Attorney at Law of the Democratic Socialist Republic of Sri Lanka</label>
  <div class="default-input-feild">
    <button mat-raised-button class="f-uploader">
      <i class="material-icons">cloud_upload</i> Upload
    </button>
  </div>
</div>

<div class="default-input-wrapper full-row">
  <label>Copy of the National Identity Card</label>
  <div class="default-input-feild">
    <button mat-raised-button class="f-uploader">
      <i class="material-icons">cloud_upload</i> Upload
    </button>
  </div>
</div>

  <div class="pg-inner-row mb-20">
    <div class="pg-inner-col">
      <div class="default-input-wrapper full-row">
        <label>UserName:<span class="redtxt">*</span></label>
        <div class="default-input-feild">
          <mat-form-field appearance="outline">
            <input matInput  formControlName="userName" class="form-control">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="pg-inner-col"></div>
  </div>
</form>
