<div class="page-header-default">
    <h2>APPLICATION FOR A WARRANT IN AN ADDITIONAL LANGUAGE</h2>
    <a [routerLink]="['/requests',backUrl]" routerLinkActive="router-link-active"  class="phd-back-btn">
        <i class="material-icons">keyboard_backspace</i>
    </a>
</div>

<div class="page-content-wrapper">
    <div class="page-content-inner-wrapper">
        <mat-tab-group>
            <mat-tab label="Application">
                <!-- <app-last-remark
                [workflow]="workflow"
                [requestId]="requestId">
            </app-last-remark> -->
            <app-lang-change-application></app-lang-change-application>
            </mat-tab>
            <mat-tab label="Payment Info">
                <app-payment-history
                    [paymentHistory] = "paymentHistory"
                    [paymentAction] = "paymentAction"
                >
                </app-payment-history
                >
            </mat-tab>
            <mat-tab label="Supporting Documents">
                <app-supporting-doc-detail 
                [requestDocuments]="requestDocuments"
                (supportDocs)="updateFile($event)">
                </app-supporting-doc-detail>
            </mat-tab>
            <mat-tab label="Remark"> 
                <app-remark-history
                    [remarkHistory] = "remarkHistory"
                >    
                </app-remark-history>
            </mat-tab>
          </mat-tab-group>          
    </div>
</div>