<div class="wf-img-container" *ngIf="!isContinueToPayment">
  <div class="wf-img-wrapper" style="background-image: url('assets/images/temp_img_005.jpg')">&nbsp;</div>
  <div class="wf-content-wrapper">
    <a href="#" (click)="goBack()" class="phd-back-btn"><i class="material-icons">keyboard_backspace</i></a>
    <h4>Extract</h4>
    <form class="wf-form-wp" [formGroup]="searchRequestForm">

      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.LAND_REG'|translate}}<span class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <select matNativeControl
                        required
                        (change)="onChangeLandRegistry($event.target.value)"
                        class="form-control"
                        formControlName="landRegistryId">
                  <option value="">{{'SEARCH_DOC.SELECT'|translate}}</option>
                  <option *ngFor="let item of landRegistries" [value]="item.landRegistryId">{{item.nameEng|listTranslate:item.nameSin:item.nameTam}}</option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.DOC_TYPE'|translate}}<span class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <select matNativeControl
                        required
                        class="form-control"
                        (change)="onChangeRequestType()"
                        formControlName="requestType">
                  <option [value]="SearchRequestType.FOLIO_DOCUMENT">{{'SEARCH_DOC.FOLIO_DOC'|translate}}</option>
                  <option [value]="SearchRequestType.DEED_DOCUMENT">{{'SEARCH_DOC.DEED_DOC'|translate}}</option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="pg-inner-row mb-20">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.NAME_OF_ATTESTED'|translate}}<span class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput
                       class="form-control"
                       formControlName="attestedByNotaryName">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.DISTRICT_STATION'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput
                       class="form-control"
                       formControlName="practicedLocation">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="pg-inner-row mb-20">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.DEED_NO'|translate}}<span class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput
                       class="form-control"
                       formControlName="numberOfTheDeed">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.NATURE_DEED'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput
                       class="form-control"
                       formControlName="natureOfTheDeed">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <span *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="mb-10" style="display: block;">{{'SEARCH_DOC.DATE_PROB'|translate}}</span>

      <div *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="pg-inner-row mb-20">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.FROM'|translate}}</label>
            <div class="default-input-feild date-feild">
              <mat-form-field appearance="outline">
                <input matInput readonly
                       [matDatepicker]="picker"
                       placeholder="Choose a date"
                       formControlName="probablePeriodFrom">
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <button mat-raised-button (click)="picker.open()">
                <i class="material-icons">calendar_today</i>
              </button>
            </div>
          </div>
        </div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.TO'|translate}}</label>
            <div class="default-input-feild date-feild">
              <mat-form-field appearance="outline">
                <input matInput readonly
                       [matDatepicker]="picker2"
                       [min]="minDate"
                       [max]="maxDate"
                       placeholder="Choose a date"
                       formControlName="probablePeriodTo">
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <button mat-raised-button (click)="picker2.open()">
                <i class="material-icons">calendar_today</i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="pg-inner-row mb-20">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.NAME_GRANTER'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput
                       class="form-control" formControlName="nameOfTheGranter">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.NAME_GRANT'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput
                       class="form-control" formControlName="nameOfTheGrantee">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col" *ngIf="requestType==SearchRequestType.FOLIO_DOCUMENT">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.NAME_AND'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput
                       class="form-control" formControlName="nameOfTheLand">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.EXTENT'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <input matInput
                       class="form-control" formControlName="extent">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.KORALE'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <select matNativeControl
                        class="form-control"
                        (change)="onChangeKorale($event.target.value)"
                        formControlName="koraleId">
                  <option value="">{{'SEARCH_DOC.SELECT'|translate}}</option>
                  <option *ngFor="let item of korales" [value]="item.koraleId">{{item.descriptionEng|listTranslate:item.descriptionSin:item.descriptionTam}}</option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.PATTU'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <select matNativeControl
                        class="form-control"
                        formControlName="paththuId">
                  <option value="">{{'SEARCH_DOC.SELECT'|translate}}</option>
                  <option *ngFor="let item of paththuwas" [value]="item.paththuwaId">{{item.descriptionEng|listTranslate:item.descriptionSin:item.descriptionTam}}</option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.DS_DIV'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <select matNativeControl
                        class="form-control"
                        (change)="onChangeDsDivision($event.target.value)"
                        formControlName="dsDivisionId">
                  <option value="">{{'SEARCH_DOC.SELECT'|translate}}</option>
                  <option *ngFor="let item of dsDivisions" [value]="item.dsDivisionId">{{item.description|listTranslate:item.descriptionSin:item.descriptionTam}}</option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.GN_DIV'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <select matNativeControl
                        class="form-control"
                        (change)="onChangeGnDivision($event.target.value)"
                        formControlName="gnDivisionId">
                  <option value="">{{'SEARCH_DOC.SELECT'|translate}}</option>
                  <option *ngFor="let item of gnDivisions" [value]="item.gnDivisionId">{{item.description|listTranslate:item.descriptionSin:item.descriptionTam}}</option>
                </select>
                <mat-error *ngIf="gnDivisions?.length==0">{{'SEARCH_DOC.SELECT_DS'|translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="pg-inner-row mb-20">
        <div class="pg-inner-col">
          <div class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.VILLAGE'|translate}}</label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <select matNativeControl
                        class="form-control"
                        formControlName="villageId">
                  <option value="">{{'SEARCH_DOC.SELECT'|translate}}</option>
                  <option *ngFor="let item of villages" [value]="item.villageId">{{item.description|listTranslate:item.descriptionSin:item.descriptionTam}}</option>
                </select>
                <mat-error
                  *ngIf="form.get('villageId').untouched">
                  {{'SEARCH_DOC.SELECT_GN'|translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="pg-inner-col">
          <div *ngIf="requestType==SearchRequestType.FOLIO_DOCUMENT" class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.REASON_SEARCH'|translate}}<span
              class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                 <textarea matInput
                           class="form-control" maxlength="255" formControlName="searchReasonId"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="requestType==SearchRequestType.DEED_DOCUMENT" class="default-input-wrapper full-row">
            <label>{{'SEARCH_DOC.REASON_SEARCH_DEED'|translate}} <span class="redtxt">*</span></label>
            <div class="default-input-feild">
              <mat-form-field appearance="outline">
                <select matNativeControl
                        class="form-control" formControlName="searchReasonId">
                  <option value="">{{'SEARCH_DOC.SELECT'|translate}}</option>
                  <option *ngFor="let item of searchReasons" [value]="item.searchReasonId">{{item.descriptionEng|listTranslate:item.descriptionSin:item.descriptionTam}}
                  </option>
                </select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="requestType==SearchRequestType.FOLIO_DOCUMENT">
        <span class="mb-10" style="display: block;">{{'SEARCH_DOC.REGISTERED_REQ_SEARCH'|translate}}</span>
        <div class="separator">&nbsp;</div>

        <div class="pg-inner-row mb-20">
          <div class="pg-inner-col">
            <div class="default-input-wrapper full-row">
              <label>{{'SEARCH_DOC.LR_DIV'|translate}} <span class="redtxt">*</span></label>
              <div class="default-input-feild">
                <mat-form-field appearance="outline">
                  <select matNativeControl
                          class="form-control"
                          formControlName="lrDivisionId">
                    <option value="">{{'SEARCH_DOC.SELECT'|translate}}</option>
                    <option *ngFor="let item of lrDivisions" [value]="item.landRegistryDivisionId">
                      {{item.divisionCode+' - '+(item.description|listTranslate:item.descriptionSin:item.descriptionTam)}}
                    </option>
                  </select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="pg-inner-col">
            <div class="default-input-wrapper full-row">
              <label>{{'SEARCH_DOC.VOLUME'|translate}} <span class="redtxt">*</span></label>
              <div class="default-input-feild">
                <mat-form-field appearance="outline">
                  <input matInput type="number"
                         inputMinValue="1"
                         inputMaxLength="10"
                         class="form-control" formControlName="volume">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="pg-inner-row mb-20">
          <div class="pg-inner-col">
            <div class="default-input-wrapper full-row">
              <label>{{'SEARCH_DOC.FOL_NO'|translate}} <span class="redtxt">*</span></label>
              <div class="default-input-feild">
                <mat-form-field appearance="outline">
                  <input matInput
                         type="number"
                         inputMinValue="1"
                         inputMaxLength="10"
                         class="form-control" formControlName="folioNo">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="pg-inner-col">
            <div class="default-input-wrapper full-row">
              <label>{{'SEARCH_DOC.NO_OF_YRS'|translate}} <span class="redtxt">*</span></label>
              <div class="default-input-feild">
                <mat-form-field appearance="outline">
                  <input matInput
                         type="number"
                         inputMinValue="1"
                         inputMaxLength="10"
                         class="form-control" formControlName="noOfYears">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="folioStatus" class="pg-inner-row mb-10">
          <mat-chip-list>
            <mat-chip [selected]="true"
                      [color]="folioStatus.code==FolioStatus.AVAILABLE?
                                                      'primary':(folioStatus.code==FolioStatus.NOT_AVAILABLE?'accent':'warn')">
              {{folioStatus.desc}}
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="pg-inner-row mb-10">
          <div class="pg-inner-col float-right ">
            <button [disabled]="folioStatus" mat-raised-button
                    (click)="onClickSearch()"
                    class="button float-right">{{'SEARCH_DOC.SEARCH'|translate}}
            </button>
          </div>
        </div>
      </div>

    </form>

    <div class="separator">&nbsp;</div>

    <div class="pg-inner-row mb-0">
      <div class="pg-inner-col float-right ">
        <button mat-raised-button
                class="lg-button green float-right"
                (click)="onClickSubmitExtractRequest()">{{'SEARCH_DOC.CONTINUE'|translate}}
        </button>
        <!--<button mat-raised-button class="lg-button" disabled><i class="material-icons">refresh</i> Reset</button>-->
        <!--<button mat-raised-button class="lg-button green">Submit Search Request</button>-->
      </div>
    </div>

  </div>
</div>
<app-payment *ngIf="isContinueToPayment"
             (response)="onPaymentResponse($event)"
             (paymentMethodResponse)="paymentMethodResponse($event)"
             (back)="onBack($event)"
             [statusOnlinePayment]="statusOnlinePayment"
             [returnUrl]="returnURl?returnURl:'login'"
             [workflowCode]="WorkflowCode.EXTRACT_REQUEST"
             [applicationFeeCode]="Parameters.EXTRACT_REQUEST_FEE"
             [isDocumentCollect]="true"
             [hasFrontCounterPayment]="true"
             [userType]="userType"
             [userId]="userId"
             >
            </app-payment>
