<app-last-remark *ngIf="isEdit" [requestId]="citizenDTO.reqId" [workflow]="WorkflowCode.CITIZEN_REGISTRATION">
</app-last-remark>
<form [formGroup]="publicUserForm">
  <div class="default-input-wrapper full-row half-cols">
    <label>{{'CITIZEN.TITLE'|translate}}
      <span>*</span></label>
    <div class="default-input-feild gray">
      <mat-select placeholder="{{'CITIZEN.SELECT_LAND_REG'|translate}}" formControlName="nearestLr" required
        (selectionChange)="getCurrentLandRegistry($event)">
        <mat-option *ngFor="let landRegistry of landRegistriesDTOList" [value]="landRegistry.landRegistryId">
          {{landRegistry.name| listTranslate: landRegistry.nameSin: landRegistry.nameTam}}</mat-option>
      </mat-select>
    </div>
  </div>

  <div class="default-input-wrapper full-row half-cols">
    <label>{{'CITIZEN.USER_TYPE'|translate}}<span>*</span></label>
    <div class="default-input-feild gray">
      <mat-select placeholder="{{'CITIZEN.SELECT'|translate}}" formControlName="type" required
        (selectionChange)="getCurrentUserType($event)">
        <mat-option [value]="PublicUserType.CITIZEN">{{'CITIZEN.CITIZEN'|translate}}</mat-option>
        <mat-option [value]="PublicUserType.BANK">{{'CITIZEN.BANK'|translate}}</mat-option>
        <mat-option [value]="PublicUserType.LAWYER">{{'CITIZEN.LAWYER'|translate}}</mat-option>
        <mat-option [value]="PublicUserType.STATE">{{'CITIZEN.STATE'|translate}}</mat-option>
        <mat-option [value]="PublicUserType.OTHER">{{'CITIZEN.OTHER1'|translate}}</mat-option>
      </mat-select>
    </div>
  </div>

  <div class="separator mt-30">&nbsp;</div>

  <div *ngIf="publicUserType.value == PublicUserType.LAWYER" class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.LAW_FIRM_NAME'|translate}} <span>*</span></label>
    <div class="default-input-feild">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Law Firm Name" formControlName="lawFirmName" />
      </mat-form-field>
      <div *ngIf="lawFirmName.invalid && (lawFirmName.dirty || lawFirmName.touched)">
        <mat-error *ngIf="lawFirmName.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}
        </mat-error>
        <mat-error *ngIf="lawFirmName.errors.pattern" class="errors">{{'CITIZEN.VALID_NAME'| translate}}</mat-error>
        <mat-error *ngIf="lawFirmName.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}</mat-error>
      </div>
    </div>
  </div>

  <div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.APPLICANT_NAME'|translate}} <span>*</span></label>
    <div class="default-input-feild">
      <mat-form-field appearance="outline">
        <input matInput placeholder="{{'CITIZEN.APPLICANT_NAME'|translate}}" formControlName="nameEnglish" />
      </mat-form-field>
      <div *ngIf="nameEnglish.invalid && (nameEnglish.dirty || nameEnglish.touched)">
        <mat-error *ngIf="nameEnglish.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}
        </mat-error>
        <mat-error *ngIf="nameEnglish.errors.pattern" class="errors">
          {{'CITIZEN.VALID_NAME'|translate}}</mat-error>
        <mat-error *ngIf="nameEnglish.errors.maxlength" class="errors">
          {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}</mat-error>
      </div>
    </div>
  </div>
  <div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.APPLICANT_NAME_SIN'|translate}}</label>
    <div class="default-input-feild">
      <mat-form-field appearance="outline">
        <input matInput placeholder="{{'CITIZEN.APPLICANT_NAME_SIN'|translate}}" formControlName="nameSinhala" />
      </mat-form-field>
      <div *ngIf="nameSinhala.invalid && (nameSinhala.dirty || nameSinhala.touched)">
        <mat-error *ngIf="nameSinhala.errors.pattern" class="errors">
          {{'CITIZEN.VALID_NAME'|translate}}</mat-error>
          <mat-error *ngIf="nameSinhala.errors.maxlength" class="errors">
            {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}</mat-error>
      </div>
    </div>
  </div>
  <div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.APPLICANT_NAME_TAM'|translate}}</label>
    <div class="default-input-feild">
      <mat-form-field appearance="outline">
        <input matInput placeholder="{{'CITIZEN.APPLICANT_NAME_TAM'|translate}}" formControlName="nameTamil" />
      </mat-form-field>
      <div *ngIf="nameTamil.invalid && (nameTamil.dirty || nameTamil.touched)">
        <mat-error *ngIf="nameTamil.errors.pattern" class="errors">
          {{'CITIZEN.VALID_NAME'|translate}}</mat-error>
        <mat-error *ngIf="nameTamil.errors.maxlength" class="errors">
          {{'VALIDATION.MAX_LENGTH_255_ERR'|translate}}</mat-error>
      </div>
    </div>
  </div>

  <div *ngIf="publicUserType.value == PublicUserType.OTHER" class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.OFFICERS_DESIGNATION'|translate}}<span>*</span></label>
    <div class="default-input-feild">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Officer's Designation" formControlName="officersDesignation" />
      </mat-form-field>
      <div *ngIf="officersDesignation.invalid && (officersDesignation.dirty || officersDesignation.touched)">
        <mat-error *ngIf="officersDesignation.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}
        </mat-error>
        <mat-error *ngIf="officersDesignation.errors.pattern" class="errors">
          {{'VALIDATION.DESIGNATION.DESIGNATION_ERR'| translate}}</mat-error>
        <mat-error *ngIf="officersDesignation.errors.maxlength" class="errors">
          {{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
      </div>
    </div>
  </div>
  <div *ngIf="publicUserType.value == PublicUserType.STATE" class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.STATE_INS_NAME'|translate}} <span>*</span></label>
    <div class="default-input-feild">
      <mat-form-field appearance="outline">
        <input matInput placeholder="State Institution Name" formControlName="stateInstitutionName" />
      </mat-form-field>
      <div *ngIf="stateInstitutionName.invalid && (stateInstitutionName.dirty || stateInstitutionName.touched)">
        <mat-error *ngIf="stateInstitutionName.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}
        </mat-error>
        <mat-error *ngIf="stateInstitutionName.errors.pattern" class="errors">
          {{'CITIZEN.VALID_NAME'| translate}}</mat-error>
        <mat-error *ngIf="stateInstitutionName.errors.maxlength" class="errors">
          {{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
      </div>
    </div>
  </div>

  <div *ngIf="publicUserType.value == PublicUserType.OTHER" class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.OTHER_INS_NAME'|translate}} <span>*</span></label>
    <div class="default-input-feild">
      <mat-form-field appearance="outline">
        <input matInput placeholder="{{'CITIZEN.OTHER_INS_NAME'|translate}}" formControlName="otherInstitutionName" />
      </mat-form-field>
      <div *ngIf="otherInstitutionName.invalid && (otherInstitutionName.dirty || otherInstitutionName.touched)">
        <mat-error *ngIf="otherInstitutionName.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}
        </mat-error>
        <mat-error *ngIf="otherInstitutionName.errors.pattern" class="errors">
          {{'CITIZEN.VALID_NAME'| translate}}</mat-error>
        <mat-error *ngIf="otherInstitutionName.errors.maxlength" class="errors">
          {{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
      </div>
    </div>
  </div>

  <div *ngIf="publicUserType.value == PublicUserType.BANK" class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.BANK_NAME'|translate}}<span>*</span></label>
    <div class="default-input-feild gray">
      <mat-select formControlName="bankName" required (selectionChange)="getCurrentBank($event)"
        placeholder="{{'CITIZEN.SELECT_BANK'|translate}}">
        <mat-option *ngFor="let bank of banks" [value]="bank.bankId">
          {{bank.bankName| listTranslate: bank.bankNameSin: bank.bankNameTam}}</mat-option>
      </mat-select>
      <div *ngIf="bankName.invalid && (bankName.dirty || bankName.touched)">
        <mat-error *ngIf="bankName.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
      </div>
    </div>
  </div>

  <div *ngIf="publicUserType.value != PublicUserType.OTHER">
    <div class="default-input-wrapper full-row half-cols">
      <label class="mw-200">{{'CITIZEN.ADDRESS_ENG'|translate}}<span>*</span></label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <input matInput
            placeholder="{{'CITIZEN.ADDRESS_ENG'|translate}}{{'CITIZEN.APPLICANT_NAME_SIN'|translate}}"
            formControlName="address1" />
        </mat-form-field>
        <div *ngIf="address1.invalid && (address1.dirty || address1.touched)">
          <mat-error *ngIf="address1.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
          <mat-error *ngIf="address1.errors.pattern" class="errors">
            {{'CITIZEN.VALID_ADDRESS'|translate}}</mat-error>
          <mat-error *ngIf="address1.errors.maxlength" class="errors">
            {{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
        </div>
      </div>
    </div>
    <div class="default-input-wrapper full-row half-cols">
      <label class="mw-200">{{'CITIZEN.ADDRESS_SIN'|translate}}</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <input matInput placeholder="{{'CITIZEN.ADDRESS_SIN'|translate}}" formControlName="address2" />
        </mat-form-field>
        <div *ngIf="address2.invalid && (address2.dirty || address2.touched)">
          <mat-error *ngIf="address2.errors.pattern" class="errors">
            {{'CITIZEN.VALID_ADDRESS'|translate}}</mat-error>
          <mat-error *ngIf="address2.errors.maxlength" class="errors">
            {{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
        </div>
      </div>
    </div>
    <div class="default-input-wrapper full-row half-cols">
      <label class="mw-200">{{'CITIZEN.ADDRESS_TAM'|translate}}</label>
      <div class="default-input-feild">
        <mat-form-field appearance="outline">
          <input matInput placeholder="{{'CITIZEN.ADDRESS_TAM'|translate}}" formControlName="address3" />
        </mat-form-field>
        <div *ngIf="address3.invalid && (address3.dirty || address3.touched)">
          <mat-error *ngIf="address3.errors.pattern" class="errors">
            {{'CITIZEN.VALID_ADDRESS'|translate}}</mat-error>
          <mat-error *ngIf="address3.errors.maxlength" class="errors">
            {{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}</mat-error>
        </div>
      </div>
    </div>
  </div>

  <div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.IDENT_TYPE'|translate}} <span>*</span></label>
    <div class="default-input-feild gray">
      <mat-select placeholder="{{'CITIZEN.SELECT_IDEN_TYP'|translate}}" formControlName="identificationType" required
        (selectionChange)="getCurrentIdentificationType($event)">
        <mat-option [value]="identificationType.NIC">{{'CITIZEN.NIC'|translate}}</mat-option>
        <mat-option [value]="identificationType.PASSPORT">{{'CITIZEN.PASSPORT'|translate}}</mat-option>
        <mat-option [value]="identificationType.DRIVING_LICENSE">{{'CITIZEN.DRIVING_LIC'|translate}}</mat-option>
      </mat-select>
    </div>
  </div>
  <div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.IDENTITY_NUMBER'|translate}}<span>*</span></label>
    <div class="default-input-feild">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Identification No" formControlName="identificationNo" />
      </mat-form-field>
      <div *ngIf="identificationNo.invalid && (identificationNo.dirty || identificationNo.touched)">
        <mat-error *ngIf="identificationNo.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}
        </mat-error>
        <mat-error *ngIf="identificationNo.errors.maxlength || identificationNo.errors.pattern" class="errors">{{'CITIZEN.VALID_REF_NUM'|translate}}</mat-error>
      </div>
    </div>
  </div>

  <div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.TEL_NO'|translate}} <span>*</span></label>
    <div class="default-input-feild">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Telephone Number(Primary)" formControlName="primaryContact" />
      </mat-form-field>
      <div *ngIf="primaryContact.invalid && (primaryContact.dirty || primaryContact.touched)">
        <mat-error *ngIf="primaryContact.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}
        </mat-error>
        <mat-error *ngIf="primaryContact.errors.pattern" class="errors">{{'CITIZEN.VALID_TEL'|translate}}</mat-error>
      </div>
    </div>
  </div>
  <div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.TEL_NO'|translate}} </label>
    <div class="default-input-feild">
      <mat-form-field appearance="outline">
        <input matInput placeholder="{{'CITIZEN.TEL2'| translate}}" formControlName="secondaryContact" />
      </mat-form-field>
      <div *ngIf="secondaryContact.invalid && (secondaryContact.dirty || secondaryContact.touched)">
        <mat-error *ngIf="secondaryContact.errors.pattern" class="errors">{{'CITIZEN.VALID_TEL'|translate}}</mat-error>
      </div>
    </div>
  </div>

  <div class="default-input-wrapper full-row half-cols">
    <label class="mw-200">{{'CITIZEN.REASON_FOR_APP'|translate}} <span>*</span></label>
    <div class="default-input-feild">
      <mat-form-field appearance="outline">
        <textarea matInput rows="5" placeholder="Reason" formControlName="reason"></textarea>
      </mat-form-field>
      <div *ngIf="reason.invalid && (reason.dirty || reason.touched)">
        <mat-error *ngIf="reason.errors.required" class="errors">{{'CITIZEN.FILL_REQ_FIELDS'|translate}}</mat-error>
        <mat-error *ngIf="reason.errors.pattern" class="errors">{{'VALIDATION.INVALID_REASON_ERR'| translate}}
        </mat-error>
        <mat-error *ngIf="reason.errors.maxlength" class="errors">{{'VALIDATION.MAX_LENGTH_255_ERR'| translate}}
        </mat-error>
      </div>
    </div>
  </div>

  <div class="separator mt-30">&nbsp;</div>

  <div class="pg-inner-col float-right" *ngIf="isEdit">
    <button [disabled]="!(publicUserForm.valid && isEnableUpdate) || showSpinner" mat-raised-button class="button float-right"
      (click)="saveCitizen()">
      {{'CITIZEN.UPDATE'|translate}}
      <mat-spinner [diameter]="16" *ngIf="showSpinner" class="spinner-inline"></mat-spinner>
    </button>
  </div>
</form>