<div id="payment" class="page-layout simple fullwidth" fxLayout="column">
  <div class="p-24">
    <div
      class="mb-24"
      fxLayout="column"
      fxLayoutAlign="start"
      fxLayout.gt-md="row"
    >
    </div>
  </div>
</div>
<div class="row">
  <mat-card class="mb-10 mt-10 ml-10 mr-10 mat-elevation-z5" *ngFor="let doc of supportingDocuments; let i = index">
    <div class="pg-inner-row mb-20">
      <h5>{{doc.name}}</h5>
    </div>
    <div class="pg-inner-row mb-20">
      <div class="pg-inner-col" style="width: 500px !important; height: 500px !important;">
        <ngx-image-viewer
          [src]="documentImages"
        >
        </ngx-image-viewer>
      </div>
      <div class="pg-inner-col">

      </div>

    </div>
  </mat-card>
  <!--<mat-card *ngFor="let document of docList">-->
    <!--<div class="default-input-wrapper full-row">-->
      <!--<label>{{document.description}}-->
        <!--<span *ngIf="document.required == true">*</span>-->
      <!--</label>-->
      <!--<file-upload-input (response)="setFiles($event,document.docTypeId,document.docId)"></file-upload-input>-->
    <!--</div>-->
  <!--</mat-card>-->
</div>
<!--<div *ngIf="docList.length!=0" class="pg-inner-col float-right">-->
  <!--<button mat-raised-button class="button float-right" type="button" (click)="onFormSubmit($event)">Apply Changes</button>-->
<!--</div>-->

