<div class="dashboard-container" *ngIf="isApplicationDetails && !isNotaryDetails">
    <div class="dashboard-inner-container">
        <div class="db-left-col" style="background-image: url('../../../assets/images/temp_img_005.jpg')">&nbsp;</div>
        <div class="db-right-col inner-sd">
            <a href="" class="phd-back-btn"><i class="material-icons">keyboard_backspace</i></a>

            <h2>Welcome to E-Land</h2>
            <p>Welcome back please login to your acount</p>

            <div class="db-main-wp">
                <h4><i class="material-icons">assignment_late</i> Applications</h4>

                <div class="db-card-full r-col">
                    <div class="db-card-header" style="background-image: url('../../../assets/images/temp_img_006.jpg')"></div>
                    <div class="db-card-content">
                        <dl class="db-card-info">
                            <dt>No.</dt>
                            <dd>A/10/100</dd>
                        </dl>
                        <dl class="db-card-info">
                            <dt>Name:</dt>
                            <dd>Yohani Gamage</dd>
                        </dl>
                        <dl class="db-card-info">
                            <dt>Notary Id:</dt>
                            <dd>Battaramulla/002</dd>
                        </dl>
                        <dl class="db-card-info">
                            <dt>Payment:</dt>
                            <dd>Online</dd>
                        </dl>
                        <dl class="db-card-info">
                            <dt>Status:</dt>
                            <dd>Approved</dd>
                        </dl>
                        <div class="clear">&nbsp;</div>
                    </div>
                    <div class="db-card-bottom">
                        <button mat-raised-button class="green" [routerLink]="['/view-notary']">View</button>
                    </div>
                </div>

            </div>
          <div>

          </div>
            <!-- Search -->
            <div class="db-search">
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Search">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isNotaryDetails" class="container">
  <app-view-notary></app-view-notary>
</div>
