<div class="dashboard-container">
    <div class="dashboard-inner-container">
        <div class="db-left-col" style="background-image: url('../../../assets/images/temp_img_005.jpg')">&nbsp;</div>
        <div class="db-right-col inner-sd">
            <a href="" class="phd-back-btn"><i class="material-icons">keyboard_backspace</i></a>

            <h2>Welcome to E-Land</h2>
            <p>Welcome back please login to your acount</p>

            <div class="db-main-wp">
                <h4><i class="material-icons">assignment_late</i> Requests</h4>
            </div>
            <!-- Search -->
            <div class="db-search">
                <div class="default-input-feild">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Search">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>